<a href="https://colab.research.google.com/github/soiejung/PythonStudy/blob/main/%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0. 복습

1. if문을 활용하여 사용자로부터 입력 받은 시간이 정각인지를 판별하도록 만들어보세요.
```
>> 현재시간:02:00
정각입니다.
>> 현재시간:03:10
정각이 아닙니다
```

In [ ]:
time = input('현재시간:')
i = time.index(':')
if time[i+1:] == '00':
    print('정각입니다')
else:
    print('정각이 아닙니다.')

현재시간:03:10
정각이 아닙니다.

- 분기문

2. 아래 출력결과를 예상해보시고 실제로 출력해보세요.
```
print(3 == 5)
print(3 == '3')
```

In [ ]:
print(3 == 5)
print(3 == '3')

False
False

3. 아래 출력결과를 예상해보시고 실제로 출력해보세요.
```
x = 4
print(2 < x < 7)
```

In [ ]:
x = 4
print(2 < x < 7)

True

4. 아래 출력결과를 예상해보시고 실제로 출력해보세요. 주석으로 왜 이런 결과가 나오는지도 설명을 달아주세요.
~~~
if 9 < 5:
    print("Hello World.")
else:
    print("Good bye World.")
~~~

In [ ]:
if 9 < 5:
 print("Hello World.")
else:
 print("Good bye World.")

 # 9보다 5가 큰 조건문은 False이기 때문에
 # if 문은 True일때 실행

Good bye World.

5. input() 메소드를 사용하여 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 100을 더해 출력하여 주세요.

In [ ]:
a = input('하나의 숫자를 입력해주세요: ')
print(100+int(a))

하나의 숫자를 입력해주세요: 3
103

6. 아래 코드를 눈으로 확인하시고 어떤 결과가 출력될지 예상해보세요.
*각각의 경우 옆에 왜 출력되거나 출력되지 않았는지 주석처리 해주세요*

```
if []:
 print("1 - []은 True입니다.")

if [4, 5, 6]:
 print("2 - [4, 5, 6]은 True입니다.")

a = [4,5,6]
if (0 or 2 or 4) in a:
 print("3 - (0 or 2 or 4) in a는 True입니다.")

if (0 or 2 or 4):
 print("4 - (0 or 2 or 4)는 True입니다.")

if (0 and 2 and 4):
  print("5 - (0 and 2 and 4)는 True입니다.")

if {}:
 print("6 - {}은 True입니다.")

if {'abc': 1}:
 print("7 - {'abc':1}은 True입니다.")

if 0:
 print("8 - 0은 True입니다.")

if 1:
 print("9 - 1은 True입니다.")
 ```

In [ ]:
if []: # list 안에 존재하지 않아서 False 이기 때문에 실행 하지 않음
 print("1 - []은 True입니다.")

if [4, 5, 6]: # list 안에 존재하기 때문에 True 여서 실행
 print("2 - [4, 5, 6]은 True입니다.")

a = [4,5,6]
if (0 or 2 or 4) in a: # a 안에 4가 존재하기 때문에 True
 print("3 - (0 or 2 or 4) in a는 True입니다.")

if (0 or 2 or 4): # 무엇이 0 또는 2 또는 4 인지 정하지 않아서 False
 print("4 - (0 or 2 or 4)는 True입니다.")

if (0 and 2 and 4): # 무엇이 0 그리고 2 그리고 4 인지 정하지 않아서 False
  print("5 - (0 and 2 and 4)는 True입니다.")

if {}: # dic 안에 아무것도 존재하지 않아서 False
 print("6 - {}은 True입니다.")

if {'abc': 1}: # dic 안에 존재하기 때문에 True
 print("7 - {'abc':1}은 True입니다.")

if 0: # 0은 False
 print("8 - 0은 True입니다.")

if 1: # 1은 True
 print("9 - 1은 True입니다.")

2 - [4, 5, 6]은 True입니다.
4 - (0 or 2 or 4)는 True입니다.
7 - {'abc':1}은 True입니다.
9 - 1은 True입니다.

7. user_id = abcd
user_pw = 1234
인 경우에

id와 pw를 입력받아서
둘다 일치하면 '로그인 되셨습니다'
일치하지 않으면 '로그인을 다시 시도하세요."

를 출력하는 조건문을 만들어주세요.

In [ ]:
user_id = 'abcd'
user_pw = '1234'
id = input('아이디를 입력해주세요: ')
pw = input('패스워드를 입력해주세요: ')

if id == user_id and pw == user_pw:
    print('로그인 되셨습니다.')
else:
    print('로그인을 다시 시도하세요.')

아이디를 입력해주세요: abcd
패스워드를 입력해주세요: 1234
로그인 되셨습니다.

위 조건문을 아래 3가지 경우로 변경하려면 어떻게 수정해야 할지 고민해보세요.
- 1) id가 맞는지 먼저 확인하고, 맞는 경우 '비밀번호를 입력하세요'라는 입력창이 뜹니다. 비밀번호가 맞으면 '로그인 되셨습니다', 비밀번호가 틀리면 '비밀번호가 틀립니다'라는 문장이 출력됩니다.

- 2) id와 비밀번호를 같이 입력받고, 둘다 맞으면 '로그인 되셨습니다'라는 문장을, 둘 중 하나가 틀리면 둘중에 뭐가 틀렸는지를 알려줍니다.

In [ ]:
user_id = 'abcd'
user_pw = '1234'
id = input('아이디를 입력해주세요: ')


if id == user_id:
    pw = input('비밀번호를 입력하세요: ')
    if pw == user_pw:
        print('로그인 되셨습니다.')
    else:
        print('비밀번호가 틀립니다.')

else:
    print('아이디가 틀립니다.')

아이디를 입력해주세요: abcd
비밀번호를 입력하세요: 1234
로그인 되셨습니다.

In [ ]:
user_id = 'abcd'
user_pw = '1234'
id = input('아이디를 입력해주세요: ')


if id == user_id:
    pw = input('비밀번호를 입력하세요: ')
    if pw == user_pw:
        print('로그인 되셨습니다.')
    else:
        print('비밀번호가 틀립니다.')

else:
    print('아이디가 틀립니다.')

In [ ]:
user = {}

if not user:
    check = input('새로 가입하시겠습니까?(Y/N)')
    if check == 'Y':
        user['user_id'] = input('아이디를 입력해주세요: ')
        user['user_pw'] = input('비밀번호를 입력하세요: ')



log = input('로그인 하시겠습니까?(Y/N)')
if log == 'Y':
    id = input('아이디를 입력해주세요: ')
    if id == user['user_id']:
        pw = input('비밀번호를 입력하세요: ')
        if pw == user['user_pw']:
            print('로그인 되셨습니다.')
        else:
            print('비밀번호가 틀립니다.')
    else:
        print('아이디가 틀립니다.')

새로 가입하시겠습니까?(Y/N)Y
아이디를 입력해주세요: 1
비밀번호를 입력하세요: 1
로그인 하시겠습니까?(Y/N)Y
아이디를 입력해주세요: 1
비밀번호를 입력하세요: 1
로그인 되셨습니다.

- 다 작성하신 분은 구글드라이브의 PPT 파일의 어제 작성한 기아차 네비 순서도 옆에 코드를 작성해주시고, 다른 분의 코드도 리뷰해주세요!!

# 1. 수업
# 반복문

- 반복을 하는 거죠
- 파이썬에서는 반복을 위한 2가지 형태의 방법이 있습니다
    - while
    - for

## while

    - 기본형태가 if와 유사합니다.
    - if가 명제를 한번만 검사하고 분기를 한다면
    - while은 명제를 여러번 검사 (틀릴 때 까지)
    - 그래서 while을 반복문이라고 부릅니다.

```
while 명제:
    while 블록
```

In [ ]:
# n이 1에서 시작해서 10이 될 때까지 정수를 출력하는 반복문을 하나 만들겠습니다.
# 조건이 True 일때만 반복문이 수행된다
n = 1
while n <=10:
    if i % 2 != 0:
        print(n)
    n+=1

In [ ]:
while False:
    print('hello')

In [ ]:
# 1,3,5,7,9를 출력하는 while문을 만들어주세요
i = 1
while i < 10:
    if i%2 != 0:
        print(i)
    i+=1

1
3
5
7
9

In [ ]:
# 10, 8, 6, 4, 2
i = 10
while i > 0:
    if i%2 == 0:
        print(i)
    i-=1

10
8
6
4
2

## 실습. input으로 숫자를 입력받고 1부터 그 숫자만큼 하나씩 번호를 더하면서 출력하는 while문을 만들어주세요.

In [ ]:
i = input('숫자를 입력해주세요: ')
n = 1
while n <= int(i):
    print(n)
    n+=1

숫자를 입력해주세요: 4
1
2
3
4

### x를 입력하기 전까지는 계속 무언가를 타이핑해야만 하는 프로그램

```
무언가 입력중입니다
종료하려면 x를 입력하세요 : ㄴ
무언가 입력중입니다
종료하려면 x를 입력하세요 : x
무한 반복이 종료되었습니다
```

```
c:\> 1
1
c:\> 2
2
c:\> 4
4
c:\> x
x
프로그램이 종료되었습니다
```

In [ ]:
flag = True
# flag 라는 변수명을 가진 변수들은 True or False 값을 담고 있다.
# 이 값을 변경해서 특정 조건이 성립하는지를 체크해주는 변수
# 반복문, 조건문 등 제어문이 길어지거나 복잡해질 때, 중간에서 끊어서 사용하기 위해서도 많이 사용한다.
while flag:
    a = input('c:\> ')
    print(a)
    if a == 'x':
        print('프로그램이 종료되었습니다')
        flag = False

c:\> 1
1
c:\> 2
2
c:\> x
x
프로그램이 종료되었습니다

22## 1~10 사이에 짝수만 출력하는 while문을 만들어볼게요.

In [ ]:
i = 1
while i <= 10:
    if i%2 == 0:
        print(i)
    i+=1

2
4
6
8
10

## 1~20 사이에 3의 배수만 더하는 while문을 만들어주세요.

In [ ]:
# 방법 1 - 거짓이 될 수도 있는 명제 안에 3의 배수일 때만 더하는 if문 사용
# 방법 2 - 거짓이 될 수도 있는 명제 안에 3의 배수가 아닐 때만 if문 사용
# 방법 3 - 거짓이 될 수도 있는 명제 안에 * 3 사용
# 방법 4 - 무한루프 안에 거짓이 될 수도 있는 명제 사용

In [ ]:
# 방법 1 - 거짓이 될 수도 있는 명제 안에 3의 배수일 때만 더하는 if문 사용
i = 1
sum = 0
while i <= 20:
    if i % 3 == 0:
        sum += i
    i+=1
print(sum)

63

In [ ]:
# 방법 2 - 거짓이 될 수도 있는 명제 안에 3의 배수가 아닐 때만 if문 사용
i = 1
sum = 0
while i <= 20:
    if i % 3 != 0:
        i+=1
        continue
    else:
        sum += i
        i+=1

print(sum)

63

In [ ]:
# 방법 3 - 거짓이 될 수도 있는 명제 안에 * 3 사용
i = 1
sum = 0
while 3 * i <= 20:

    sum += (3*i)
    i+=1

print(sum)

63

In [ ]:
# 방법 4 - 무한루프 안에 거짓이 될 수도 있는 명제 사용
i = 1
sum = 0
while True:

    if i <= 20:
        if i % 3 == 0:
            sum+=i
    else:
        break
    i+=1

print(sum)

63

# for
    - 많이 사용하는 문법입니다
    - 이터레이블 타입에 굉장히 특화되어있기 때문입니다.

    - 이터레이블?
        - 반복 가능한 모든 종류의 객체를 의미합니다.
        - 첫번재 원소부터 마지막 원소까지 순서대로 접근이 가능하면 이터레이블이라고 부릅니다.
        - 시퀀스 타입
            - 리스트, 튜플, 문자열
       - 매핑형 자료들도 이터레이블화 해서 for문으로 가져올 수 있습니다
        - 매핑형
            - 딕셔너리 셋 등등등..


for의 기본적인 형태는 다음과 같습니다


```
for 변수 in 이터레이블:
    # for 블록
```

- 이터레이블 원소 개수만큼 반복을 하게 됩니다.
- 끝까지 반복하게 할수도, 중간에 끊을수도, 시작점을 다르게 할 수도 있습니다

# for문의 다양한 형태

- range와 함께 자주 쓰입니다.
- range(시작점, 끝+1, step)

#### 실습. 다음 코드를 for문으로 작성해 보세요.
~~~
a = 10
print(a)
a = 20
print(a)
a = 30
print(a)
~~~

In [ ]:
# li1 : 0~4가 담겨있는 list를 하나 만들어주세요 range를 활용합니다 [0,1,2,3,4]
li1 = list(range(0,5))
li1

[0, 1, 2, 3, 4]

In [ ]:
# li2 : 0~4에서 짝수만 담겨있는 list를 하나 만들어주세요 range를 활용합니다 [0,2,4]
li2 = list(range(0,5,2))
li2

[0, 2, 4]

0~4까지 출력하는 for문을 하나 만들어주세요. range를 활용합니다.

In [ ]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [ ]:
# 시퀀스타입에서는 인덱스를 통해서 리스트의 원소를 하나씩 참조하는 방식으로 for문이 작동합니다.

In [ ]:
# 인덱스 번호가 홀수인 값만 꺼내오기

arr = [10,20,30,40,50]
for i in range(len(arr)):
    if i % 2 != 0:
        print(arr[i])

20
40

실습. 다음 코드를 for문으로 작성해주세요.
```
print('1번 끝')
print("-------")
print('2번 끝')
print("-------")
print('3번 끝')
print("-------")
```

In [ ]:
for i in range(1,4):
    print(str(i)+'번 끝')
    print('-------')

1번 끝
-------
2번 끝
-------
3번 끝
-------

In [ ]:
# 이름 님 안녕하세요! 라고 우리반 모두에게 인사해주세요!
woori_ai = ('고명재', '공수현', '김시아', '김연지', '김주영', '김태완', '김현수', \
            '김현지', '김형섭', '김혜진', '민채영', '박지용', '박지현', \
            '배주은', '배지원', '신유진', '안수민', '안제현', '오수민', \
            '우미림', '이민희', '이소영', '이신우', '이옥석', '이우윤', \
            '이주혁', '장지우', '정소이', '정윤구', '정진우', '정해정', \
            '최하성', '홍성재')

for w in woori_ai:
    print(w+' 님 안녕하세요!')

고명재 님 안녕하세요!
공수현 님 안녕하세요!
김시아 님 안녕하세요!
김연지 님 안녕하세요!
김주영 님 안녕하세요!
김태완 님 안녕하세요!
김현수 님 안녕하세요!
김현지 님 안녕하세요!
김형섭 님 안녕하세요!
김혜진 님 안녕하세요!
민채영 님 안녕하세요!
박지용 님 안녕하세요!
박지현 님 안녕하세요!
배주은 님 안녕하세요!
배지원 님 안녕하세요!
신유진 님 안녕하세요!
안수민 님 안녕하세요!
안제현 님 안녕하세요!
오수민 님 안녕하세요!
우미림 님 안녕하세요!
이민희 님 안녕하세요!
이소영 님 안녕하세요!
이신우 님 안녕하세요!
이옥석 님 안녕하세요!
이우윤 님 안녕하세요!
이주혁 님 안녕하세요!
장지우 님 안녕하세요!
정소이 님 안녕하세요!
정윤구 님 안녕하세요!
정진우 님 안녕하세요!
정해정 님 안녕하세요!
최하성 님 안녕하세요!
홍성재 님 안녕하세요!

In [ ]:
# 1, 이름 님 안녕하세요! 처럼 번호를 매겨서 인사해주세요!

for i in range(1, len(woori_ai)+1):

    print(str(i)+', '+woori_ai[i-1]+' 님 안녕하세요!')

1, 고명재 님 안녕하세요!
2, 공수현 님 안녕하세요!
3, 김시아 님 안녕하세요!
4, 김연지 님 안녕하세요!
5, 김주영 님 안녕하세요!
6, 김태완 님 안녕하세요!
7, 김현수 님 안녕하세요!
8, 김현지 님 안녕하세요!
9, 김형섭 님 안녕하세요!
10, 김혜진 님 안녕하세요!
11, 민채영 님 안녕하세요!
12, 박지용 님 안녕하세요!
13, 박지현 님 안녕하세요!
14, 배주은 님 안녕하세요!
15, 배지원 님 안녕하세요!
16, 신유진 님 안녕하세요!
17, 안수민 님 안녕하세요!
18, 안제현 님 안녕하세요!
19, 오수민 님 안녕하세요!
20, 우미림 님 안녕하세요!
21, 이민희 님 안녕하세요!
22, 이소영 님 안녕하세요!
23, 이신우 님 안녕하세요!
24, 이옥석 님 안녕하세요!
25, 이우윤 님 안녕하세요!
26, 이주혁 님 안녕하세요!
27, 장지우 님 안녕하세요!
28, 정소이 님 안녕하세요!
29, 정윤구 님 안녕하세요!
30, 정진우 님 안녕하세요!
31, 정해정 님 안녕하세요!
32, 최하성 님 안녕하세요!
33, 홍성재 님 안녕하세요!

## for와 range만 이용해서 해당 list1에 있는 모든 원소를 출력해주세요.

In [ ]:
list1 = ['a','b','c','d','e','f','g','e','f','g','h']

In [ ]:
for i in range(len(list1)):
    print(list1[i])

a
b
c
d
e
f
g
e
f
g
h

## 실습. 1에서 20까지의 정수 중 3의 배수 출력하고 합계 구하기
- 아까 while문으로 만든 것을 for문으로 바꿔주시면 됩니다

In [ ]:
sum = 0
for i in range(1, 21):
    if i %3 == 0:
        sum += i

print(sum)

63

# 매핑형 + for문
- 딕셔너리, Set
- 특성상 데이터가 정렬되어 있지 않기 때문에 인덱스로 가져올 수 없습니다
- 랜덤한 출력은 가능하지만, 특정 순서대로 출력할 수는 없습니다.(.sort() 등 별도의 명령문을 사용하지 않는 한은)

In [ ]:
# set + for문
# set1에는 'a', 'b', 'c', 'd'가 들어있습니다. 값을 넣으시고 반복문으로 한줄에 한개씩 출력해보세요.
set1 = {'a', 'b', 'c', 'd', 'a'}

for s in set1:
    print(s)

c
d
a
b

In [ ]:
# dict + for문
fruits = {'딸기': 'Strawberry', '바나나': 'Banana', '사과': 'Apple', '포도': 'Grape'}

for f in fruits:
    print(f)

딸기
바나나
사과
포도

In [ ]:
# 키만 꺼내서 출력해보시고

for f in fruits.keys():
    print(f)

딸기
바나나
사과
포도

In [ ]:
# 밸류만 꺼내서 출력해보시고
for f in fruits.values():
    print(f)

Strawberry
Banana
Apple
Grape

In [ ]:
# 키 - 밸류(아이템) 순서로 꺼내서 출력해보세요
'''
출력결과:
딸기 - Strawberry
바나나 - Banana
사과 - Apple
포도 - Grape
'''

for key, value in fruits.items():
    print(key,'-', value)

딸기 - Strawberry
바나나 - Banana
사과 - Apple
포도 - Grape

In [ ]:
a, b, c = (10, 20, 30, 40, 50) # ValueError: too many values to unpack (expected 3)
print(a)
print(b)
print(c)

ValueError: ignored

In [ ]:
a, b, *c = (10, 20, 30, 40, 50)
print(a)
print(b)
print(c)

10
20
[30, 40, 50]

실습1.

- 연필, 공책, 신발 각 1종씩만 파는 연지상회가 있습니다. 다음과 같이 가격표를 출력해주세요.

Input:

    sale = { '연필':500, '공책':1200, '신발':58000}'

Output:

    연필 500
    공책 1200
    신발 58000

In [ ]:
sale = {'연필':500, '공책':1200, '신발':58000}

for key, value in sale.items():
    print(key, value)

연필 500
공책 1200
신발 58000

실습2.

- 장사가 너무 잘 돼서 품목을 늘렸습니다. 연필, 공책, 신발을 각 2종씩 팔기로 했습니다. 가격표를 다시 출력해주세요.

Input:

    sale1 = { '연필' : [500, 300], '공책': [1200, 2100], '신발':[58000, 2121000]}

Output:

    연필 500, 연필 300
    공책 1200, 공책 2100
    신발 58000, 신발 2121000

In [ ]:
sale1 = { '연필' : [500, 300], '공책': [1200, 2100], '신발':[58000, 2121000]}

for key, value in sale1.items():
    print(key, value[0],',', key, value[1])

연필 500 , 연필 300
공책 1200 , 공책 2100
신발 58000 , 신발 2121000

실습3. 장사가 더더 잘돼서 이제 1000원 미만의 상품은 안 팔기로 했습니다. 1000원 미만인 상품의 가격표만 출력해주세요.

In [ ]:
sale1 = { '연필' : [500, 300], '공책': [1200, 2100], '신발':[58000, 2121000]}

for key, value in sale1.items():

    for v in value:
        if v < 1000:
            print(key, v)

연필 500
연필 300

실습4. 손님들이 배가 불렀다며 연지상회를 더이상 찾지 않아서 눈물의 이별세일을 합니다.

**장부(sale1)에는 그대로 있되 출력결과만 할인된 상태의 값으로 20프로씩 물건값을 할인해서 판매하는 가격표를 출력해주세요.**

In [ ]:
sale1 = { '연필' : [500, 300], '공책': [1200, 2100], '신발':[58000, 2121000]}
for key, value in sale1.items():

    print(key, int(value[0] * 0.8), key, int(value[1] * 0.8))

연필 400 연필 240
공책 960 공책 1680
신발 46400 신발 1696800

실습5. 폐업처리를 하려고 보니 장부의 가격과 틀려서 더 많은 세금을 내게 생겼습니다.

**장부 가격(sale1)도 20프로씩 할인된 물건값으로 변경해주세요.**

In [ ]:
sale1 = { '연필' : [500, 300], '공책': [1200, 2100], '신발':[58000, 2121000]}

for s in sale1.items():

    for i in range(len(s[1])):
        s[1][i] = int(s[1][i] * 0.8)
sale1

{'연필': [400, 240], '공책': [960, 1680], '신발': [46400, 1696800]}

## 1~9 사이의 숫자 하나를 입력받아서 해당 단수의 구구단을 출력해주세요

In [ ]:
num = input('구구단 출력을 위해 숫자를 입력하시오: ')
for i in range(1, 10):
    print(num+'x'+str(i)+'=', int(num)*i)

구구단 출력을 위해 숫자를 입력하시오: 1
1x1= 1
1x2= 2
1x3= 3
1x4= 4
1x5= 5
1x6= 6
1x7= 7
1x8= 8
1x9= 9

# 파이썬의 반복문을 보고 있습니다.
- while, for 밖에 없다 확인했고요
- for 문 안에도 for문을 넣어서 반복을 중첩시킬 수 있습니다.

```
for i in range(숫자):
    print('안녕')
   for j in range(또다른 숫자):
        그 안에 실행문
    실행문
```

#### 반복문에서 사용하는 네이밍 규칙(권장일 뿐)
- i 가 의미하는 것은 iterable의 약자입니다. itr로 표현하기도 하는데 결국 같은 표현입니다.

- i, j, k, ...... -> 순서나 인덱스를 의미할 때
- a, b, 임시변수명(tmp), _(underscore) -> 매개변수를 직접 의미할 때는

- count, cnt -> 개수를 의미하는 용도
- 여러개 단어를 합쳐서 쓸 때는 스네이크 케이스 snake_case

# 연습해보는 수밖에 없어요 ㅠㅠ
## 울지 마시구요.....

실습. 위에서 구구단을 한 단만 출력한 코드를 수정하여 구구단을 1~9단까지 출력해보세요.

In [ ]:
for i in range(2, 10):
    print(i,'단')
    for k in range(1, 10):
        print(i, 'x', k, '=', i*k)
    print('끝\n')

2 단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
끝

3 단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
끝

4 단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
끝

5 단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
끝

6 단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
끝

7 단
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
끝

8 단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
끝

9 단
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
끝

    2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
    2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
    2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
    2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
    2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
    2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
    2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
    2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
    2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

In [ ]:
#구구단을 가로로도 출력해보세요
for i in range(1, 10):
    for k in range(2, 10):
        print(k, 'x', i, '=', i*k, end = '\t')
    print()

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

# 반복문
- 중첩 반복문으로 1~9단을 직접 출력 해보았습니다.

## 그러면 while 문으로도 중첩이 가능할까??

In [ ]:
i = 1
while i <= 9:
    k = 2
    while k <= 9:
        print(k, 'x', i, '=', i*k, end = '\t')
        k += 1
    print()
    i += 1

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81