<a href="https://colab.research.google.com/github/soiejung/PythonStudy/blob/main/%EB%B3%80%EC%88%98%EC%99%80%EC%97%B0%EC%82%B0%EC%9E%90_%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%83%80%EC%9E%85_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0. 복습

### 1. 화면에 Hello World 문자열을 출력하세요.

In [ ]:
print('Hello World')

Hello World

### 2. 화면에 아래 문장을 출력하세요.

연지가 말했다. "좋은 아침입니다".

In [ ]:
print('연지가 말했다. \"좋은 아침입니다.\"')

연지가 말했다. "좋은 아침입니다."

2-1. 이스케이핑 문자를 사용하여 "좋은 아침입니다" 부분을 다시 출력해보세요.

In [ ]:
print('연지가 말했다. \"좋은 아침입니다.\"')

연지가 말했다. "좋은 아침입니다."

### 3. 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.


print("안녕하세요.\n만나서\t\t반갑습니다.")

In [ ]:
print("안녕하세요. \n만나서\t\t반갑습니다.")
# \t는 4칸을 띄워주고 \n은 행을 바꿔준다.

안녕하세요.
만나서		반갑습니다.

### 4. 3번의 출력결과를 \n, \t 를 사용하지 않고 출력해보세요.

In [ ]:
print("안녕하세요.");
print("만나서        반갑습니다.")

안녕하세요.
만나서        반갑습니다.

### 5. 5/10의 결과를 화면에 출력하세요.

In [ ]:
print(5/10) #함수 안에서 또 다른 연산을 수행시킬 수 있다. 그러면 () 안에 있는 연산이 먼저 수행된다.
# int끼리 나눴는데 float으로 결과가 출력되는 것
# 파이썬은 기본적으로 자료형을 자동으로 지정해줍니다 - 그 과정에서 손실이 없도록
# 나눗셈은 float으로 결과를 출력해 주고 있다.

0.5

6-1. 변수 a에는 'Life is'라는 문자열, b에는 42라는 숫자를 바인딩(할당)하시고, 아래처럼 출력해주세요.
```
Life is 42 !
```

In [ ]:
a = 'Life is'

In [ ]:
b = 42

In [ ]:
print(a,b,'!') # ,로 출력을 요청했을 때는 3개의 서로 다른 자료를 출력 요청했기 때문에 자료형에 구애받지 않고 출력된다.
# 다만 ' '으로 3개의 자료를 분리해서 출력한다.

Life is 42 !

6-2. 위에서 만든 변수 a, b의 타입을 확인하는 함수를 이용하여 각각의 타입을 확인해주세요.

In [ ]:
type(a)

str

In [ ]:
type(b)

int

8. month라는 변수에 문자열 "2022.08"를 바인딩하신 후 실수(float)타입으로 변환해보세요.
- 파이썬에서 자료형 변환을 위해서는 int(자료, 혹은 자료를 담은 변수명) 처럼 자료형을 나타내는 예약어를 함수로 사용합니다.

In [ ]:
month = '2022.08'

In [ ]:
float(month) # 실수로 바꿔줘 라고 요청한 결과를 변수에 저장하지 않았음
# 화면에만 float으로 바꿔서 출력하라 했기 때문에 메모리에는 여전히 str로 저장되어 있음

2022.08

In [ ]:
month = float(month)
type(month)

float

# 1. 수업

# 사칙연산 (+, -, /, *)
  - 추가적인 사칙연산 : 지수연산(**) 몫연산 (//) 나머지 연산 (%)로 표기합니다.
- 부호 (-)

In [ ]:
2**3 #2의 3승

8

In [ ]:
2//3 #몫만

0

In [ ]:
2%3 #나머지만

2

In [ ]:
'정소이' * 3 # 곱셈은 됨

'정소이정소이정소이'

In [ ]:
1 + 1.2 # int와 float은 다른 자료형이지만 큰 틀에서는 숫자형이기 때문에 사칙연산이 모두 성립된다.

2.2

In [ ]:
1 + True

2

- 논리연산자 - 불리언 연산자 (and, or, not)
- 비교연산자
  - `=` 같다라는 뜻 아닙니다 -> 프로그래밍 언어에서는 할당 연산자로 사용을 합니다.
  - `==` 같다라는 뜻 -> 항등 연산자, 자료형 타입과 값을 함께 비교
  - a = 3 a라는 변수명에 3을 넣겠다
  - ==, !=, > < >= <=

In [ ]:
a = 3 # 변수에 자료를 할당할 때 등호기호를 사용합니다.

In [ ]:
a == 3

True

In [ ]:
'3' == 3 # 값은 같지만 자료형이 다르기 때문에

False

In [ ]:
int('3') == 3

True

In [ ]:
3 > 1

True

In [ ]:
3 < 1

False

In [ ]:
3 != '3'

True

In [ ]:
'A' >= 'a'

False

In [ ]:
'A' == 'a'

False

In [ ]:
'A' != 'a'

True

In [ ]:
ord('A') # 해당 문자의 아스키코드(혹은 파이썬에서는 utf-8이 기본이니 유니코드)를 보여줌

65

In [ ]:
ord('a')

97

In [ ]:
'a' > 'A'

True

우선순위
```
 ()  >  **  > -(negative)  >  *, /, //, %  > +, -
```

 - 따로 우선순위를 외우시는 건 추천하지 않습니다.
 - ( ) 괄호로 우선 연산해야 하는 것들을 꼭 묶어주세요.
 - 남들이랑 같이 개발할 거잖아요 - 가독성 면에서도 큰 도움이 됩니다.

In [ ]:
(1+3)/2 # 정수끼리 나눗셈을 할 때도 결과를 실수로 출력한다.

2.0

In [ ]:
round((1+3)/2) # 꼭 정수로 받고 싶다면 round 함수로 감싸준다.

2

In [ ]:
(1+4)/2

2.5

In [ ]:
round((1+4)/2)

2

## 논리 연산
- and, or, not
- 명제들간의 연산의 결과를 논리적으로 표현하는 방법입니다.

  - 명제? 참/거짓을 구분할 수 있는 모든 문장
  - True / False를 실행결과로 반환할 수 있는 모든 명령어를 의미합니다.


| A | B |AND | OR | not A | not B |
|:---:|:---:|:---:|:---:|:---:|:---:|
|T|T|T|T|F|F|
|T|F|F|T|F|T|
|F|T|F|T|T|F|
|F|F|F|F|T|T|


- 세상에 완전히 새로운 생각은 없다.
- 기존에 했던 생각에 and, or, not 세개를 붙인 생각만이 있을 뿐이다.


- 우선순위
not > and > or

In [ ]:
True and True

True

In [ ]:
True and False

False

In [ ]:
not True

False

In [ ]:
not False

True

 not > and > or

In [ ]:
20 != 10 and 10 == 10

True

In [ ]:
20 != (10 and 10) == 10

True

In [ ]:
10 and 10

10

In [ ]:
round((1+3)/2) != (1+3)/2 and 'A'>'a'

False

In [ ]:
'Python' < 'python' # 문자열인 경우 각각의 아스키코드 값을 더해서 비교한다.

True

# 타입변환

- 자료형을 자기가 알아서 지정해준다
- 자유롭게 형변환도 허락을 합니다.
- str(), int(), float(), bool()

In [ ]:
a = 1

In [ ]:
type(a)

int

In [ ]:
int(24.6)

24

In [ ]:
float(1)

1.0

In [ ]:
bool(1)

True

In [ ]:
bool() # 값이 없으면 모두 False로 판단하고, 값이 있으면 모두 True로 판단한다.

False

In [ ]:
bool(-1)

True

In [ ]:
bool('')

False

In [ ]:
bool([])

False

In [ ]:
bool(0)

False

In [ ]:
bool('정소이')

True

In [ ]:
bool(100)

True

문자열을 정수나 실수로 반환하는 경우
- 문자열 내에 문자들이 전부 10진수 정수 형태의 문자만 있어야 합니다.

In [ ]:
int(2231.11)

2231

In [ ]:
int('2231.11')

ValueError: ignored

In [ ]:
int(float('2231.11'))

2231

In [ ]:
int('2231')

2231

In [ ]:
a = input('숫자를 입력하세요: ')

숫자를 입력하세요: 2231.66

In [ ]:
a

'2231.66'

In [ ]:
a = round(float(input('숫자를 입력하세요: '))) # 기본 ndigits 파라미터는 int, 거기에 숫자를 넣으면 소수점 이하 n번째 자리
#반올림을 해서 정수로 받고 싶어요
a

숫자를 입력하세요: 2231.66

2232

# bool은!
- 변환하는데 규칙이 있습니다.
  - 어떤 타입이든 다 변환이 가능해요. True/False
  - True인 경우 0이 아닌 비어있지 않은 모든 값
  - False - 빈문자, 빈객체, 0이 다 거짓이 되겠죠

# 메모리(Memory)
- RAM (Random Access Memory)
- 주기억장치 라고 부릅니다.
- 보조기억장치에 자료들을 넣어놓고 주기억장치에 있는 프로그램으로 자료들을 불러와서 crud합니다.
  - 자료가 보조기억장치에 있을때 '파일'이라고 부릅니다.


- 주기억장치
  - 프로그램이 실행중인 동안은 반드시 메모리에 있어야 합니다.
  - 다루려는 자료도 메모리에 와있어야 합니다.
  - 실행중인 프로그램에서 자료를 저장할 수 있는 공간
  - 메모리 어딘가에 보조기억장치에서 불러온 파일의 내용을 저장해두고 두고두고 꺼내쓰는 개념입니다.
  - 메모리에 저장해두고 불러오기 위해서 이름을 지어주는 것을 '변수'라고 부릅니다.


- 주소값이 할당이 됩니다
  - 변수명을 입혀줘서 다시 불러올 수 있게 만들면 되는 거죠.
  - 파이썬은 변수를 주소 기준으로 식별을 하고요.
  - 자료는 비트 형태로 저장이 되고 1바이트(8비트)마다 번호를 부여를 합니다.

  - 메모리 크기가 크기 때문에 주소값도 당연히 길겠죠
  - 10진수보다 16진수를 컴퓨터 프로그래밍에서 많이 사용하는 이유가 이것때문입니다.

- 변수 : 긴 숫자로 되어있는 메모리 속 주소에 이름을 달아주는 것

In [ ]:
a = 3
id(a) # 메모리 주소를 확인하는 함수

140341416704368

In [ ]:
id(3)

140341416704368

In [ ]:
b = '정소이'
id(b)

140340151229776

In [ ]:
id('정소이')

140340151088976

In [ ]:
# 메모리에 올라가 있는 게 무엇들인지 상상해보면
# 대부분의 기본 파이썬 함수들이 인터프리터와 함께 올라가있다.
# 아스키코드로 표현할 수 있는 문자들, 그리고 자주 쓰는 값들(True, False, -1, -2, -3, -4, -5, ...)

swap
  - 변수의 값을 교환하기 위해서 많이 씁니다.

In [ ]:
a = 10
b = 20
# 일 때
# b와 a에 있는 자료를 변경해보세요
c = a
a = b
b = c
print(a,b)

20 10

In [ ]:
a = 10
b = 20
# 일 때
# b와 a에 있는 자료를 변경해보세요
a,b = b,a
print(a,b)

20 10

In [ ]:
a,b,c = 'hei'

In [ ]:
a

'h'

In [ ]:
b

'e'

In [ ]:
c

'i'

# 변수명명법
- 이름은 결국 개발자가 지어주는 거죠
- 파이썬은 한글 변수명도 만들 수 있습니다 (UTF-8)
- 영문 대/소문자, 숫자, 한글 다 쓸 수 있어요
- 특수문자도 쓸 수는 있어요. 쓰지 않는 편입니다. _ 말고는 거의 쓰지 않습니다.
- 숫자를 변수명의 앞에는 쓸 수 없습니다.

- 파이썬이 권장하는 변수 이름을 짓는 방법이 있겠죠
  - 시작은 소문자 , 띄어쓰기 대신 언더바(_)
  - 인터프리터가 이미 사용하고 있는 단어는 사용하지 않는 것이 좋습니다. (True, int 이런단어도 변수명으로 쓸 수 있어요)
  - 다만 앞으로 저 명령어는 사용하지 못합니다.
  - 해당 언어가 이미 사용하고 있는 단어 (예약어, keyword)
  - IDE 들은 대부분 예약어나 피해야할 변수명에 색깔을 칠해줍니다.

In [ ]:
int = 3

In [ ]:
int

3

In [ ]:
int(3.15)

TypeError: ignored

In [ ]:
del int # 혹시 실수했다면 변수 삭제

In [ ]:
int(3.15)

3

In [ ]:
with open('/path/to/some/file/you/want/to/read') as file_1, \ # 코드가 길어지면 역슬래시(\)로 다음줄로 넘김 가능
     open('/path/to/some/file/being/written', 'w') as file_2:
    file_2.write(file_1.read())

IndentationError: ignored

In [ ]:
income = (gross_wages
		  + taxable_interest
          + (dividends - qualified_dividends)
          - ira_deduction
          - student_loan_interest)

In [ ]:
income = (gross_wages +
          taxable_interest +
          (dividends - qualified_dividends)  -
          ira_deduction -
          student_loan_interest)

In [ ]:
class a(): # 클래스 내부의 함수는 한줄 띄어쓰기

    def b():
        pass

    def c():
        pass


class a(): # 별도 클래스, 함수는 두줄 띄어쓰기
    pass


class b():
    pass


def c():
    pass
# 빈줄
# 빈줄

In [ ]:
import decimal # 패키지를 불러올 때 사용하는 예약어

import_ = 'not import' # 뒤에 언더바를 더해서 변수명을 만들어서 예약어를 피한다.

# 시퀀스 타입 - 순서
- 기본 타입(숫자, 문자열)을 여러개 모아서 하나의 자료형으로 관리하기 위한 방법
  - '배열'
  - 한개 식빵 -> 숫자, 문자열이라면
  - 시퀀스 타입 -> 식빵들 ... 자료구조의 종류


- 파이선에서 제공하는 시퀀스 타입
  - 리스트
    - 배열
    - 가장 많이 사용하는 자료형입니다
    - 선형자료구조 라고 부릅니다

  - 튜플(tuple)
    - 리스트와 본질적으로 같아요. 자료 값을 변경할 수가 없습니다.
    - 튜플로 만들면 - 내부의 자료값을 변하게 하지 않았게 라는 약속입니다.
  - 레인지
    - 수열을 만든다


- 가변형 타입 vs 불가변형 타입
  - 튜플 -> 불가변형 타입
    - 자료들의 값을 바꿀 수 없고
  - 리스트 -> 가변형 타입
    - 자료들의 값을 변경할 수 있습니다.

  - 가변형 타입에서만 사용할 수 있는 연산자가 띠로 있기 때문입니다.




  - 세트
  - 딕셔너리

In [ ]:
# 집합자료형 = 기본자료형을 담는 그릇

In [ ]:
list_ = [1, 2, 3, 4]
list_

[1, 2, 3, 4]

In [ ]:
list_[0] # 순서(몇번 방, index)를 호출해서 꺼낼 수 있다.

1

In [ ]:
type(list_)

list

In [ ]:
type(list_[0])

int

In [ ]:
list_ = [1, 2.1, '가나다', True, '', [1,2,3,4]]

In [ ]:
type(list_)

list

In [ ]:
type(list_[0])

int

In [ ]:
type(list_[1])

float

In [ ]:
type(list_[2])

str

In [ ]:
type(list_[3])

bool

In [ ]:
type(list_[4])

str

In [ ]:
type(list_[5])

list

type 확인을 해주시고요.

In [ ]:
tuple_ = (1,2,3,4,5)

In [ ]:
tuple_[0] # 우리가 순서를 정해주지 않아도 자동으로 인덱스를 만들어 준다.

1

In [ ]:
type(tuple_)

tuple

In [ ]:
tuple_[0] = 11

TypeError: ignored

In [ ]:
tu1 = (3)

In [ ]:
type(tu1)

int

In [ ]:
tu2 = (3, ) # 순서가 있는 자료형 - 쉼표가 있다 = 연속된 자료형이다 라고 인터프리터에게 알려주는 역할

In [ ]:
type(tu2)

tuple

In [ ]:
tuple_ = (1,2,3,4,5)
# 0번 인덱스의 값을 11로 바꿔주세요
tuple_l = list(tuple_)
tuple_l[0] = 11
tuple_ = tuple(tuple_l)
tuple_

(11, 2, 3, 4, 5)

In [ ]:
tuple_[1:3] # 1부터 n+1까지 지정해주면 1부터 n까지 출력

(2, 3)

In [ ]:
a = range(1,15,2) # 시작점, 끝점+1, step

In [ ]:
list(a)

[1, 3, 5, 7, 9, 11, 13]

In [ ]:
list1 = [1,2,3,[1,2], True, 'string', 3.156]

In [ ]:
tuple1 = (1,2,3, [1,2], True, 'string', 3.156) # 각 인덱스에 들어있는 자료형은 달라도 된다.

In [ ]:
li = []
type(li)

list

In [ ]:
tu = ()
type(tu)

tuple

In [ ]:
bool(li)

False

In [ ]:
bool(tu)

False

In [ ]:
bool('')

False

# 공통 연산자
- 가변형 타입과 불가변형 타입 모두에게 동일하게 사용할 수 있는 연산자 몇개

In [ ]:
# list에서 쓸 수 있는 함수들 'append','clear','copy', 'count','extend','index','insert','pop','remove','reverse', 'sort'
# tuple에서 쓸 수 있는 함수들  'count','index'

In [ ]:
list1.pop()

3.156

In [ ]:
list1.append(-2)
list1

[1, 2, 3, [1, 2], True, 'string', -2]

In [ ]:
list1.pop(-1)
list1.pop(0)
list1.append(1)

In [ ]:
list1

[2, 3, [1, 2], True, 'string', 1]

In [ ]:
tuple1.count(1) # 전체 튜플 안에 해당 값의 개수를 세어주는 함수

2

In [ ]:
tuple1.count(2)

1

In [ ]:
tuple1.index([1,2]) # 전체 튜블 안에 해당 값이 들어있는 index 번호

3

In [ ]:
'사과나무'.find('부')

-1

In [ ]:
tuple1.index(5) # 없는 애는 에러가 난다.

ValueError: ignored

In [ ]:
# tu1, li1이라고 1,2,3,4,5 가 들어있는 각각의 집합자료를 만들어주세요
# dir() 함수로 확인해보세요
# 겹치는 것은 무엇이고, 겹치지 않는 것은 무엇인지 확인해세요
# 겹치는 것들만 동작시켜 보세요

In [ ]:
li1 = [1,2,3,4,5]
tu1 = (1,2,3,4,5)

In [ ]:
dir(li1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
dir(tu1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
li1.append(-2)
li1

[1, 2, 3, 4, 5, -2]

In [ ]:
li1.insert(3,1)
li1

[1, 2, 3, 1, 4, 5, -2]

In [ ]:
li1.remove(-2)
li1

[1, 2, 3, 1, 4, 5]

In [ ]:
li1.reverse()
li1

[5, 4, 1, 3, 2, 1]

In [ ]:
li1.sort()
li1

[1, 1, 2, 3, 4, 5]

In [ ]:
li2 = []
li2 = li1.copy()
li2

[1, 1, 2, 3, 4, 5]

In [ ]:
li2.clear()
li2

[]

In [ ]:
tu1.index(3) # 3이라는 값이 몇 번 방에 있어?

2

In [ ]:
tu1.count(3) # 3이라는 값이 전체 튜플에 몇 개 있어?

1

In [ ]:
3 in tu1 # 있으면 True, 없으면 False

True

In [ ]:
3 not in tu1 # tu1에 3이 없니? 있으면 False, 없으면 True

False

In [ ]:
tu1 + tu1 # 연산만 하고

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
tu1 # 원본은 그대로 있고

(1, 2, 3, 4, 5)

In [ ]:
tu1 + li1

TypeError: ignored

In [ ]:
tu1 * tu1

TypeError: ignored

In [ ]:
'정소이' * 3

'정소이정소이정소이'

In [ ]:
tu1 * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
tu1 - tu1

TypeError: ignored

In [ ]:
tu1 / tu1

TypeError: ignored

- 원본은 변하지 않고
- 원본에 새로운 튜플을 합친 새로운 튜플을 반환할 뿐입니다.

- list에만 가능한 것 - 원본에 무언가를 추가하거나 곱하는 것

In [ ]:
li1

[1, 1, 2, 3, 4, 5]

In [ ]:
li1+li1

[1, 1, 2, 3, 4, 5, 1, 1, 2, 3, 4, 5]

In [ ]:
li1*3

[1, 1, 2, 3, 4, 5, 1, 1, 2, 3, 4, 5, 1, 1, 2, 3, 4, 5]

In [ ]:
li1 * li1

TypeError: ignored

In [ ]:
li1 - li1

TypeError: ignored

In [ ]:
li1 / li1

TypeError: ignored

# 인덱싱과 슬라이싱
  - 파이썬의 시퀀스 타입은 자동으로 인덱스를 생성해줍니다.
    - 0부터 순서대로 1씩 증가하면서 자동으로 만들어줍니다.
    - 0부터 시작한다라는 겁니다.
    - 첫번재 원소 인덱스가 0이고,
    - `[ ]` 안에 인덱스 숫자로 참조하길 원하는 원소를 선택을 합니다

    - 슬라이스는 시퀀스 내에서 원하는 범위를 잘라서 가져오는 개념입니다.
    - 프로그래밍에서는 반복문, 반복문을 활용한 인덱싱/슬라이싱을 많이 하게 됩니다

In [ ]:
li1[3:5] # 슬라이싱 - 시작점 : 끝점 +1 까지

[3, 4]

In [ ]:
li1[3] # 인덱싱 - 집게손가락, 콕 집어옴

3

In [ ]:
li1[0:5:2]

[1, 2, 4]

In [ ]:
li1[:5:2] # 시작점 인덱스를 생략하면 0번부터

[1, 2, 4]

In [ ]:
li1[::2] # 끝점 인덱스를 생략하면 끝까지

[1, 2, 4]

In [ ]:
li1[::] # step(몇칸씩 건너뛸지)를 생략하면 1칸씩

[1, 1, 2, 3, 4, 5]

In [ ]:
# 음수 인덱싱을 지원한다.
li1[-1] # 맨 끝의 인덱스

5

In [ ]:
li1[-2] # 맨 끝에서 두번째 인덱스

4

In [ ]:
li1[-3] # 맨 끝에서 세번째 인덱스

3

In [ ]:
li1[:-1:2]

[1, 2, 4]

In [ ]:
li1[::-1]

[5, 4, 3, 2, 1, 1]

In [ ]:
li1[0, 2, 4]

TypeError: ignored

In [ ]:
li1[8] # 8번 방은 만들어지지도 않았기 때문에

IndexError: ignored

# 정말 중요한 것
- 반복문으로 인덱싱/슬라이싱을 하다 보면 주어진 시퀀스타입을 범위를 벗어나는 참조를 굉장히 많이 하게 됩니다.

- IndexError: list index out of range

In [ ]:
li1 = [1,2,3,4,5]

In [ ]:
li1[:8] # 슬라이싱을 사용하면 범위를 벗어나는 참조도 허용을 한다.

[1, 2, 3, 4, 5]

In [ ]:
li1.index(9)

ValueError: ignored

In [ ]:
li1[:-1]

[1, 2, 3, 4]

In [ ]:
# tu1 = (1,2,3,4,5)
# ((2,3),5)
# (2,4)

In [ ]:
tu1 = (1,2,3,4,5)
tu2 = (tu1[1:3],tu1[-1]) # 한줄에 나란히 두개의 연산 결과를 출력하려면 순서가 나름 중요하기에 tuple 형캐로 결과를 보여주는 것
print(tu2)
print(tu1[1::2]) # tu1[1]부터 2칸씩 step을 뛰면서 끝까지 출력

((2, 3), 5)
(2, 4)

In [ ]:
a = li1[-1] # li1의 맨 마지막 인덱스 값을 출력

In [ ]:
a

5

In [ ]:
print(li1[-1],li1[4])

5 5

In [ ]:
li1.append(6)

In [ ]:
print(li1[-1], li1[4])

6 5

In [ ]:
li1[-1] # 언제나 해당 list의 맨 마지막 인덱스 값을 출력한다.
# 자료가 변함에 따라 연결된 결과도 달라지는 프로그래밍 방법: 소프트 코딩

6

In [ ]:
a # 언제나 해당 list의 4번 인덱스 a라는 변수를 만든 시점 값을 출력한다.
# 자료가 변하더라도 계속 같은 결과를 나타내도록 하는 종류의 프로그래밍 방법: 하드 코딩

5

In [ ]:
# 견고하게 만들 때는 하드 코딩을 선호하겠지만, 데이터를 다룰 때는 주로 소프트 코딩을 하도록 권장하는 편

# 슬라이스 사용법

arr [ 시작인덱스 : 끝인덱스+1 : step(몇칸뛰기)]

In [ ]:
tu1[:10] # Out of Range 에러 없이 끝까지 결과를 출력해준다.

(1, 2, 3, 4, 5)

In [ ]:
tu1[-6] # 음수 인덱싱도 IndexError: tuple index out of range

IndexError: ignored

In [ ]:
tu1[-6:] # 음수를 활용한 슬라이싱은 IndexError: tuple index out of range 없이 값을 가져올 수 있다.

(1, 2, 3, 4, 5)

# 문자열 (String)
- 배열의 한 종류
- 튜플의 속성을 가지고 있어요

In [ ]:
# 문자열은 파이썬의 '기본' 자료형이다. 근데 tuple의 방식으로 동작한다.
name = '신짱구'

In [ ]:
name[1:] # 슬라이싱 가능

'짱구'

In [ ]:
name[-1] # 인덱싱 가능

'구'

In [ ]:
name[-1] = '아' # TypeError: 'str' object does not support item assignment

TypeError: ignored

In [ ]:
'신짱구'[0]

'신'

In [ ]:
(0,2,4)[0]

0

In [ ]:
type(name)

str

In [ ]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
string = 'abcdefg'
string[::-1]

'gfedcba'

In [ ]:
'a' in string

True

In [ ]:
'a' not in string

False

In [ ]:
'무' in '사과나무'

True

### 1-1. content라는 변수에 Yeonji's Home이라는 문자열을 넣고 전체를 출력하세요.

In [ ]:
content = 'Yeonji\'s Home'
content

"Yeonji's Home"

1-2. 해당 변수에서 Home만 출력해보세요

In [ ]:
i = content.index('H')
content[i:]
# content.index('Home') # Home이라는 단어의 시작하는 인덱스를 출력한다.

'Home'

1-3. 해당 변수에서 'Yn'He' 이라는 글자들만 출력해보세요.

In [ ]:
content[::3]

"Yn'He"

1-4. 해당 변수에 담긴 문자열을 거꾸로 뒤집은 순서로 출력하세요.

In [ ]:
content[::-1]

"emoH s'ijnoeY"

1-5. 변수 content 안에 'yEONJI'라는 문자열이 포함되어 있는지 확인해보세요.

In [ ]:
'yEONJI' in content

False

1-6. 변수 content 안에 'Yeonji'라는 문자열이 포함되어 있는지 확인해보세요.

In [ ]:
'Yeonji' in content

True

# 가변 연산자
- 가변형 타입에서만 사용 가능한 명령어(연산)
- string, 튜플에서는 사용할 수 없습니다.


List
- 파이썬에서 가장 많이 사용하는 자료형
- 배열
- 파이썬에서 자료를 다루는 가장 기본적인 형태입니다.

In [ ]:
li.insert(1,2) # list.insert(삽입할 인덱스번호, 값)

In [ ]:
li.insert(10,11) # 범위를 벗어난 인덱스에 값을 넣으려고 하면 맨 마지막 순서로 추가된다.
# 자바스크립트에서는 건너 뛴 채로 10번 방에만 값이 들어감.
li

[1, 2, 11, 11]

In [ ]:
li.insert(2,12)

In [ ]:
li # li[2]에 12가 들어가고 원래 li[2]에 있던 2는 li[3]으로 밀려남.

[1, 2, 12, 11]

In [ ]:
li.pop() # 아무 값도 넣지 않으면 맨 마지막이 빠져나온다.

11

In [ ]:
li.pop(2)

12

In [ ]:
li # 원본을 변경할 때는 직접 확인하라는 의미에서 원본을 바꾼 결과를 출력하지 않도록 대부분 구현

[1, 2]

In [ ]:
tu1 + tu1 # 원본을 바꾸지 않은 결과

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

append / extend라는 명령어
- 리스트에 원소를 추가하는 명령어
- 리스트에만 사용이 가능합니다.
- 하나만 추가할때 여러개를 한께번에 추가할 때

In [ ]:
li1 = [1,2,3,4,5] # [6,7,8] [1,2,3,4,5,6,7,8] or [1,2,3,4,5,[6,7,8]]

In [ ]:
li1.append([6,7,8]) # 원소 하나를 추가하는 함수
li1

[1, 2, 3, 4, 5, [6, 7, 8]]

In [ ]:
li1.extend([6,7,8]) # 원소 여러개를 한번에 추가하는 함수
li1

[1, 2, 3, 4, 5, 6, 7, 8]

append vs insert
- append는 맨 끝에 원소를 추가하고요
- insert 중간에 내가 원하는 위치에 원소를 삽입합니다.

In [ ]:
li1.append(9)
li1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
li1.insert(0,9) # 0번 자리(인덱스)에 9 라는 값을 삽입
li1

[9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
li1.pop() # 맨 마지막 값을 뺌
li1

[9, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
li1.remove(9) # li1.remove(값)
li1

[1, 2, 3, 4, 5, 6, 7, 8]

# range
  - 범위 내에서 수열을 생성하는 시퀀스 타입입니다.
  - 정수만 가능하고요
  - 반복문이랑 가장 많이 쓰이는 명령어 중 하나입니다.


range(시작점, 끝점+1, step)
- 시작점과 step은 생략 가능하다

In [ ]:
range(.1, 3., .1) # TypeError: 'float' object cannot be interpreted as an integer

TypeError: ignored

In [ ]:
range(1, 5, 2)

range(1, 5, 2)

In [ ]:
tuple(range(1, 5, 2))

(1, 3)

In [ ]:
tuple(range(5)) # 시작점, step은 생략 가능하다.

(0, 1, 2, 3, 4)

In [ ]:
tuple(range(1, 5, -1))

()

In [ ]:
tuple(range(5, 0, -1))

(5, 4, 3, 2, 1)

In [ ]:
tuple(range(5, -5, -1))

(5, 4, 3, 2, 1, 0, -1, -2, -3, -4)

In [ ]:
import sys
b = range(10000)
sys.getsizeof(b)

48

In [ ]:
import sys
b = tuple(range(10000))
sys.getsizeof(b)

80040

```
[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
```

In [ ]:
li = []
for i in range(0, 10, 2):
    li.append(i)
li

# list(range(0,10,2))

[0, 2, 4, 6, 8]

In [ ]:
li = []
for i in range(1, 10, 2):
    li.append(i)
li

# list(range(1,10,2))

[1, 3, 5, 7, 9]

# 매핑형 타입
 - tuple, list, range는 시퀀스형 타입이었습니다. 순서가 있고 그 순서에 정해진 인덱스를 바탕으로 자료를 꺼내오거나 삽입하거나 삭제하거나 수정하는 방식으로 동작했습니다.
 - 매핑형 타입은 key값으로 불러오는 dict가 대표적이고요.
 - 해시 자료구조 라고 표현하기도 합니다.





## 딕셔너리
- 형태는 다음과 같습니다.
```{ key:value, key:value, key:value ..... }```
- key를 직접 정의할 수 있습니다.
  - 튜플이나 리스트와의 차이점이죠 (인덱스가 자동 생성되지 않음)
  - 반드시 숫자가 아니어도 괜찮음


해시 테이블의 장단점
 - 장점
    - 데이터 저장 및 읽기 속도가 빠르다.
    - 키에 대한 중복이 있는지 확인하기 쉽다.

- 단점
    - 일반적으로 다른 자료구조보다 저장공간이 더 필요하다.
    - 여러 키에 해당하는 주소가 동일한 경우 충돌(Collision)이 발생하고, 이를 해결하기 위한 별도 자료구조 또는 함수가 필요하다.


- 해시 테이블의 주용도
    - 검색이 많이 필요할 경우
    - 저장, 삭제, 읽기가 빈번하게 일어나는 경우
    - 캐시를 구현할 경우 (중복 확인이 쉽기 때문에)

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Hash_table_4_1_1_0_0_1_0_LL.svg/1280px-Hash_table_4_1_1_0_0_1_0_LL.svg.png" width=300>

![](https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbTF67c%2FbtqL7xx3OGw%2FDM8KEKU5x7dx6Nks4JR7K1%2Fimg.png)
- 출처: https://mangkyu.tistory.com/102

In [ ]:
dict1 = {}
type(dict1)

dict

In [ ]:
dict1 = {'key0' : 'value0', 'key1' : 'value1', 'key2' : 'value2'}

In [ ]:
dict1['key0']

'value0'

In [ ]:
dict1['key1']

'value1'

In [ ]:
dict1

{'key0': 'value0', 'key1': 'value1', 'key2': 'value2'}

In [ ]:
dict1[0] # KeyError: 0

KeyError: ignored

In [ ]:
dict1 = {0: 'zero', 'one':'one', [1,2]:'three', True:'four', 3.14:'five', (1,2,3):'six'}
# list는 가변자료형이기 때문에

TypeError: ignored

In [ ]:
dict1 = {0: 'zero', 'one':'one', True:'four', 3.14:'five', (1,2,3):'six'}

In [ ]:
dict1[0]

'zero'

In [ ]:
dict1['one']

'one'

In [ ]:
dict1[True]

'four'

In [ ]:
dict1[3.14]

'five'

In [ ]:
dict1[(1,2,3)]

'six'

In [ ]:
dict1['one'] = 'six' # 이미 있는 key의 value를 변경
dict1

{0: 'zero', 'one': 'six', True: 'four', 3.14: 'five', (1, 2, 3): 'six'}

In [ ]:
dict1['new_key'] = 'new one' # 없는 키에 대입연산자를 사용하면 key-value 쌍이 추가된다.
dict1

{0: 'zero',
 'one': 'six',
 True: 'four',
 3.14: 'five',
 (1, 2, 3): 'six',
 'new_key': 'new one'}

In [ ]:
dict1['new_key'] = {'inside dict': '딕셔너리 안의 딕셔너리'}
dict1

{0: 'zero',
 'one': 'six',
 True: 'four',
 3.14: 'five',
 (1, 2, 3): 'six',
 'new_key': {'inside dict': '딕셔너리 안의 딕셔너리'}}

In [ ]:
dict1['new_key1'] = [1,2,3,4,5]
dict1

{0: 'zero',
 'one': 'six',
 True: 'four',
 3.14: 'five',
 (1, 2, 3): 'six',
 'new_key': {'inside dict': '딕셔너리 안의 딕셔너리'},
 'new_key1': [1, 2, 3, 4, 5]}

In [ ]:
dir(dict1)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
dict2 = {'키':'밸류', '키1':'밸류1'}

In [ ]:
dict2.clear() # 전체를 삭제해버리는 함수
dict2

{}

In [ ]:
dict2 = dict1.copy()
dict2

{0: 'zero',
 'one': 'six',
 True: 'four',
 3.14: 'five',
 (1, 2, 3): 'six',
 'new_key': {'inside dict': '딕셔너리 안의 딕셔너리'},
 'new_key1': [1, 2, 3, 4, 5]}

In [ ]:
dict1.keys() # 키만 가져오기

dict_keys([0, 'one', True, 3.14, (1, 2, 3), 'new_key', 'new_key1'])

In [ ]:
dict1.values() # 값만 가져오기

dict_values(['zero', 'six', 'four', 'five', 'six', {'inside dict': '딕셔너리 안의 딕셔너리'}, [1, 2, 3, 4, 5]])

In [ ]:
dict1.items() # 키-밸류 순으로 튜플로 반환해준다.

dict_items([(0, 'zero'), ('one', 'six'), (True, 'four'), (3.14, 'five'), ((1, 2, 3), 'six'), ('new_key', {'inside dict': '딕셔너리 안의 딕셔너리'}), ('new_key1', [1, 2, 3, 4, 5])])

In [ ]:
# 탐색부터
0 in dict1 # in 이라는 명령어는 딕셔너리에서 key 기준으로 동작한다.

True

In [ ]:
'y' in content # 시퀀스형 자료에서는 인덱스가 아닌 값 기준으로 동작하는 것과 달리

False

In [ ]:
'zero' in dict1

False

In [ ]:
dict1.get(0) # dict1[0]이 처음 특정키를 통해 value를 호출하는 함수

'zero'

In [ ]:
dict1['no_key'] # KeyError: 'no_key'

KeyError: ignored

In [ ]:
dict1.get('no_key') # get 함수를 통해 우회접근하면 에러 없이 결과만 출력하지 않는다.

In [ ]:
dict1.get('no_key', '그런 키는 없습니다.')

'그런 키는 없습니다.'

In [ ]:
dict1

{0: 'zero',
 'one': 'six',
 True: 'four',
 3.14: 'five',
 (1, 2, 3): 'six',
 'new_key': {'inside dict': '딕셔너리 안의 딕셔너리'},
 'new_key1': [1, 2, 3, 4, 5]}

In [ ]:
dict1.pop()
# pop() 맨 마지막에 있는 인덱스값이 빠져나간 것과 달리
# 멀 뺄지 파라미터로 줘야 한다.

TypeError: ignored

In [ ]:
dict1.pop('new_key')
dict1

{0: 'zero',
 'one': 'six',
 True: 'four',
 3.14: 'five',
 (1, 2, 3): 'six',
 'new_key1': [1, 2, 3, 4, 5]}

In [ ]:
dict1.setdefault('new_key_again') # 해당하는 키가 없으면 dict1에 추가해준다.
dict1

{0: 'zero',
 'one': 'six',
 True: 'four',
 3.14: 'five',
 (1, 2, 3): 'six',
 'new_key1': [1, 2, 3, 4, 5],
 'new_key_again': None}

In [ ]:
dict1.setdefault('new_key1') # 해당하는 키가 있으면 그 결과를 출력해준다.

[1, 2, 3, 4, 5]

In [ ]:
dict1.setdefault('new_key1', '밸류') # 있으면 있는 결과를 출력

[1, 2, 3, 4, 5]

In [ ]:
dict1.setdefault('new_key2', '밸류') # 없으면 키, 밸류를 해당 딕셔너리에 넣어줌
dict1

{0: 'zero',
 'one': 'six',
 True: 'four',
 3.14: 'five',
 (1, 2, 3): 'six',
 'new_key1': [1, 2, 3, 4, 5],
 'new_key_again': None,
 'new_key2': '밸류'}

In [ ]:
# myPlaylist를 장르:뮤지션 순서로 dict로 만들어주세요!
# 5개이상

In [ ]:
myPlaylist = {'댄스':'아이브', '트로트':'임영웅', '힙합': '나플라', '롹': '하현우', '발라드':'윤하'}
# 딕셔너리에서 키는 중복이 불가하다.

In [ ]:
myPlaylist = {'댄스':['아이브','뉴진스'], '트로트':'임영웅', '힙합': '나플라', '롹': '하현우', '발라드':'윤하'}

In [ ]:
myPlaylist

{'댄스': ['아이브', '뉴진스'], '트로트': '임영웅', '힙합': '나플라', '롹': '하현우', '발라드': '윤하'}

In [ ]:
not_my_playlist = {'힙합': ['나플라','이센스', '제이콜','나스','찬스더래퍼'], '락':['메탈리카', '너바나', '건즈앤로지스'], '트로트':{'미스터트롯':'임영웅'}}
# 이센스, 나스
# 너바나
# 임영웅

In [ ]:
not_my_playlist['힙합'][1:4:2]

['이센스', '나스']

In [ ]:
not_my_playlist['락'][1]

'너바나'

In [ ]:
not_my_playlist['트로트']['미스터트롯']

'임영웅'

In [ ]:
not_my_playlist.keys()

dict_keys(['힙합', '락', '트로트'])

In [ ]:
not_my_playlist.values()

dict_values([['나플라', '이센스', '제이콜', '나스', '찬스더래퍼'], ['메탈리카', '너바나', '건즈앤로지스'], {'미스터트롯': '임영웅'}])

In [ ]:
not_my_playlist.values()[1] # TypeError: 'dict_values' object is not subscriptable
# dict_values는 갓ㅂ을 확인하기 위해 내부적으로 만들어진 자료형일 뿐 [] 있다고 리스트가 아니다.

TypeError: ignored

In [ ]:
list(not_my_playlist.values())[1] # 꺼낸 값을 형변환해서 인덱스로 호출

['메탈리카', '너바나', '건즈앤로지스']

# Set (집합)
- 순서가 없는 자료형입니다
- 중복이 안된다는 특징이 있습니다.

In [ ]:
set1 ={1, 2, 3, 4, 2, 5, 5} # 2, 5가 2개씩 있음
set2 = {3, 4, 5, 7, 8, 10}
set3 = {'a', 'b', 'c', 'b', 'a', 'a'} # a, b가 여러개 있음

In [ ]:
print(set1)
print(set2)
print(set3)

{1, 2, 3, 4, 5}
{3, 4, 5, 7, 8, 10}
{'b', 'c', 'a'}

In [ ]:
set1 - set2

{1, 2}

In [ ]:
set2 - set1

{7, 8, 10}

In [ ]:
dir(set2)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
set2.difference(set1) # 여집합 구하는 명령어, -와 같은 결과

{7, 8, 10}

In [ ]:
set2 & set1

{3, 4, 5}

In [ ]:
set2.intersection(set1) # 교집합 구하는 명령어, &와 같은 결과

{3, 4, 5}

In [ ]:
set2 | set1 # 합집합

{1, 2, 3, 4, 5, 7, 8, 10}

In [ ]:
set1.union(set2) # 합집합 구하는 명령어, +와 같은 결과

{1, 2, 3, 4, 5, 7, 8, 10}

In [ ]:
set1[2] # TypeError: 'set' object is not subscriptable
# 순서가 없는 자료형이라 인덱스를 가지지 않음

TypeError: ignored

In [ ]:
list1 = [ 1, 2, 3, 4, 2, 5, 5]

In [ ]:
set(list1) # 중복되는 데이터를 거른다.

{1, 2, 3, 4, 5}

In [ ]:
list(list1)[2] # 다시 리스트로 형변환한다.

3

In [ ]:
set1

{1, 2, 3, 4, 5}

In [ ]:
500 in set1

False

In [ ]:
3 in set1

True

In [ ]:
set4 = {'a', 1, 3} # 들어간 순서대로 자리잡지 않는다. - 인덱스로 자리를 잡는 집합자료형이 아니기 때문에
set4

{1, 3, 'a'}

In [ ]:
set5 = {[1,2], 1, 3} # TypeError: unhashable type: 'list'

TypeError: ignored

# 복사
- 얕은 복사(shallow copy), 깊은 복사(deep copy)가 있습니다.
  - 주소복사, 값 복사라고 표현하기도 합니다.

In [ ]:
 arr = [10, 20, 30]
 # arr의 내용을 copy1이라는 새로운 변수명을 가진 리스트로 복사해주세요

## 얕은복사/ 주소복사
- 변수 이름은 다르지만 결국 동일한 주소를 나타내는 경우
- 결국 두 변수는 같은 변수나 다름없습니다
- 메모리값이 같으니까요 (2개 이상 얼마든지... 메모리값을 참조할 뿐입니다)
  - 공간 효율성, 메모리 효율성 때문입니다.
  - 전체 값을 항상 메모리에 복사면 그만큼 속도가 느려지고 메모리도 공간이 부족해집니다.
  - 파이썬은 주소를 복사해서 사용하는 얕은 복사를 기본 복사로 차용을 하고 있습니다.

# int, float, bool 값 자체가 복사가 됩니다.
# 시퀀스 타입은 전부 얕은 복사(메모리주소)가 복사가 되는 게 기본입니다.

- 슬라이싱하면 값 제대로 바뀌고 원본도 보존되는 거 같은데 왜 얕은 복사라고 부르는 걸까??
- 차원을 하나 더 깊게 들어가면 여전히 메모리 주소를 복사하기 때문입니다.

In [ ]:
arr2D = ['Hello', 'Bye', 'Hi', ['Goodnight', 'Goodmorning', 'Goodafternoon']]

# 깊은복사
- 파이썬에서는 깊은 복사라는 다른 방법을 제공해서 시퀀스타입의 깊이가 깊어질 때 메모리주소를 참조해서 원본을 훼손하는 일을 막고 있습니다.

- copy라는 모듈의 deepcopy를 사용해야 합니다.

## 실습1 - SHALLOW COPY
- 1 ~ 25까지의 정수 중 랜덤한 6개 숫자로 된 배열 c, d를 얕은 복사를 이용해서 2개 생성하고 배열 c의 1번 인덱스 값을 5로 각각 변경 후 출력해 보세요.

참고
```
winner = random.sample(range(1,46), k=7)
```

## 실습2 - DEEPCOPY
- 1 ~ 25까지의 정수 중 랜덤한 6개 숫자로 a, b를 deepcopy를 이용해서 2개 생성하고 배열 b의 1번 인덱스 값을 5로 각각 변경 후 출력해 보세요.

```
- 기본자료형: 데이터 값 자체를 저장하는 형태
    - 원본 혹은 사본이 변형되어도 다른 한쪽이 변형되지 않음
    - ex) bool, char, int 등
- 참조자료형 : 각자 독자적 값을 갖는 것이 아닌, 참조(reference) 주소를 공유하는 것
    - 한 쪽이 변형되면 다른 한 쪽도 변형됨
    - ex) list(array), class 등
- Shallow Copy
    - 기본형이 아닌 자료들은 참조주소값을 복사하는 것
    - 2D-list를 얕은 복사 한 경우, 리스트 안의 기본자료형은 한쪽의 변형에 영향받지 않음
    - 다만 내장된 list는 참조자료형이므로 같은 주소를 참조함. 따라서 한 쪽의 변형에 영향받음
- Deep Copy
    - 객체가 가진 모든 멤버를 복사
    - 참조자료형을 복사하는 경우, 참조주소(reference)가 아니라 데이터 자체가 복사됨(또다른 주소에 새로 만들어짐)
    - 따라서 한 쪽의 변형에 영향받지 않음.
```

# 제어문
- 대부분의 언어가 유사합니다.
- 조건문, 반복문
- 위의 2가지로 전체 코드의 실행 흐름을 제어합니다.

- 프로그래밍은 저 두개가 전부죠. 저 두개를 어떻게 잘 섞고 어떻게 간략하게 만드느냐가 알고리즘
- 연습을 많이 하셔야 합니다. 그냥 볼때랑은 많이 다르더라구요.
- 울지 마시구요....


# 조건문(분기문)
- 파이썬은 if문 하나만 제공을 합니다.
  - 쉽죠. if문 하나만 있으니까
  - 파이썬의 철학 기억나시죠?
```
if 명제:
[들여쓰기]명령어들
```

## Readability counts.
- 들여쓰기 얘기를 잠깐 할게요
- 파이썬 자체가 귀도 반 로섬 아저씨가 싫은 코드들의 단점을 빼고 만든거라서 가독성을 굉장히 중시합니다.
- 그래서 들여쓰기를 일부러 강제하고 있습니다.

In [ ]:
# If 블록에는 명제가 참인 경우에 실행하려는 명령어를 넣고
# 같은 블록은 같은 들여쓰기 층위를 사용합니다
# 명령어의 들여쓰기가 다르면, 다른 블록으로 인식한다
arr = [1,2,3,4,5]

In [ ]:
# a,b,c,d,e,f 가 들어있는 튜플을 만들고 그 안에 a 가 있으면 '있음', 없으면 '없음' 이 출력되도록 조건문을 만들어주세요

파이썬은 블록 단위를 표현할 때 들여쓰기로 표현을 합니다.
- 들여쓰기를 할 때는 탭과 공백을 구분하기 때문에 반드시 탭 or 공백 하나만 선택해서 같은 크기만큼 들여쓰기 해야 합니다.

실습. 어깨를 돌리셨습니까 라고 질문을 받고 Y를 입력받으면 '좋군요' 이외 나머지 경우는 전부 '그렇군요' 를 출력해주세요

- if 블록이랑 else 블록 두개만 있을 때는 한곳으로 반드시 분기가 되어야 합니다.
- True이거나 True가 아닌 모든 값 둘중에 하나 여야 하는거죠.

- 만약 그렇지 않다?
    - 참이면서 거짓인 명제가 있다 라는 말인데요. 이건 불가능하죠.
    - 두 블록이 실행이 안 되는 경우 - 참도 거짓도 아닌 경우 이런 경우도 있을 수 없습니다.

- 2가지 조건만 존재할 수는 없잖아요.

- 세상에 새로운 생각은 없다.... and or not 으로 계속 뻗어나가는 생각의 줄기가 프로그래밍 분기문의 기본 원리가 되었다.

# 다중조건문

```
if 조건1:
    조건1이 참일 때 실행문
elif 조건2:
    조건2가 참일 때 실행문
elif 조건3:
    조건3가 참일 때 실행문
elif 조건4:
    조건4가 참일 때 실행문
else:
    조건1도 2도 아닌 모든 상황에 실행문
```

조건문
- 무조건 if 조건: 으로 시작...
- 나머지는 거들 뿐....
- 2개 이상의 조건을 제시하려면 if와 else 사이에 elif를 얼마든지 첨가 가능합니다

- 조금더 섬세하게 소문자/대문자 모두 쓸 수 있게

### 이 경우는 다중 조건이 아닙니다

# 실습. 주사위 게임입니다
- 두 사람이 주사위를 던져 높은 숫자가 나오면 이기는 게임을 작성해봅니다.
- 주사위 숫자는 input으로 받은 값을 a, b라는 변수에 넣어서 비교할게요.
- 실행결과는 3가지 : a가 이긴다, a가 진다, a가 비긴다

### if 안에 if가 들어있다
- 조건문 안에서 또 조건문을 만들어서
중첩조건문 이라고 부릅니다.

arr = [1, 2, 3]
#### 지금은 arr의 우리가 뚜껑을 열어봤지만 실제로는 다 DB에서 가져온 자료 혹은 사용자로부터 입력받은 자료이고 속에 뭐가 들어있는지 모른다 라는 설정입니다.

- arr 안에 1, 2, 3 중 어느 정수가 들어있으면'참', 그렇지 않으면 '거짓' 을 출력하는 조건문을 만들어보겠습니다.