<a href="https://colab.research.google.com/github/soiejung/PythonStudy/blob/main/%EC%A1%B0%EA%B1%B4%EB%AC%B8_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0. 복습

## 1. 딕셔너리 Dictionary

- 키 Key와 값 Value를 한 쌍으로 갖는 자료형
- 키는 중복될 수 없음, 값은 중복될 수 있음
- 키를 통해 값을 반환 받을 수 있음

1. scores라는 이름의 빈 딕셔너리를 만들고 출력 후 타입을 확인주세요.

In [ ]:
#  집합자료형 시퀀스형(순서 유 / 배열[], 튜플(), range), 매핑형(고유한 어떤 값을 가지는 / DICTIONARY{}, SET )
scores= { }

In [ ]:
set1 = {'a', 'e', 'c', 'd', 'e', 'e'}

In [ ]:
sorted(set1) # 오름차순으로 결과를 정렬하는 파이썬의 내장 함수 - 무엇을 넣든 기본적으로는 list로 출력이 된다

['a', 'c', 'd', 'e']

In [ ]:
type(scores)

dict

2. scores 딕셔너리 안에 아래와 같이 과목과 점수가 대응되도록 값을 넣고 출력해주세요.
```
영어 | 95
수학 | 100
국어 | 90
과학 | 97
사회 | 99
```

In [ ]:
scores['영어'] = 95

In [ ]:
scores

{'영어': 95}

In [ ]:
scores.setdefault('영어', 80) # 이미 있는 키를 호출하면 이미 있는 값을

95

In [ ]:
scores.setdefault('수학', 100) # 없는 키를 호출하면 키-밸류 순으로 새로 방을 만들어서 넣어주는

100

In [ ]:
scores = {'영어':'수학'}

In [ ]:
scores = {'영어': 95, '수학': 100, '국어': 90, '과학':97, '사회': 99}
scores

{'영어': 95, '수학': 100, '국어': 90, '과학': 97, '사회': 99}

3. scores 변수 안에 들어있는 과학 점수와 사회 점수만 따로 각각 확인해보세요.

In [ ]:
scores['과학']

97

In [ ]:
scores.setdefault('시회')

In [ ]:
scores.get('사회')

99

In [ ]:
scores = {'영어': 95, '수학': 100, '국어': 90, '과학':97, '사회': 99}
scores

{'영어': 95, '수학': 100, '국어': 90, '과학': 97, '사회': 99}

4. scores 변수 안에서 과학 점수를 삭제 후 scores 변수를 출력해주세요.

In [ ]:
del scores['과학']

In [ ]:
scores

{'영어': 95, '수학': 100, '국어': 90, '사회': 99}

5. scores 변수 안에 물리 점수 90점을 추가 후 확인해주세요.

In [ ]:
scores['물리'] = 90

In [ ]:
scores

{'영어': 95, '수학': 100, '국어': 90, '사회': 99, '물리': 90}

6. scores 변수의 국어 과목 점수를 98점으로 변경해주세요.

In [ ]:
scores['국어'] = 98

In [ ]:
scores

{'영어': 95, '수학': 100, '국어': 98, '사회': 99, '물리': 90}

7. 아래의 표에서, 이름을 키값으로, (수학, 영어) 점수 리스트를 딕셔너리의 값으로 저장해주세요. 딕셔너리의 이름은 scores로 합니다.
```
이름	수학	영어
짱구	90	100
짱아	95	97
훈이	98	93
```

In [ ]:
# 데이터에 설명이 같이 와야 할 겁니다. 수학, 영어
scores = {'짱구':[90, 100], '짱아':[95, 97], '훈이':[98, 93]}

In [ ]:
# 데이터에 설명이 같이 와야 할 겁니다. 수학, 영어
scores={'짱구':(90,100), '짱아':(95,97), '훈이':(98,83)}

In [ ]:
# 메타 데이터 - 데이터에 대한 데이터
# 2023년 1학기 입학점수
# 총 3명의 수험자
# 과목: 2개

scores = {"짱구" : {"수학" : 90, "영어" : 100} , "짱아" :  {"수학" : 95, "영어" : 97} , "훈이" : {"수학" : 98, "영어" : 93}}

8. 아래 내용을 참조하셔서 scores 딕셔너리의 키값(이름)만, values값(수학, 영어점수들)만, 키:값 쌍을 각각 출력해보세요.

- 키 Key 혹은 값 Value 모두 반환하기
    - keys() : 딕셔녀리의 키만 dict_keys 객체로 반환
    - values() : 딕셔녀리의 값만 dict_values 객체로 반환
    - items() : 딕셔너리의 키, 값 쌍으로 dict_items 객체로 반환

In [ ]:
scores.keys()

dict_keys(['짱구', '짱아', '훈이'])

In [ ]:
scores.values()

dict_values([[90, 100], [95, 97], [98, 93]])

In [ ]:
scores.items()

dict_items([('짱구', [90, 100]), ('짱아', [95, 97]), ('훈이', [98, 93])])

In [ ]:
scores.keys()[0] # TypeError: 'dict_keys' object is not subscriptable

TypeError: ignored

In [ ]:
type(scores.keys())

dict_keys

In [ ]:
list(scores.keys())

['짱구', '짱아', '훈이']

9. 짱구의 수학점수, 훈이의 영어점수를 찾아서 각각 출력해주세요.

In [ ]:
scores = {"짱구" : {"수학" : 90, "영어" : 100} , "짱아" :  {"수학" : 95, "영어" : 97} , "훈이" : {"수학" : 98, "영어" : 93}}

In [ ]:
scores['짱구']['수학']

90

In [ ]:
scores['훈이']['영어']

93

10. scores 딕셔너리를 활용하여 위 딕셔너리의 학생이름만으로 구성된 students 리스트를 생성해주세요.

In [ ]:
students = list(scores.keys())

In [ ]:
students

['짱구', '짱아', '훈이']

In [ ]:
students[0] # list의 인덱스 번호로 해당 원소에 접근할 수 있게됩니다

'짱구'


#### 11. 응답하라 1998
- 휴대폰 번호 앞자리에 따라 통신사가 아래와 같이 구분되던 시절이 있었습니다. 사용자로부터 input 함수를 통해 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성해보세요. 입력받을 때 '-'기호는 넣거나 말거나 영향을 미치지 않습니다.

- 힌트 :

휴대전화번호 앞 3개 확인은 str도 배열(튜플)의 속성을 가지고 있다는 것을 활용합니다.


~~~
번호	통신사
011	SKT
016	KT
019	LGU
010	알수없음

In [ ]:
input('내용을 입력하세요: ')

내용을 입력하세요: 김연지

'김연지'

In [ ]:
input('내용을 입력하세요: ')

내용을 입력하세요: 3.14

'3.14'

In [ ]:
input('내용을 입력하세요: ')

내용을 입력하세요: 010-1234-5678

'010-1234-5678'

In [ ]:
nums={'011':'SKT', '016':'KT', '019':'LGU', '010':'알수없음'}
num = input('내용을 입력하세요: ')
nums.get(num[0:3], '잘못 입력하셨습니다') # nums['010']

내용을 입력하세요: 031-1234-5678

'잘못 입력하셨습니다'

In [ ]:
num = input('내용을 입력하세요: ')
num[0:3]

내용을 입력하세요: 010-2345-6789

'010-'

In [ ]:
nums={'011':'SKT', '016':'KT', '019':'LGU', '010':'알수없음'}
print(nums[input()[:3]])

031-820-1234

KeyError: ignored

In [ ]:
number = input("phonenumber : ")
n = number[:3]
if '011' in n:
      print ("SKT")
elif '016' in n:
      print ("KT")
elif '019' in n:
      print ("LGU")
else:
      print("알수없음")

#### 12. 한영사전 만들기

아래의 fruits 딕셔너리를 참조하여
- 사용자로부터 한글로 과일 이름을 입력받고
- 사용자가 입력한 과일이 fruits 딕셔너리의 key값에 있을 경우 해당 key의 value 값을,
- 없을 경우 '사전에 없는 단어입니다'를 출력하도록 프로그래밍하세요.
```
fruits = {'사과': 'Apple', '바나나': 'Banana', '딸기': 'Strawberry'}

In [ ]:
fruits = {'사과': 'Apple', '바나나': 'Banana', '딸기': 'Strawberry'}
key_ = input('영어 단어를 알고 싶은 과일명을 입력하세요.')
fruits.get(key_, '사전에 없는 단어입니다.')

영어 단어를 알고 싶은 과일명을 입력하세요.멜론

'사전에 없는 단어입니다.'

In [ ]:
fruits

{'사과': 'Apple', '바나나': 'Banana', '딸기': 'Strawberry'}

In [ ]:
fruit = input("과일 이름: ")
fruits.setdefault(fruit, '사전에 없는 단어입니다')

과일 이름: 딸기

'Strawberry'

In [ ]:
fruit = input("과일 이름: ")
fruits.setdefault(fruit, '사전에 없는 단어입니다')

과일 이름: 멜론

'사전에 없는 단어입니다'

In [ ]:
fruits

{'사과': 'Apple', '바나나': 'Banana', '딸기': 'Strawberry', '멜론': '사전에 없는 단어입니다'}

### 13. range메소드를 활용하여 101부터 201까지의 정수 중 짝수만 저장된 튜플 evens를 생성해주세요.

In [ ]:
# range(시작점, 끝점+1, step)
test = range(102, 201, 2)
evens = tuple(test)
evens

(102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200)

In [ ]:
type(evens)
# 짝수 : even, 홀수: odd

tuple

# 1. 수업

In [ ]:
a = 1
id(a)

140702293408048

In [ ]:
id(1)

140702293408048

In [ ]:
id('김연지')

140701027281872

In [ ]:
b = '김연지'
id(b)

140701027015056

- 파이썬은 데이터분석에 많이 쓰는 언어이지만 테이터분석을 위해 만들어진 언어는 아닙니다.
- 기본 파이썬은 91년에 만들어졌기 때문에 메모리를 절약하는 방식으로 만들어져 있습니다.
- 그래서 복사를 할 때 기본적으로 '얕은 복사(Shallow Copy)'를 차용합니다.
- 근데 데이터를 다룰 때는 원본이 너무나 중요합니다. 그런 경우에는 직접 copy라는 모듈을 import 해서 사용해야 합니다. deepcopy라는 명령어로 새로 방을 파서 원본과 똑같은 사본을 만드는 작업을 합니다. '깊은 복사(Deep Copy)'라고 부릅니다.

# 복사
- 얕은 복사(shallow copy), 깊은 복사(deep copy)가 있습니다.
  - 주소복사, 값 복사라고 표현하기도 합니다.

In [ ]:
 arr = [10, 20, 30]
 # arr의 내용을 copy1이라는 새로운 변수명을 가진 리스트로 복사해주세요

In [ ]:
copy1 = arr

In [ ]:
copy2 = copy1

In [ ]:
id(arr), id(copy1), id(copy2)

(140701027339712, 140701027339712, 140701027339712)

In [ ]:
arr[0] = 100

In [ ]:
arr

[100, 20, 30]

In [ ]:
copy1

[100, 20, 30]

In [ ]:
copy2

[100, 20, 30]

## 얕은복사/ 주소복사
- 변수 이름은 다르지만 결국 동일한 주소를 나타내는 경우
- 결국 두 변수는 같은 변수나 다름없습니다
- 메모리값이 같으니까요 (2개 이상 얼마든지... 메모리값을 참조할 뿐입니다)
  - 공간 효율성, 메모리 효율성 때문입니다.
  - 전체 값을 항상 메모리에 복사면 그만큼 속도가 느려지고 메모리도 공간이 부족해집니다.
  - 파이썬은 주소를 복사해서 사용하는 얕은 복사를 기본 복사로 차용을 하고 있습니다.

In [ ]:
a = '김연지'

In [ ]:
b = a

In [ ]:
id(a), id(b)

(140701027186032, 140701027186032)

In [ ]:
b = '신짱구'

In [ ]:
id(a), id(b)

(140701027186032, 140701027222032)

In [ ]:
a, b

('김연지', '신짱구')

# int, float, bool 값 자체가 복사가 됩니다.
# 시퀀스 타입은 전부 얕은 복사(메모리주소)가 복사가 되는 게 기본입니다.

In [ ]:
arr

[100, 20, 30]

In [ ]:
copy1 = arr[1:]

In [ ]:
id(arr), id(copy1)

(140701027339712, 140701027060736)

In [ ]:
copy1[1] = 200

In [ ]:
id(arr), id(copy1)

(140701027339712, 140701027060736)

In [ ]:
arr

[100, 20, 30]

In [ ]:
copy1

[20, 200]

- 슬라이싱하면 값 제대로 바뀌고 원본도 보존되는 거 같은데 왜 얕은 복사라고 부르는 걸까??
- 차원을 하나 더 깊게 들어가면 여전히 메모리 주소를 복사하기 때문입니다.

In [ ]:
arr2D = ['Hello', 'Bye', 'Hi', ['Goodnight', 'Goodmorning', 'Goodafternoon']]

In [ ]:
arr2dCopy = arr2D

In [ ]:
arr2dCopy[2] = 'hi'

In [ ]:
arr2dCopy

['Hello', 'Bye', 'hi', ['Goodnight', 'Goodmorning', 'Goodafternoon']]

In [ ]:
arr2D

['Hello', 'Bye', 'hi', ['Goodnight', 'Goodmorning', 'Goodafternoon']]

In [ ]:
arr2dCopySlice = arr2dCopy[2:5]

In [ ]:
arr2dCopySlice

['hi', ['Goodnight', 'Goodmorning', 'Goodafternoon']]

In [ ]:
id(arr2D), id(arr2dCopy), id(arr2dCopySlice)

(140701010145536, 140701010145536, 140701027037120)

In [ ]:
arr2dCopySlice[0] = 'HI'

In [ ]:
arr2dCopySlice

['HI', ['Goodnight', 'Goodmorning', 'Goodafternoon']]

In [ ]:
arr2dCopy

['Hello', 'Bye', 'hi', ['Goodnight', 'Goodmorning', 'Goodafternoon']]

In [ ]:
arr2dCopySlice[1][0] = 'night'

In [ ]:
arr2dCopySlice

['HI', ['night', 'Goodmorning', 'Goodafternoon']]

In [ ]:
arr2dCopy

['Hello', 'Bye', 'hi', ['night', 'Goodmorning', 'Goodafternoon']]

In [ ]:
arr2D

['Hello', 'Bye', 'hi', ['night', 'Goodmorning', 'Goodafternoon']]

# 깊은복사
- 파이썬에서는 깊은 복사라는 다른 방법을 제공해서 시퀀스타입의 깊이가 깊어질 때 메모리주소를 참조해서 원본을 훼손하는 일을 막고 있습니다.

- copy라는 모듈의 deepcopy를 사용해야 합니다.

In [ ]:
import copy # copy.py 파일이 실행(메모리에 올라간다)


arr2Ddeep = copy.deepcopy(arr2D)

In [ ]:
id(arr2Ddeep), id(arr2D)

(140701027284800, 140701010145536)

In [ ]:
arr2D

['Hello', 'Bye', 'hi', ['night', 'Goodmorning', 'Goodafternoon']]

In [ ]:
arr2Ddeep[-1][0] = 'Good Night'

In [ ]:
arr2Ddeep

['Hello', 'Bye', 'hi', ['Good Night', 'Goodmorning', 'Goodafternoon']]

In [ ]:
from copy import deepcopy

arr2D = ['Hello', 'Bye', 'Hi', ['night', 'Goodmorning', 'Goodafternoon']]
arr2Ddeep = deepcopy(arr2D)  #  copy 안 붙여도 됨
id(arr2Ddeep), id(arr2D)
arr2Ddeep[-1][0] = 'Goodnight'
arr2Ddeep, arr2D

(['Hello', 'Bye', 'Hi', ['Goodnight', 'Goodmorning', 'Goodafternoon']],
 ['Hello', 'Bye', 'Hi', ['night', 'Goodmorning', 'Goodafternoon']])

In [ ]:
# 기본 파이썬에서 깊은 복사를 실행하는 방법입니다
# 데이터관련 패키지, 모듈들은 기본적으로 딥카피를 차용하고 있다
# 시간 vs 돈
# 메모리(효율, 속도) vs 안정성

## 실습1 - SHALLOW COPY
- 1 ~ 25까지의 정수 중 랜덤한 6개 숫자로 된 배열 c, d를 얕은 복사를 이용해서 2개 생성하고 배열 c의 1번 인덱스 값을 5로 각각 변경 후 출력해 보세요.

참고
```
winner = random.sample(range(1,46), k=7)
```

In [ ]:
c = [1, 3, 5, 7, 9, 1]
c1 = c
c1[2] = 1

In [ ]:
print(c)
print(c1)

[1, 3, 1, 7, 9, 1]
[1, 3, 1, 7, 9, 1]

## 실습2 - DEEPCOPY
- 1 ~ 25까지의 정수 중 랜덤한 6개 숫자로 a, b를 deepcopy를 이용해서 2개 생성하고 배열 b의 1번 인덱스 값을 5로 각각 변경 후 출력해 보세요.

```
- 기본자료형: 데이터 값 자체를 저장하는 형태
    - 원본 혹은 사본이 변형되어도 다른 한쪽이 변형되지 않음
    - ex) bool, char, int 등
- 참조자료형 : 각자 독자적 값을 갖는 것이 아닌, 참조(reference) 주소를 공유하는 것
    - 한 쪽이 변형되면 다른 한 쪽도 변형됨
    - ex) list(array), class 등
- Shallow Copy
    - 기본형이 아닌 자료들은 참조주소값을 복사하는 것
    - 2D-list를 얕은 복사 한 경우, 리스트 안의 기본자료형은 한쪽의 변형에 영향받지 않음
    - 다만 내장된 list는 참조자료형이므로 같은 주소를 참조함. 따라서 한 쪽의 변형에 영향받음
- Deep Copy
    - 객체가 가진 모든 멤버를 복사
    - 참조자료형을 복사하는 경우, 참조주소(reference)가 아니라 데이터 자체가 복사됨(또다른 주소에 새로 만들어짐)
    - 따라서 한 쪽의 변형에 영향받지 않음.
```

In [ ]:
import copy

a = [1, 3, 5, 7, 9, 1]
b = copy.deepcopy(a)

In [ ]:
a, b

([1, 3, 5, 7, 9, 1], [1, 3, 5, 7, 9, 1])

In [ ]:
id(a), id(b)

(140701027265152, 140701181657024)

In [ ]:
b[1] = 5

In [ ]:
a, b

([1, 3, 5, 7, 9, 1], [1, 5, 5, 7, 9, 1])

In [ ]:
import copy

b = copy.depcopy()
# 기본 파이썬에서 제공하는 함수가 아니기 때문에
# 어디출신인지 밝힐 수 있도록 모듈 혹은 패키지명까지만 불러오세요
# 권장은 합니다

In [ ]:
b

[1, 3, 5, 7, 9, 1]

In [ ]:
from copy import deepcopy

b = deepcopy(a)

In [ ]:
b

[1, 3, 5, 7, 9, 1]

In [ ]:
list(range(1,26))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [ ]:
import random

# 6개의 임의의 1~25 사이의 정수를 뽑아보세요
random.sample(range(1,26), k=6)

[11, 17, 18, 8, 12, 3]

# 제어문
- 대부분의 언어가 유사합니다.
- 조건문, 반복문
- 위의 2가지로 전체 코드의 실행 흐름을 제어합니다.

- 프로그래밍은 저 두개가 전부죠. 저 두개를 어떻게 잘 섞고 어떻게 간략하게 만드느냐가 알고리즘
- 연습을 많이 하셔야 합니다. 그냥 볼때랑은 많이 다르더라구요.
- 울지 마시구요....


# 조건문(분기문)
- 다른 언어에서는 if문과 switch문 2가지가 있습니다.
- 파이썬은 3.9 버전까지는 if문 하나만 제공을 합니다.
  - 쉽죠. if문 하나만 있으니까
  - 파이썬의 철학 기억나시죠?
```
if 명제:
[들여쓰기]명령어들
```
- 명제 : 그 내용이 참인지 거짓인지를 명확하게 판별할 수 있는 문장이나 식

① 참인 명제 : 내용이 항상 옳은 명제

② 거짓인 명제 : 내용에 대하여 한 가지라도 옳지 않은 경우가 있는 명제

In [ ]:
if False:
    print('참입니다')

#### 1. 아래 출력결과를 예상해보시고 실제로 출력해보세요. 주석으로 왜 이런 결과가 나오는지도 설명을 달아주세요.

```
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")
```

In [ ]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [ ]:
# 숫자를 하나 입력하고
# 그 숫자가 3이면 맞았습니다, 3이 아니면 틀렸습니다를
# 출력하는 조건문을 만들고 확인해 주세요
num = input('숫자를 입력하세요: ')
print(num, type(num))
if num == '3' : # 항등연산자 ==은 값과 자료형을 함께 비교합니다
    print('맞았습니다')
else:
    print('틀렸습니다')

숫자를 입력하세요: 3
3 <class 'str'>
맞았습니다

In [ ]:
# 숫자를 하나 입력하고
# 그 숫자가 3이면 맞았습니다, 3이 아니면 틀렸습니다를
# 출력하는 조건문을 만들고 확인해 주세요
num = input('숫자를 입력하세요: ')
print(num, type(num))
if int(num) == 3 : # 항등연산자 ==은 값과 자료형을 함께 비교합니다
    print('맞았습니다')
else:
    print('틀렸습니다')

숫자를 입력하세요: 3
3 <class 'str'>
맞았습니다

## Readability counts.
- 들여쓰기 얘기를 잠깐 할게요
- 파이썬 자체가 귀도 반 로섬 아저씨가 싫은 코드들의 단점을 빼고 만든거라서 가독성을 굉장히 중시합니다.
- 그래서 들여쓰기를 일부러 강제하고 있습니다.

In [ ]:
!python -c 'import this'

# if (명제) {명제가 참인경우} else {명제가 거짓인 경우}

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
if (True) : # 항등연산자 ==은 값과 자료형을 함께 비교합니다
    print('맞았습니다')
else:
    print('틀렸습니다')

맞았습니다

In [ ]:
bool([])

False

In [ ]:
if [] :
    print('맞았습니다')
else:
    print('틀렸습니다')

틀렸습니다

In [ ]:
# If 블록에는 명제가 참인 경우에 실행하려는 명령어를 넣고
# 같은 블록은 같은 들여쓰기 층위를 사용합니다
# 명령어의 들여쓰기가 다르면, 다른 블록으로 인식한다
arr = [1,2,3,4,5]

if 10 in arr:
    print('있다') # 명제가 참이라서 출력된 '있다'


print('잘했어') # 그냥 무조건 실행될 명령어

잘했어

In [ ]:
# a,b,c,d,e,f 가 들어있는 튜플을 만들고 그 안에 a 가 있으면 '있음', 없으면 '없음' 이 출력되도록 조건문을 만들어주세요
if 'a' in ('a','b','c','d','e','f'):
    print('있음')
else:
    print('없음')

있음

In [ ]:
# a,b,c,d,e,f 가 들어있는 튜플을 만들고 그 안에 a 가 있으면 '있음', 없으면 '없음' 이 출력되도록 조건문을 만들어주세요
# 남들이 알아보기만 좋으면
if input('알파벳을 입력하세요: ' ) in ('a','b','c','d','e','f'):
    print('있음')
else:
    print('없음')

알파벳을 입력하세요: g
없음

In [ ]:
print('hello')
 print('hello') # IndentationError: unexpected indent

IndentationError: ignored

In [ ]:
if True:
    # 빈 블록을 절대 허용하지 않기 때문에
    # 뭐라도 채워넣어야 합니다 - pass
    # IndentationError: expected an indented block
    pass
else:
    pass

파이썬은 블록 단위를 표현할 때 들여쓰기로 표현을 합니다.
- 들여쓰기를 할 때는 탭과 공백을 구분하기 때문에 반드시 탭 or 공백 하나만 선택해서 같은 크기만큼 들여쓰기 해야 합니다.

실습. 어깨를 돌리셨습니까 라고 질문을 받고 Y를 입력받으면 '좋군요' 이외 나머지 경우는 전부 '그렇군요' 를 출력해주세요

In [ ]:
if input('어깨를 돌리셨습니까: ') == 'Y':
    print('좋군요')
else:
    print('그렇군요....')

어깨를 돌리셨습니까: y
그렇군요....

In [ ]:
if input('어깨를 돌리셨습니까: ') == 'Y' or input('어깨를 돌리셨습니까: ') == 'y':
    print('좋군요')
else:
    print('그렇군요....')

어깨를 돌리셨습니까: y
어깨를 돌리셨습니까: Y
그렇군요....

In [ ]:
answer= input('어깨를 돌리셨습니까: ')

if answer == 'Y' or answer == 'y':
    print('좋군요')
else:
    print('그렇군요....')

어깨를 돌리셨습니까: y
좋군요

- if 블록이랑 else 블록 두개만 있을 때는 한곳으로 반드시 분기가 되어야 합니다.
- True이거나 True가 아닌 모든 값 둘중에 하나 여야 하는거죠.

- 만약 그렇지 않다?
    - 참이면서 거짓인 명제가 있다 라는 말인데요. 이건 불가능하죠.
    - 두 블록이 실행이 안 되는 경우 - 참도 거짓도 아닌 경우 이런 경우도 있을 수 없습니다.

- 2가지 조건만 존재할 수는 없잖아요.

- 세상에 새로운 생각은 없다.... and or not 으로 계속 뻗어나가는 생각의 줄기가 프로그래밍 분기문의 기본 원리가 되었다.

# 다중조건문

```
if 조건1:
    조건1이 참일 때 실행문
elif 조건2:
    조건2가 참일 때 실행문
elif 조건3:
    조건3가 참일 때 실행문
elif 조건4:
    조건4가 참일 때 실행문
else:
    조건1도 2도 아닌 모든 상황에 실행문
```

- 조금더 섬세하게 소문자/대문자 모두 쓸 수 있게

In [ ]:
answer= input('어깨를 돌리셨습니까: ')

if answer == 'Y':
    print('좋군요')
elif answer == 'y':
    print('좋군요')
else:
    print('그렇군요....')

어깨를 돌리셨습니까: y
좋군요

조건문
- 무조건 if 조건: 으로 시작...
- 나머지는 거들 뿐....
- 2개 이상의 조건을 제시하려면 if와 else 사이에 elif를 얼마든지 첨가 가능합니다

In [ ]:
# 아침에 만들었던 휴대폰 번호 판별기를 조건문으로 만들어보지요
# 2시 10분에 같이 볼게요

In [ ]:
nums={'011':'SKT', '016':'KT', '019':'LGU', '010':'알수없음'}
num = input('내용을 입력하세요: ')
nums.get(num[0:3], '잘못 입력하셨습니다') # nums['010']

Python 3.9.16

In [ ]:
num = input('전화번호를 입력하세요: ')

if num[:3] == '011':
    print('skt')
elif num[:3] == '016':
    print('kt')
elif num[:3] == '019':
    print('lgu')
else:
    print('알수없음')

전화번호를 입력하세요: 011-1111-1111
skt

In [ ]:
# 다중조건문을 활용하면 나중에(유지보수) 편해집니다
num = input('전화번호를 입력하세요: ')

if num[:3] == '011':
    print('skt')
elif num[:3] == '016':
    print('kt')
elif num[:3] == '019':
    print('lgu')
elif num[:3] == '010':
    print('알수없음')

전화번호를 입력하세요: 031-1111-1111

### 이 경우는 다중 조건이 아닙니다

In [ ]:
num = input('전화번호를 입력하세요: ')

if num[:3] == '011':
    print('skt')
if num[:3] == '016':
    print('kt')
if num[:3] == '019':
    print('lgu')
if num[:3] == '010':
    print('알수없음')

전화번호를 입력하세요: 031-1111-1111

# 실습. 주사위 게임입니다
- 두 사람이 1~6까지의 숫자가 있는 주사위를 던져 높은 숫자가 나오면 이기는 게임을 작성해봅니다.
- 주사위 숫자는 input으로 받은 값을 a, b라는 변수에 넣어서 비교할게요.
- 실행결과는 3가지 : a가 이긴다, a가 진다, a가 비긴다

In [ ]:
a=input('a주사위 숫자를 입력하세요: ') # str으로 값이 들어온다
b=input('b주사위 숫자를 입력하세요: ')
a = int(a)
b = int(b)
# a, b가 1~6 사이의 숫자인지 확인
# a와 b 중에 뭐가 더 큰지 확인

if a>b :
  print('a가 이긴다')
elif a<b :
  print('a가 진다')
else :
  print('a가 비긴다')

a주사위 숫자를 입력하세요: 6
b주사위 숫자를 입력하세요: 1
a가 이긴다

In [ ]:
ord('6')

54

In [ ]:
ord('1')

49

In [ ]:
### 문자열이 '숫자'로만 이루어져있는지 확인
#  1) str.isdigit("판단하고자 하는 문자열")
#  2) "판단하고자 하는 문자열".isdigit()

a = '1234' # 타입이 str이지만 온전히 숫자만 가지고 있다면 True를 반환
b = '1/2'
c = '가나다'
d = '가나다123'
e = '3²'
f = '-1'
g = '½'

print('isdigit()') # 문자열의 모든 문자가 숫자(0-9)이면 True를 출력
print(a.isdigit()) # True
print(b.isdigit()) # False
print(c.isdigit()) # False
print(d.isdigit()) # False
print(e.isdigit()) # True
print(f.isdigit()) # False '-1' 은 '-'가 음수이기 때문에
print(g.isdigit()) # False

print('isdecimal() - 특수문자는 숫자로 취급하지 않음')
print(a.isdecimal()) # True
print(b.isdecimal()) # False
print(c.isdecimal()) # False
print(d.isdecimal()) # False
print(e.isdecimal()) # False
print(f.isdecimal()) # False
print(g.isdecimal()) # False

print('isnumeric() -  문자열의 모든 문자가 숫자(분수, 아래 첨자, 위 첨자 등의 다른 숫자도 포함)')
print(a.isnumeric()) # True
print(b.isnumeric()) # False
print(c.isnumeric()) # False
print(d.isnumeric()) # False
print(e.isnumeric()) # True
print(f.isnumeric()) # False
print(g.isnumeric()) # True

print('isalpha() - 알파벳으로만 이루어진 문자열 판별')
print(a.isalpha()) # False
print(b.isalpha()) # False
print(c.isalpha()) # True
print(d.isalpha()) # False
print(e.isalpha()) # False
print(f.isalpha()) # False
print(g.isalpha()) # False

### if 안에 if가 들어있다
- 조건문 안에서 또 조건문을 만들어서
중첩조건문 이라고 부릅니다.

In [ ]:
a = input('a주사위 숫자를 입력하세요: ') # str으로 값이 들어온다
b = input('b주사위 숫자를 입력하세요: ')


# int로 바꿀 수 있는 종류의 문자열인지 확인하는 if을 또 만들어보면 좋을 것 같아요
if a.isdigit() and b.isdigit():
    a = int(a)
    b = int(b)
    # a, b가 1~6 사이의 숫자인지 확인
    if 1 <= a <= 6 and 1 <= b <= 6:

        # a와 b 중에 뭐가 더 큰지 확인
        if a>b :
            print('a가 이긴다')
        elif a<b :
            print('a가 진다')
        else :
            print('a가 비긴다')
    else:
        print('1~6 사이의 정수가 아닌 다른 값을 입력하셨습니다.')
else:
    print('정수가 아닌 값을 입력하신 것 같네요.')

a주사위 숫자를 입력하세요: 일
b주사위 숫자를 입력하세요: 사
정수가 아닌 값을 입력하신 것 같네요.

In [ ]:
a = input('주사위를 던져주세요: ')
b = input('주사위를 던져주세요: ')

if a.isdigit() and b.isdigit():

    if (1 > int(a) or int(a) > 6) and (1 >int(b) or int(b) > 6):
        print('1~6 사이의 숫자를 입력해주세요.')
    else:
        if a > b:
            print('a 가 이겼습니다.')
        elif a < b:
            print('a 가 이겼습니다.')
        else:
            print('a 가 비겼습니다.')
else:
    print('숫자를 입력해주세요.')

주사위를 던져주세요: -1
주사위를 던져주세요: -1
숫자를 입력해주세요.

In [ ]:
bool(a.isdigit())

False

In [ ]:
False == True

False

arr = [1, 2, 3]
#### 지금은 arr의 우리가 뚜껑을 열어봤지만 실제로는 다 DB에서 가져온 자료 혹은 사용자로부터 입력받은 자료이고 속에 뭐가 들어있는지 모른다 라는 설정입니다.

- arr 안에 1, 2, 3 중 어느 정수가 들어있으면'참', 그렇지 않으면 '거짓' 을 출력하는 조건문을 만들어보겠습니다.

In [ ]:
arr = [1, 2, 3]

In [ ]:
arr = [1, 2, 3]

# if 명제 ~ else
if (2 in arr) or (3 in arr) or (5 in arr) :
    print('참')
else:
    print('거짓')

참

In [ ]:
2 or 3 or 5

2

In [ ]:
# if ~ elif~ else
if 1 in arr:
    print('참')
elif 2 in arr:
    print('참')
elif 3 in arr:
    print('참')
else:
    print('거짓')

거짓

- if 블록이랑 else 블록 두개만 있을 때는 한곳으로 반드시 분기가 되어야 합니다.
- True이거나 True가 아닌 모든 값 둘중에 하나 여야 하는거죠.

- 만약 그렇지 않다?
    - 참이면서 거짓인 명제가 있다 라는 말인데요. 이건 불가능하죠.
    - 두 블록이 실행이 안 되는 경우 - 참도 거짓도 아닌 경우 이런 경우도 있을 수 없습니다.

- 2가지 조건만 존재할 수는 없잖아요.

- 세상에 새로운 생각은 없다.... and or not 으로 계속 뻗어나가는 생각의 줄기가 프로그래밍 분기문의 기본 원리가 되었다.

In [ ]:
a = [1, 2, 3, 4, 1, 1]

In [ ]:
a.index(1) # 1이 들어있는 첫 인덱스만 출력하고 나머지 인덱스는 보지도 않음

0

# 논리연산자
- not, and, or 순으로 우선 판단
- 단락평가를 한다
- 단락평가란? short-circuit evalution
- 첫번째 값으로 결과가 확인하면 두번째 값은 평가하지 않는 방법
- 참고:
    - ~ & | : 비트연산자 - 비트 단위로 논리 연산 (not, and, or 과 다른 방식으로 작동)

    - 비트 연산자는 비트(bit) 단위로 논리 연산을 할 때 사용하는 연산자입니다.

    - 또한, 비트 단위로 전체 비트를 왼쪽이나 오른쪽으로 이동시킬 때도 사용합니다.
```
&	대응되는 비트가 모두 1이면 1을 반환함. (비트 AND 연산)
|	대응되는 비트 중에서 하나라도 1이면 1을 반환함. (비트 OR 연산)
^	대응되는 비트가 서로 다르면 1을 반환함. (비트 XOR 연산)
~	비트를 1이면 0으로, 0이면 1로 반전시킴. (비트 NOT 연산)
```

연산자 우선순위
- https://dojang.io/mod/page/view.php?id=2461

In [ ]:
arr = [1, 2, 7]

# if 명제 ~ else
if (3 in arr) | (2 in arr) | (5 in arr) :
    print('참')
else:
    print('거짓')

참

In [ ]:
3 | 2 | 5
# 비트연산자 - 다른 언어에서는 ~, &, |(부호)로 not, and, or를 표기하기도 하지만
# 파이썬의 not and or 로직과 다르게 동작하기 때문에
# 비트연산자를 잘 쓰시는 분이 아니면 not and or 만을 사용해주세요

7

In [ ]:
'''
 0  1  1    # binary representation of 3
| 0  1  0    # binary representation of 2
---------
  0  1  1    # result of 3|2
| 1  1  1    # binary representation of 7
---------
  1  1  1    # result of 3|2|7
| 1  1  0  1 # binary representation of 13
---------
  1  1  1  1 # result of 3|2|7|13
'''
3|2|7|13

# 조건문

- 조건문의 여러가지 종류를 확인했습니다.
```
if (명제) :
    실행문
```
만 있으면 무조건 돌아갑니다.

- 참, 거짓을 판별하기 위해서 명제자리에는 참, 거짓이 아닌 값들도 넣을 수 있다.
- 0이랑 빈 객체(빈문자열이나 빈 리스트, ...) 을 제외한 나머지는 모두 참이 되는 겁니다.
- 대부분의 명령어들은 명제 자리에 들어가면 명제로 사용될 수 있습니다.

In [ ]:

 # 참,  거짓을 구분할 수 없기 때문에 명제로 사용할 수 없는 실행문도 조건문 안에서는 ( ) 명제로 판단하기 때문에 명제처럼 사용이 가능합니다.
 if 3:
     print('hello')

hello

In [ ]:
bool(3)

True

In [ ]:
if 1: # True
     print('hello')

hello

In [ ]:
if 0: # False
     print('hello')

In [ ]:
if []: # False
     print('hello')

In [ ]:
if '': # False
     print('hello')

In [ ]:
if None: # False
     print('hello')

# 조건문이 3개 있는 셈이죠

In [ ]:
arr =[1,2,3]

if 1 in arr :
    print("있음")

if 2 in arr :
    print("있음")

if 3 in arr :
    print("있음")
else :
    print("없음")

- if
- if~else
- if ~ elif ~ else
- 중첩조건문 (if 안에 if)
- 우선순위를 고려해야 하는 조건문(not, and, or)
    - 논리연산자를 활용한 조건문
    - in연산자, 비트연산자 등을 사용한 조건문
- 그냥 if문 여러개 쓰기

논리연산, 다중조건문을 활용하면 웬만한 조건은 판별할 수 있지만.
..

우리가 만들어야 하는 분기는 그것보다 훨씬 복잡한 경우들이 많습니다.


if 안에 if를 넣어서 해결하는 방법으로 '중첩조건문'이라고 부릅니다.

```
if 명제1:
    # 명제 1이 참인 경우 해야 할 일
    if 명제2
         # 명제 1이 참인데 명제2도 참일 때 해야 할 일
    else:
        # 명제1은 참이지만 명제2는 거짓일 때 해야 할 일

else:

```

- 분기문이 3개 이상 중첩되지는 않도록 하세요...

# 중첩 조건문으로 만들어 보겠습니다.
나이를 입력받고

1번째 층위
- 18살보다 어린지만 판단하고 우쭈주 출력 후에
    - 18살보다 어린 사람 중에 13살 미만이면 어린이입니다
    - 13살 이상이면 청소년입니다 를
        더해서 출력하는 중첩 조건문

In [ ]:
# if 명제:
#     공통된 실행문

#     if 명제:

age = input('나이를 입력하세요: ')

if age < '18': # 18살 미만의 사람이 걸러집니다
    print('우쭈쭈')

    if age < '13':  # 13보다 어린 사람
    # 어린이입니다
        print('어린이입니다')
    else: # 청소년
        print('청소년입니다')

나이를 입력하세요: -4
우쭈쭈
어린이입니다

In [ ]:
# naver - n비밀번호
# kakao - k비밀번호

# 기아차 버그 잡기

- 차를 처음 사면 자동차 네비게이션을 4년 동안 무료로 온라인 업데이트를 해주더라고요.
- 근데 1년 밖에 안 됐는데 매년 11개월 때마다  안내메시지가 뜨더라고요. '업데이트 기간이 끝나갑니다. 빨리 업데이트를 진행하세요' 돈을 내시면 온라인
업데이트가 가능합니다. 이 경우에 돈을 안내면 USB 업데이트는 할 수 있습니다.
- 매년 말고 3년이 지난 후부터 뜨게 하려면 어떻게 조건문을 짜야 할까요?

- 변수명, 로직 등등 반복도 한다고 치면 그걸 고려해서 순서도를 만들어보세요

In [ ]:
year = 0
while True:

    if year >= 3:

        print('업데이트 기간이 끝나갑니다. 빨리 업데이트를 진행하세요')
        pay = input('돈을 지불하시겠습니까? 지불하시면 Y, 아니면 N를 입력해주세요.: ')

        if pay == 'Y':
            print('온라인 업데이트')

        elif pay == 'N':
            print('USB 업데이트')

        else:
            print('Y또는 N를 입력해주세요.')
        break

    else:
        year += 1

업데이트 기간이 끝나갑니다. 빨리 업데이트를 진행하세요
돈을 지불하시겠습니까? 지불하시면 Y, 아니면 N를 입력해주세요.: j
Y또는 N를 입력해주세요.

# 반복문

- 반복을 하는 거죠
- 파이썬에서는 반복을 위한 2가지 형태의 방법이 있습니다
    - while
    - for

## while

    - 기본형태가 if와 유사합니다.
    - if가 명제를 한번만 검사하고 분기를 한다면
    - while은 명제를 여러번 검사 (틀릴 때 까지)
    - 그래서 while을 반복문이라고 부릅니다.

```
while 명제:
    while 블록
```

In [ ]:
# n이 1에서 시작해서 10이 될 때까지 정수를 출력하는 반복문을 하나 만들겠습니다.
# 조건이 True 일때만 반복문이 수행된다

In [ ]:
# 1,3,5,7,9를 출력하는 while문을 만들어주세요

## 실습. input으로 숫자를 입력받고 1부터 그 숫자만큼 하나씩 번호를 더하면서 출력하는 while문을 만들어주세요.

### x를 입력하기 전까지는 계속 무언가를 타이핑해야만 하는 프로그램

```
무언가 입력중입니다
종료하려면 x를 입력하세요 : ㄴ
무언가 입력중입니다
종료하려면 x를 입력하세요 : x
무한 반복이 종료되었습니다
```

```
c:\> 1
1
c:\> 2
2
c:\> 4
4
c:\> x
x
프로그램이 종료되었습니다
```

## 1~10 사이에 짝수만 출력하는 while문을 만들어볼게요.

## 1~20 사이에 3의 배수만 더하는 while문을 만들어주세요.

In [ ]:
# 방법 1 - 거짓이 될 수도 있는 명제 안에 3의 배수일 때만 더하는 if문 사용
# 방법 2 - 거짓이 될 수도 있는 명제 안에 3의 배수가 아닐 때만 if문 사용
# 방법 3 - 거짓이 될 수도 있는 명제 안에 * 3 사용
# 방법 4 - 무한루프 안에 거짓이 될 수도 있는 명제 사용

# for
    - 많이 사용하는 문법입니다
    - 이터레이블 타입에 굉장히 특화되어있기 때문입니다.

    - 이터레이블?
        - 반복 가능한 모든 종류의 객체를 의미합니다.
        - 첫번재 원소부터 마지막 원소까지 순서대로 접근이 가능하면 이터레이블이라고 부릅니다.
        - 시퀀스 타입
            - 리스트, 튜플, 문자열
       - 매핑형 자료들도 이터레이블화 해서 for문으로 가져올 수 있습니다
        - 매핑형
            - 딕셔너리 셋 등등등..


for의 기본적인 형태는 다음과 같습니다


```
for 변수 in 이터레이블:
    # for 블록
```

- 이터레이블 원소 개수만큼 반복을 하게 됩니다.
- 끝까지 반복하게 할수도, 중간에 끊을수도, 시작점을 다르게 할 수도 있습니다

# for문의 다양한 형태

- range와 함께 자주 쓰입니다.
- range(시작점, 끝+1, step)

#### 실습. 다음 코드를 for문으로 작성해 보세요.
~~~
a = 10
print(a)
a = 20
print(a)
a = 30
print(a)
~~~

In [ ]:
# li1 : 0~4가 담겨있는 list를 하나 만들어주세요 range를 활용합니다 [0,1,2,3,4]

In [ ]:
# li2 : 0~4에서 짝수만 담겨있는 list를 하나 만들어주세요 range를 활용합니다 [0,2,4]

0~4까지 출력하는 for문을 하나 만들어주세요. range를 활용합니다.

In [ ]:
# 시퀀스타입에서는 인덱스를 통해서 리스트의 원소를 하나씩 참조하는 방식으로 for문이 작동합니다.

실습. 다음 코드를 for문으로 작성해주세요.
```
print('1번 끝')
print("-------")
print('2번 끝')
print("-------")
print('3번 끝')
print("-------")
```

## for와 range만 이용해서 해당 list1에 있는 모든 원소를 출력해주세요.

In [ ]:
list1 = ['a','b','c','d','e','f','g','e','f','g','h']

## 실습. 1에서 20까지의 정수 중 3의 배수 출력하고 합계 구하기
- 아까 while문으로 만든 것을 for문으로 바꿔주시면 됩니다

In [ ]:
fruits = {'딸기': 'Strawberry', '바나나': 'Banana', '사과': 'Apple', '포도': 'Grape'}

## 1~9 사이의 숫자 하나를 입력받아서 해당 단수의 구구단을 출력해주세요

# 파이썬의 반복문을 보고 있습니다.
- while, for 밖에 없다 확인했고요
- for 문 안에도 for문을 넣어서 반복을 중첩시킬 수 있습니다.

```
for i in range(숫자):
    print('안녕')
   for j in range(또다른 숫자):
        그 안에 실행문
    실행문
```

#### 반복문에서 사용하는 네이밍 규칙(권장일 뿐)
- i 가 의미하는 것은 iterable의 약자입니다. itr로 표현하기도 하는데 결국 같은 표현입니다.

- i, j, k, ...... -> 순서나 인덱스를 의미할 때
- a, b, 임시변수명(tmp), _(underscore) -> 매개변수를 직접 의미할 때는

- count, cnt -> 개수를 의미하는 용도
- 여러개 단어를 합쳐서 쓸 때는 스네이크 케이스 snake_case

# 연습해보는 수밖에 없어요 ㅠㅠ
## 울지 마시구요.....

# 구구단 1개단 받았죠.input을 지우고
# 구구단을 1~9단까지 출력해보겠습니다.

In [ ]:
#구구단을 가로로 출력해보세요

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

# 반복문
- 중첩 반복문으로 1~9단을 직접 출력 해보았습니다.

## 그러면 while 문으로도 중첩이 가능할까??