<a href="https://colab.research.google.com/github/soiejung/PythonStudy/blob/main/%ED%8C%8C%EC%9D%BC%EC%9E%85%EC%B6%9C%EB%A0%A5_%ED%95%A8%EC%88%98_%EB%AA%A8%EB%93%88_%ED%8C%A8%ED%82%A4%EC%A7%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 수업

### [문자 클래스]

1. [abc] - a, b, c중 한 개의 문자와 매치
  - a : 매치여부 OK
  - apple : ok
  - double : no

2. \d   : 숫자와 매치, [0-9]와 동일

3. \D : 숫자가 아닌 것과 매치 [^0-9]와 동일

4. \s : whitespace 문자와 매치

5. \S : whitespace 문자가 아닌것과 매치,

6. \w : 문자 + 숫자와 매치, [a-zA-Z0-9]와 동일

7. \W : 문자+숫자가 아닌 문자와 매치. [^a-zA-Z0-9]와 동일



8. a.b : a와 b 사이에 줄바꿈 문자를 제외한 모든 문자 허용

9. a[.]b : a와 b 사이에 dot 문자만 허용

10. ca*t  : a 문자가 0번 이상 반복 허용

11. ca+t :  a 문자가 1번 이상 반복 허용

12. ca?t : a 문자가 없거나, 1번만 허용

13. ca{3}t : a 문자가 3번 반복되면 매치

14. ca{2, 3}t : a 문자가 2~3번 반복되면 매치

In [ ]:
emails = ['python@mail.example.com', 'python+kr@example.com',              # 올바른 형식
          'python-dojang@example.co.kr', 'python_10@example.info',         # 올바른 형식
          'python.dojang@e-xample.com',                                    # 올바른 형식
          '@example.com', 'python@example', 'python@example-com']          # 잘못된 형식

In [ ]:
# match() : 문자열의 첫 시작부터 정규식과 매치되는지 조사한다.
# search() : 문자열 전체를 검색하여 정규식과 매치되는지 조사한다.
# findall() : 정규식과 매치되는 모든 문자열(substring)을 리스트로 돌려준다.
# finditer() : 정규식과 매치되는 모든 문자열(substring)을 반복 가능한 객체로 돌려준다.

import re

p = re.compile('[0-9a-z+-_.]+[@]+[0-9a-z-]+[.]+[a-z.]+')

for email in emails:
    if p.match(email):
        print(email)

python@mail.example.com
python+kr@example.com
python-dojang@example.co.kr
python_10@example.info
python.dojang@e-xample.com

In [ ]:
import re

p = re.compile('\S+[@]+\S+[.]\S+')

for email in emails:
    if p.match(email):
        print(email)

python@mail.example.com
python+kr@example.com
python-dojang@example.co.kr
python_10@example.info
python.dojang@e-xample.com

In [ ]:
p.match(emails[0])

In [ ]:
p.search(emails[0])

In [ ]:
p.findall(emails[0])

['python@mail.example.com']

In [ ]:
list(p.finditer(emails[0]))

In [ ]:
# ID@도메인주소.COM
import re

p = re.compile(r'[\S]+@[\S]+[.][\S]+')
for email in emails:
    if p.match(email):
        print(email)
    else:
        print('틀림', email)

python@mail.example.com
python+kr@example.com
python-dojang@example.co.kr
python_10@example.info
python.dojang@e-xample.com
틀림 @example.com
틀림 python@example
틀림 python@example-com

In [ ]:
p = re.compile('^[a-zA-Z0-9+-_.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9.]')

for email in emails:
    if len(p.findall(email)) == 1:
        print(email)

### 그루핑 패턴
- 자주 사용하는 패턴은 별명을 지어 부를 수도 있습니다.

In [ ]:
p = re.compile(r"(?P<name>\w+)\s+(?P<phone>\d+[-]\d+[-]\d+)")
person_info = 'kim 010-1234-1234' #  010-1234-1234 kim
p.sub("\g<phone>    \g<name>", person_info)

'010-1234-1234    kim'

In [ ]:
p = re.compile(r"(?P<name>\w+)\s+(?P<phone>\d+[-]\d+[-]\d+)")
person_info = 'kim 010-1234-1234' #  010-1234-1234 kim
p.sub("\g<2>    \g<1>", person_info)  # 패턴의 순서로 그룹을 호출할 수도 있습니다

'010-1234-1234    kim'

# 출력 문자열 꾸미기
- print(1, a)

- 파이썬에서는 출력하고 싶은 문자열을 다양한 방법으로 꾸밀 수 있습니다.

    1. f-string
    2. format
    3. %

- 주로 아래의 방식으로 표기를 합니다.
    (d - decimal(정수) / f - float(실수) / s - string(문자열))

|데이터 예시| 출력 형식(formatting)	|출력 결과|	설명|
|-----------|-----------|---------|-----|
|10|3d|↔︎10|정수를 공백 포함해 세 자리로 표시 (↔︎은 공백 한 칸을 의미함)|
|10|05d|00010|정수를 다섯 자리로 표시. 앞의 공백은 0으로 채움|
|0.12345|.3f|0.123|실수를 소수점 셋째 자리까지 표시|
|1234000|,|1,234,000|통화 표시처럼 끝에서 셋째 자리마다 ','를 표시|
|0.1234|.1%|12.3%|숫자를 퍼센트(%)로 표시. 퍼센트 표시에서 소수점 자리 수는 '.' 다음 숫자로 표시|
|12300000000|.2e|1.23e+10|숫자를 지수로 표시. 지수 표시에서 소수점 자리 수는 '.' 다음 숫자로 표시|

In [ ]:
print('The sum of 1 + 2 = 3')

The sum of 1 + 2 = 3

In [ ]:
print(1+2)

3

- 개발자는 게으르니까 1+2 정도만 치면 3은 알아서 출력되게 하고 싶지 않았을까요?
- 그런데 문자열 안에서는 연산을 할 수가 없습니다.

## fstring
- 문자열 앞에 f를 붙여주면 됩니다
- 파이썬 3.6부터 사용 가능
- 가장 최신 문법, 가장 간결하고 직관적인 표현법

In [ ]:
print(f'The sum of 1 + 2 = { 1 + 2 }')

The sum of 1 + 2 = 3

In [ ]:
a = 1
b = 2
print(f'The sum of {a} + {b} = { a+b }')

The sum of 1 + 2 = 3

In [ ]:
a = 1
b = 2
print(F'The sum of {a} + {b} = { a+b }')

The sum of 1 + 2 = 3

In [ ]:
a = '하하하'
b = 2
print(f'The sum of {a} + {b} = { a*b }')

The sum of 하하하 + 2 = 하하하하하하

In [ ]:
a = 1.44
b = 2
print(f'The sum of {a} + {b:.2f} = { a*b }')

The sum of 1.44 + 2.00 = 2.88

In [ ]:
a = 1
b = 2
print(f'The sum of {a:04d} + {b:.2f} = { a*b }')

The sum of 0001 + 2.00 = 2

In [ ]:
a = 1242535363
b = 2
print(f'The sum of {a:,} + {b:.2f} = { a*b }')

The sum of 1,242,535,363 + 2.00 = 2485070726

In [ ]:
!python --version

Python 3.10.11

In [ ]:
a = '가나다라'

print(f'결과: {a[::-1]}')

결과: 라다나가

- 주로 아래의 방식으로 표기를 합니다.
    (d - decimal(정수) / f - float(실수) / s - string(문자열))

|데이터 예시| 출력 형식(formatting)	|출력 결과|	설명|
|-----------|-----------|---------|-----|
|10|3d|↔︎10|정수를 공백 포함해 세 자리로 표시 (↔︎은 공백 한 칸을 의미함)|
|10|05d|00010|정수를 다섯 자리로 표시. 앞의 공백은 0으로 채움|
|0.12345|.3f|0.123|실수를 소수점 셋째 자리까지 표시|
|1234000|,|1,234,000|통화 표시처럼 끝에서 셋째 자리마다 ','를 표시|
|0.1234|.1%|12.3%|숫자를 퍼센트(%)로 표시. 퍼센트 표시에서 소수점 자리 수는 '.' 다음 숫자로 표시|
|12300000000|.2e|1.23e+10|숫자를 지수로 표시. 지수 표시에서 소수점 자리 수는 '.' 다음 숫자로 표시|

In [ ]:
PI = 3.141
r = 2

print(f'파이: {round(PI, 2)}') # {표현내용}에 변수를 입력
print(f'파이: {PI:.2f}') # {표현내용}에 변수를 입력
print(f'반지름이 r인 원의 넓이: {r*r*PI:.3f}') # 반지름이 r인 원의 넓이를 소수점 셋째자리까지 출력해주시고
print(f'반지름이 r인 원의 넓이: {r*r*PI:.0f}') # float이 decimal처럼 출력됩니다(원래 자료형을 거스를 순 없다)
print(f'반지름이 r인 원의 넓이: {r**2*PI}') # r**2 : r의 거듭제곱
print(F'36만원: {360000:,}')# 360000원을 세자리수마다 ,로 끊어서 출력해주세요

파이: 3.14
파이: 3.14
반지름이 r인 원의 넓이: 12.564
반지름이 r인 원의 넓이: 13
반지름이 r인 원의 넓이: 12.564
36만원: 360,000

In [ ]:
print(f'{0.1234:.1%}')

12.3%

In [ ]:
print(f'36만원: {0.360000:.2e}')

36만원: 3.60e-01

In [ ]:
# 10
print(f'36만원: {10:^5d} 만큼')

36만원:  10   만큼

In [ ]:
# 10
print(f'36만원: {10:5d} 만큼')

36만원:    10 만큼

In [ ]:
# 10
print(f'36만원: {10:_<5d} 만큼')

36만원: 10___ 만큼

In [ ]:
# 10
print(f'36만원: {10:*>5d} 만큼')

36만원: ***10 만큼

# format
- 문자열을 추가하거나 형식화하는데 사용하는 메소드입니다.
- 파이썬3.1부터는 변수명/인덱스명을 생략 가능합니다

```
str.format(*args, **kwargs)
```

In [ ]:
a = '하하하'
b = 2
print('The sum of {} + {} = {}'.format(a, b, a*b))

The sum of 하하하 + 2 = 하하하하하하

In [ ]:
a = '하하하'
b = 2
print('The sum of {} + {} = {}'.format(a, b))

IndexError: ignored

In [ ]:
a = '하하하'
b = 2
# 튜플(순서가 있는 자료형)이기 때문에 순서대로 값을 부를 수 있습니다
print('The sum of {2} + {0} = {1}'.format(a, b, a*b))

The sum of 하하하하하하 + 하하하 = 2

In [ ]:
a = '하하하'
b = 2
# 튜플(순서가 있는 자료형)이기 때문에 순서대로 값을 부를 수 있습니다
print('The sum of {2} + {0} = {1:.2f}'.format(a, b, a*b))

The sum of 하하하하하하 + 하하하 = 2.00

In [ ]:
PI

3.141

In [ ]:
print('파이: {:.2f}'.format(PI))
print('파이: {:.3f}'.format(PI))
print('반지름이 r인 원의 넓이: {}'.format(int(r*r*PI)))
print('반지름이 r인 원의 넓이: {:.0f}'.format(r**2*PI))
print('반지름이 r인 원의 넓이: {:.3f}'.format(r**2*PI))
print('36만원: {:,}'.format(360000))
print('36만원: {:^10d} 입니다'.format(360000)) # ^ 가운데 정렬
print('36만원: {:<10d} 입니다'.format(360000)) # < 왼쪽 정렬
print('36만원: {:>10d} 입니다'.format(360000)) # > 오른쪽 정렬
print('36만원: {:^10s} 입니다'.format('삼십육만원')) # ^ 중앙 정렬
print('36만원: {:^10.3s} 입니다'.format('삼십육만원')) # ^m.n(타입) m칸짜리 중앙정렬을 하겠다. 해당변수에서 n개만 출력하겠다
print('36만원: {:!^10.3s} 입니다'.format('삼십육만원')) # ! ^m.n(타입): 빈칸을 '!'로 채워넣는 m칸짜리 중앙정렬을 하겠다. 해당변수에서 n개만 출력하겠다

파이: 3.14
파이: 3.141
반지름이 r인 원의 넓이: 12
반지름이 r인 원의 넓이: 13
반지름이 r인 원의 넓이: 12.564
36만원: 360,000
36만원:   360000   입니다
36만원: 360000     입니다
36만원:     360000 입니다
36만원:   삼십육만원    입니다
36만원:    삼십육     입니다
36만원: !!!삼십육!!!! 입니다

# % 뒤 문자열 데이터를 출력하는 방법

- %d - 정수 표현 - int / decimal (십진법)
- %s - 문자 표현 - str
- %f - 소수를 표현 - float
- 호환은 되지만 데이터 손실이 있다

In [ ]:
a = 1.5432
b = 2
add = '글자'

In [ ]:
print('The sum of %f + %d = %s' % (a, b, add))

The sum of 1.543200 + 2 = 글자

In [ ]:
print('The sum of %f + %f = %s' % (a, b, add))

The sum of 1.543200 + 2.000000 = 글자

In [ ]:
print('The sum of %.4f + %.3d = %s' % (a, b, add))

The sum of 1.5432 + 002 = 글자

- 참고 : https://pyformat.info/

In [ ]:
'{:{}{sign}{}.{}}'.format(-2.7182818284, '>', 10, 3, sign='-')

'     -2.72'

# 0. 복습

1-1. input() 함수를 활용하여 hobby라는 문자열에 취미를 1개만 입력받아주세요. 사용자가 입력하지 않으면 화면에는 아무것도 뜨지 않고 hobby 변수에만 '취미없음'이 입력되도록 프로그래밍해주세요.

In [ ]:
hobby = input() or '취미없음'   # 파이썬 인터프리터가 단락평가를 하는 점을 이용합니다

In [ ]:
hobby

'취미없음'

In [ ]:
bool(hobby)

False

1-2. input()과 split() 함수를 활용하여 hobby라는 리스트에 취미를 2개 이상 입력받아주세요. 사용자는 취미를 '/'로 구분해 입력합니다.

- 만약 사용자가 엔터를 누르면 사용자에게는 아무것도 뜨지 않고 종료됩니다. 이 경우 hobby에는 무엇이 저장되는지 확인해보세요.

In [ ]:
# 함수를 연쇄적으로 사용
hobby = input(' /로 구분해서 입력해주세요').split('/')

 /로 구분해서 입력해주세요책읽기/자전거타기

In [ ]:
hobby

['책읽기', '자전거타기']

2-1. 변수 answer에 'life is 42'를 바인딩하시고, 해당 변수를 전부 대문자로 출력하세요.

In [ ]:
answer = 'life is 42'

In [ ]:
answer.upper()

'LIFE IS 42'

In [ ]:
answer

'life is 42'

2-2. 위의 변수를 전부 소문자로 출력해보세요.

In [ ]:
answer.lower()

'life is 42'

2-3. 이번에는 capitalize 메소드를 사용하여 answer 변수에 들어있는 문장 앞 글자만 대문자가 되게 출력해보세요.

In [ ]:
answer.capitalize()

'Life is 42'

In [ ]:
answer2 = 'life is 42. but my life is 1 2 3. '

In [ ]:
for answer in answer2.split('. '):
    print(answer.capitalize())

Life is 42
But my life is 1 2 3

2-4. answer 변수에서 '42'라는 단어가 시작되는 인덱스번호를 찾아 출력해주세요.

In [ ]:
answer

''

In [ ]:
answer = 'life is 42. 4 2. 4 2 2.'

In [ ]:
answer.find('4 2')

12

In [ ]:
answer.find('-6')  # 값이 없으면 -1을 출력

-1

2-5. answer 변수에서 '42' 대신 '60'으로 숫자를 변경해보세요.

In [ ]:
answer.replace('42','60')

'life is 60. 4 2. 4 2 2.'

In [ ]:
answer

'life is 42. 4 2. 4 2 2.'

In [ ]:
answer.replace('4 2','60')

'life is 42. 60. 60 2.'

3. 아래 리스트의 각 동물이름의 첫 글자를 대문자로 변경해서 출력해보세요.
~~~
list1 = ['dog', 'cat', 'rabbit']
~~~

In [ ]:
list1 = ['dog', 'cat', 'rabbit']

for li in list1:
    print(li.capitalize())

Dog
Cat
Rabbit

4. input()으로 휴대폰 번호를 입력받고 숫자로 된 000-0000-0000의 형식이면 가장 뒷자리를 * 4개 로 변경하여 출력하고(010-0000-****), 입력 형식에 맞지 않으면 다시 입력받는 프로그램을 만들어주세요.

In [ ]:
# match(처음글자부터 일치하는지), search(전체 문자열 탐색), findall (리스트)
# finditer(전체 문자열에서 탐색하여 반복 가능한 객체)
import re
                 # (010-1234)-(5678)
p = re.compile('(?P<num1>[0-9]{3}-[0-9]{4})-(?P<num2>[0-9]{4})')

# 반복문
while True:
    num = input('휴대전화 번호 입력')

    if p.match(num):
        print(p.sub('\g<num1>-****', num))
        break

휴대전화 번호 입력011-1111-1111
011-1111-****

In [ ]:
# match(처음글자부터 일치하는지), search(전체 문자열 탐색), findall (리스트)
# finditer(전체 문자열에서 탐색하여 반복 가능한 객체)
import re
                 # (010-1234)-(5678)
p = re.compile('([0-9]{3}-[0-9]{4})-([0-9]{4})')

# 반복문
while True:
    num = input('휴대전화 번호 입력')

    if p.match(num):
        print(p.sub('\g<1>-****', num))
        break

휴대전화 번호 입력011-1111-1111
011-1111-****

5. 아래 파일 중 '파일명.확장자' 형태만 검출하는 정규식 표현을 만들어주세요.

In [ ]:
# . ^ $ * + ? { } [ ] \ | ( ) : 메타문자 - 원래 그 문자가 가진 뜻이 아닌 특별한 용도로 사용하는 문자
tests = ["test.zip", "testzip", "python.py", "test.bat"]

p = re.compile('\w+\.\w+')

for test in tests:
    print(p.match(test))

<re.Match object; span=(0, 8), match='test.zip'>
None
<re.Match object; span=(0, 9), match='python.py'>
<re.Match object; span=(0, 8), match='test.bat'>

# 문자열(텍스트 데이터)의 입/출력

# 표준 출력
- print() 는 파이썬의 표준 출력 함수입니다.
    - 표준 출력 장비(모니터)로 출력을 보내주는 함수를 의미합니다.

```
 print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)
```

텍스트 데이터인 경우
- # w : 쓰기 모드, r: 읽기 모드, a: 추가 모드

바이너리 데이터인 경우
-  # wb : 쓰기 모드, rb: 읽기 모드, ab: 추가 모드

In [ ]:
# with open(파일명, 모드) as 파일을 가리키는 약어:
with open('test.txt', 'w') as f1:
    print('안녕하세요', file=f1)

In [ ]:
# with open(파일명, 모드) as 파일을 가리키는 약어:
with open('test.txt', 'w') as f1:
    print('김연지입니다', file=f1)

In [ ]:
# with open(파일명, 모드) as 파일을 가리키는 약어:
# 들여쓰기 내부 실행문이 종료되는 순간 파일이 닫힌다
with open('test.txt', 'a') as f1:
    print('김연지입니다2', file=f1)

In [ ]:
# 파일을 여는 두번째 방법 open 함수를 이용한 변수 생성
f2 = open('test2.txt', 'w')

In [ ]:
f2

In [ ]:
f2.write('열한시 이십분')

7

In [ ]:
f2.close()

In [ ]:
f2 = open('test2.txt', 'a')

In [ ]:
print('열한시 이십일분', file=f2)

In [ ]:
f2.close()

In [ ]:
f2 = open('test2.txt', 'a')

In [ ]:
print('열한시 이십사분', file=f2, flush=True)

In [ ]:
f2.close()

In [ ]:
# with open(파일명, 모드) as 파일을 가리키는 약어:
with open('test.txt', 'w') as f1:
    for i in range(5):
        if i == 3:
            print(i, '김연지입니다', file=f1)

## 실습
```
짱구     개나리반      5세
짱아     장미반        2세
훈이     개나리반      5세
```
위 내용이 들어있는 jjanggu.csv 파일을 만들어주세요.
구분자(sep)는 콤마, end=\t (4칸씩)

In [ ]:
# comma saperated value의 약자로 쉼표 단위로 데이터를 끊어서 관리하는 자료형입니다.

with open('jjanggu.csv', 'w') as f:
    print('짱구,개나리반,5세', file=f)

In [ ]:
with open('jjanggu.csv', 'a') as f:
    print('짱아,장미반,2세', file=f)
    print('훈이','개나리반','5세', file=f, sep=',')

In [ ]:
# 기본 인코딩 방식: utf-8 (웹 표준)
# 윈도우, microsoft excel은 다른 인코딩 방식을 사용 - cp949 또는 euc-kr

In [ ]:
with open('jjanggu.csv', 'w', encoding='cp949') as f:
    # open 함수 안에 encoding 파라미터를 넣습니다
    print('짱구,개나리반,5세', file=f)

- 파일을 읽어오는 방법 ('r'모드)

    - 기본

In [ ]:
# string, iterator, list

In [ ]:
f2 = open('jjanggu.csv', 'r', encoding='cp949')
dir(f2)

['_CHUNK_SIZE',
 '__class__',
 '__del__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '_checkClosed',
 '_checkReadable',
 '_checkSeekable',
 '_checkWritable',
 '_finalizing',
 'buffer',
 'close',
 'closed',
 'detach',
 'encoding',
 'errors',
 'fileno',
 'flush',
 'isatty',
 'line_buffering',
 'mode',
 'name',
 'newlines',
 'read',
 'readable',
 'readline',
 'readlines',
 'reconfigure',
 'seek',
 'seekable',
 'tell',
 'truncate',
 'writable',
 'write',
 'write_through',
 'writelines']

In [ ]:
# 'read',
#  'readable',
#  'readline',
#  'readlines',
f2 = open('jjanggu.csv', 'r')
f2.read() # 한줄씩 꺼내기 때문에

'짱구,개나리반,5세\n짱아,장미반,2세\n훈이,개나리반,5세\n'

In [ ]:
f2.readable()

True

In [ ]:
f2 = open('jjanggu.csv', 'r')
f2.readline()

'짱구,개나리반,5세\n'

In [ ]:
f2.readline()

'짱아,장미반,2세\n'

In [ ]:
f2.readline()

'훈이,개나리반,5세\n'

In [ ]:
f2.readline()

''

In [ ]:
f2 = open('jjanggu.csv', 'r')
f2.readlines()

['짱구,개나리반,5세\n', '짱아,장미반,2세\n', '훈이,개나리반,5세\n']

In [ ]:
with open('jjanggu.csv', 'r') as f:
    for line in f.readlines():
        print(line, end='')

짱구,개나리반,5세
짱아,장미반,2세
훈이,개나리반,5세

In [ ]:
with open('jjanggu.csv', 'r') as f:
    print(f.read())

짱구,개나리반,5세
짱아,장미반,2세
훈이,개나리반,5세

실습1. 아래의 내용을 test.txt에 입력합니다. (공백 포함)
```
안녕하세요,
             만나서 반갑습니다.
```

In [ ]:
with open('test.txt', 'w') as f:
    print('''안녕하세요,
             만나서 반갑습니다.''', file=f)

In [ ]:
with open('test.txt', 'w') as f:
    f.write('''안녕하세요,
             만나서 반갑습니다.\n''')

실습2. '저는 겨울을 좋아합니다.'라는 문장을 파일에 추가해주시고요.

In [ ]:

with open('test.txt', 'a') as f:
    f.write('''저는 겨울을 좋아합니다\n''')

In [ ]:
# read, realine, readlines , readable

실습3. readlines()를 활용하여 아래와 같이 출력합니다.

```
안녕하세요.
만나서 반갑습니다.
저는 겨울을 좋아합니다.
```

In [ ]:
with open('test.txt', 'r') as f:
    for line in f.readlines():
        print(line.strip())

안녕하세요,
만나서 반갑습니다.
저는 겨울을 좋아합니다

In [ ]:
with open('test.txt', 'r') as f: # 파일 열어놓은 상태일 뿐
    while True:
        line = f.readline()
        if line == '':
            break
        print(line.lstrip(), end='')

안녕하세요,
만나서 반갑습니다.
저는 겨울을 좋아합니다

In [ ]:
f1 = open('test.txt', 'r')

In [ ]:
f1.readline()

''

- 혼자 쓰지 않는 한 파일을 열어서 입출력하고 나면 close() 메소드로 닫아주세요.

- while - 언제 끝날지 모를 때 주로 사용
- for - 특정 횟수를 반복해야 함을 알 때 주로 사용

In [ ]:
f.close()

# flush

- 스트림 객체로 바꿔서 출력을 해주고 있다 라는 뜻입니다.
- 객체를 그때그때 잘라서 보낸다

- 인터프리터 문제 : 한줄씩 읽으면서 블록단위로 실행하고 있어서
- 코랩(주피터) 확인할 수 없다

In [ ]:
%%writefile flush_true.py
# 매직메소드 - 코랩 바깥에 있는 리눅스 명령창에 명령어를 입력할 때 사용
import time

start_time = time.time()

for i in range(15):
    print(i, end=' ', flush=True)
    time.sleep(1)

end_time = time.time()
elapsed_time = end_time - start_time
print(elapsed_time)
time.sleep(2)

Writing flush_true.py

In [ ]:
%%writefile flush_false.py
# 실행해보면 마지막에 쏟아집니다

import time
start_time = time.time()
for i in range(15):
    print(i,  end=' ', flush=False)
    time.sleep(1)
end_time = time.time()
elapsed_time = end_time - start_time
print(elapsed_time)
time.sleep(2)

Writing flush_false.py

# 함수 (function)

- 수학적 의미의 함수 : 집합과 집합 사이의 관계를 표현
- 프로그래밍 언어에서는 프로그램을 이루는 기본 단위
- 수학적 의미의 함수의 개념을 차용한 형태입니다.

- 함수는
    - 똑같은 코드를 또 치고 싶지 않아서... (중복되는 명령어들을 줄일 수 있기 때문에 효율적 프로그래밍이 가능합니다)
    - 여러 명령어를 집합시켜 놓습니다.
    - 기능(동작) 단위로 분리시켜 코드를 관리하려고

    : 유지보수에 편하잖아요


```
def 함수이름(파라미터, 파라메터, ...):
    # 함수 블록
```

In [ ]:
a = '김연지' # '변수' 데이터를 메모리에 저장하기위한 방법  변수명 = 데이터

In [ ]:
def function():
    print('함수 실행됨')
    print('결과 없음')
    print('화면에만 보임')

In [ ]:
function()

함수 실행됨
결과 없음
화면에만 보임

In [ ]:
'사과나무'.find('무') # 우리가 만들지 않았는데 이미 함수를 사용하고 있었다

3

In [ ]:
dir(function())

함수 실행됨
결과 없음
화면에만 보임

['__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [ ]:
dir(function) # 어딘가에 메모리 주소에 코드가 적혀있고 그 메모리주소를 부르기 위한 변수명일 뿐

['__annotations__',
 '__builtins__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

## 다양한 형태의 함수들을 만들어보겠습니다.
- 입력이 있는 함수를 정의

In [ ]:
# 2개의 값을 받아서 더하는 함수를 만들어볼게요

def add(a, b): # 파라미터: 함수를 만들 때 해당 자리를 의미하는 값
    print(a+b)

In [ ]:
add(2, 1)  # 아규먼트(인자): 함수를 만들어 놓고 쓸 때 그 자리에 대입하는 값

3

In [ ]:
add('가', '나')

가나

In [ ]:
add([1,2,3], [1,2])

[1, 2, 3, 1, 2]

In [ ]:
add([1,2,3], [1,2])

In [ ]:
add([1,2,3], [1,2], [1,2,3])
# TypeError: add() takes 2 positional arguments but 3 were given

TypeError: ignored

In [ ]:
add(1)
# TypeError: add() missing 1 required positional argument: 'b'
# TypeError: add() takes 2 positional arguments but 3 were given

TypeError: ignored

In [ ]:
def add(total, tax): # 파라미터: 함수를 만들 때 해당 자리를 의미하는 값
    print(total, tax)

In [ ]:
add(tax=0.1, total=100) # 파라메터=아규먼트 순으로 값을 넣어주면 알아서 자기 자리를 찾아서

100 0.1

In [ ]:
'hell python'.split() # ' '가 기본값인 함수

['hell', 'python']

In [ ]:
# 2개의 값을 받아서 더하는 함수를 만들어볼게요

# 아무것도 입력 안하면 기본값(디폴트 파라미터)이 이미 입력되어 있는 함수
def add(a=0, b=1): # 파라미터: 함수를 만들 때 해당 자리를 의미하는 값
    print(a+b)

In [ ]:
add() # a=0, 1는 디폴트파라미터 사용해서 계산

1

In [ ]:
add(2) # a=2, b는 디폴트파라미터인 1 계산

3

In [ ]:
print(1,2,3,4,5,6, sep="*")

1*2*3*4*5*6

In [ ]:
a, b, *c = [1, 2, 3, 4, 5]

In [ ]:
a, b, c

(1, 2, [3, 4, 5])

In [ ]:
def add(*a, b=1): # 파라미터: 함수를 만들 때 해당 자리를 의미하는 값
    print(f'a: {a}, b: {b}')

In [ ]:
add([1, 2, 3, 4, 5, 6, 7, 8])

a: ([1, 2, 3, 4, 5, 6, 7, 8],), b: 1

In [ ]:
add(1, 2, 3, 4, 5, 6, 7, 8, '가', '나')

a: (1, 2, 3, 4, 5, 6, 7, 8, '가', '나'), b: 1

In [ ]:
def add(b=1, *a): # 파라미터: 함수를 만들 때 해당 자리를 의미하는 값
    print(f'a: {a}, b: {b}')

In [ ]:
add(5, 4, 3, 2, 1)

a: (4, 3, 2, 1), b: 5

In [ ]:
def add(c=2, b=1, *a): # 파라미터: 함수를 만들 때 해당 자리를 의미하는 값
    print(f'a: {a}, b: {b} c:{c}')

In [ ]:
add(10, 9, 8, 7, 6, 5, 4, 3, 2)
# a: (8, 7, 6, 5, 4, 3, 2), b: 9 c:10
# 파라미터가 key, 아규먼트가 value
# add{'a':*A, 'b':9, 'c':10}

TypeError: ignored

In [ ]:
def add(c=2, b=1, **a): # 파라미터: 함수를 만들 때 해당 자리를 의미하는 값
    print(f'a: {a}, b: {b} c:{c}')

In [ ]:
add(first_argu=1, second_argu=2)

a: {'first_argu': 1, 'second_argu': 2}, b: 1 c:2

- 함수 2개 만들어보겠습니다.

def minus : a, b를 뺀 결과를 출력하는 함수

def multiply :  : a, b를 곱한 결과를 출력하는 함수

In [ ]:
def minus(a, b):
    print(a-b)

In [ ]:
 minus(5, 3) # 5-3

2

In [ ]:
 minus(b=5, a=3)  # 3-5

-2

In [ ]:
def multiply(a, b):
    print(a*b)

In [ ]:
 multiply(5, 4)

20

In [ ]:
multiply(b=4, a=5)

20

In [ ]:
a = '사과나무 아래에'.split()

In [ ]:
a[0], a[1]

('사과나무', '아래에')

In [ ]:
result = multiply(5, 4)

20

In [ ]:
result

In [ ]:
result + 3 # TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

TypeError: ignored

In [ ]:
def multiply(a, b):
    return (a*b) # 함수를 종료하면서 해당 결과를
    # 메모리에 가지고 돌아가는(return) 명령어

In [ ]:
a = multiply(1, 3)

<img src="https://t1.daumcdn.net/cfile/tistory/22333F3B57446B4F34" width=300>

- 입력값은 어떻게 들어가고 있는 것일까??

- 타입에 따른 입력값 전달
    - 얕은복사랑 같은 방식으로 입력이 되고 있어요
    - 구조화된 자료는 주소를 전달하거나, int/float/str 값을 전달하거나

실습. 파라메터로 리스트를 입력받아서
        그 리스트를 거꾸로 뒤집어서 출력하는 함수를 만들어보겠습니다.함수 이름은 fun_reverse()

In [ ]:
# print
# return 시켜서 결과를 result 라는 변수에 넣고 무슨 값이 들어있나 확인해보세요

In [ ]:
li # 원래의 데이터가

def fun_reverse(list_): # list_ = li  - 함수 안에 들어갈 때는 얕은 복사로
                        # 우리가 명명한 파라미터의 이름으로 불리우게 됩니다
    print(list_[::-1])

In [ ]:
li = [1,2,3,4,5]

In [ ]:
fun_reverse(li)

[5, 4, 3, 2, 1]

In [ ]:
li2 = fun_reverse(li)

[5, 4, 3, 2, 1]

In [ ]:
li = [5, 4, 3, 2, 1]

In [ ]:
def fun_reverse(list_):
    return (list_[::-1])

In [ ]:
fun_reverse(li)

[1, 2, 3, 4, 5]

In [ ]:
li = fun_reverse(li) # 직접 어디다 저장할지 지정하도록 만들어져 있다

In [ ]:
del li

In [ ]:
li

[1, 2, 3, 4, 5]

In [ ]:
def fun_reverse(list_):
    return (list_[::-1])

In [ ]:
def fun_reverse(list_):
    return (id(list_),  list_[::-1])

In [ ]:
fun_reverse(li)

(140120840033152, [5, 4, 3, 2, 1])

In [ ]:
id(li) #

140120840033152

# 그냥 함수, 메소드(비파괴적인 함수, 파괴적인 힘수) - undestructive function, destructive function

- 왜?
- 91년에 나온 파이썬
- 메모리 효율을 위해 많은 것을 양보함 (리스트 관련 함수는 파괴적 구현)
만약 a 리스트에 10만개의 원소가 들어가 있다면?
- a는 a대로, b는 또 a에 무언가를 더해서 메모리에 저장한다면?
- 그래서 자신을 파괴(변형)시키고, 대신 다른 변수에 대입하려고 하면 None을 리턴하는 식으로 개발자에게 실수를 방지시킨다
- 이후 나온 최신 언어들은 둘다 제공, numpy 등 이후 나온 데이터 관련 패키지들도 비파괴적 함수 제공

In [ ]:
a = 'Hello'

In [ ]:
a = a.upper()

In [ ]:
a

'HELLO'

In [ ]:
li.append(5) # 원본의 배열에 변형을 가하는 함수(destructive function)
# 원본이 변경되었기 때문에 우리에게 인터프리터가 바뀐 결과를 보여주지 않습니다.

In [ ]:
li

[1, 2, 3, 4, 5, 5]

In [ ]:
'hELLO'.lower() # 원본의 배열에 변형을 가하지 않는 함수(undestructive function)들은
# 원본을 변형했을 때 어떤 결과가 나올지 인터프리터가 우리에게 보여줍니다

'hello'

# 가변인자
- 입력값이 몇개인지 정해져 있지 않은 경우

```
def 함수명(*인자):
    실행문

In [ ]:
def 함수명(*value): # 파라메터 갯수가 정해져있지 않은 함수
    print(value)

In [ ]:
함수명(1,2,3,4) # (1, 2, 3, 4) 한묶음으로 value 라는 변수로 인식

(1, 2, 3, 4)

In [ ]:
def 함수명(*value): # 파라메터 갯수가 정해져있지 않은 함수
    print(value[0], value[1])

In [ ]:
함수명(1,2,3,4) # (1, 2, 3, 4) 한묶음으로 value 라는 변수로 인식

1 2

In [ ]:
print('안녕 {} 나는 {}야'.format('!', '연지야'))

안녕 ! 나는 연지야야

- 파이썬에서 가변인자(패킹)은 튜플로 묶어서 전달이 되는구나
- 튜플은 만들어 놓으면 순서를 바꿀 수 없죠. 파라메터도 들어간 순서대로 출력 되는 거
- 그래서 튜플로 전달이 됩니다.

In [ ]:
def 함수명(*args): # 파라메터 갯수가 정해져있지 않은 함수
    print(*args)

In [ ]:
함수명(1,2,3,4,5)

1 2 3 4 5

# 변수 이름과 함께 전달할 때 사용합니다.
- 변수이름을 key로 하는 딕셔너리 형태로 묶어서 전달되기 때문입니다.

In [ ]:
def 함수명(**kwargs): # 파라메터 갯수가 정해져있지 않은 함수
    print(kwargs)

In [ ]:
함수명(a=1, b=True, c='사과')

{'a': 1, 'b': True, 'c': '사과'}

# 두 방법을 함께 사용하는 것도 가능합니다.

In [ ]:
def 함수명(*args, **kwargs): # 파라메터 갯수가 정해져있지 않은 함수
    return (*args, kwargs)

In [ ]:
함수명(1,2,True, 111, hello='python', bye='python2')

(1, 2, True, 111, {'hello': 'python', 'bye': 'python2'})

  # 변수명 없이 전달하는 값 있음 (개수는 안 정해짐) + 변수명과 함께 전달하는 값 있음(개수는 안 정해짐)
  -> 반대 경우도 가능합니다.
  unpacking 이라고 부릅니다.

In [ ]:
a,b,*c = [1,2,3,4]

In [ ]:
a,b,c

(1, 2, [3, 4])

In [ ]:
a,b,*c = [1,2,4,5]

In [ ]:
def 함수명(*args, **kwargs): # 파라메터 갯수가 정해져있지 않은 함수
    return (*args, kwargs) # return을 만나는 순간 함수는 바로 종료된다.
    return 1 # 얘들은 영원히 실행될 일이 없다.
    return True

In [ ]:
함수명(1,2,True, 111, hello='python', bye='python2')

(1, 2, True, 111, {'hello': 'python', 'bye': 'python2'})

In [ ]:
def test(a,b):
    if a>b:
        return 'a가 더 큼'
        return '그 다음 줄' # 영영 실행되지 않을 거에요
    else:
        return 'b가 더 큼'

In [ ]:
test(2,3)

'b가 더 큼'

In [ ]:
def test(a,b):
    if a>b:
        return 'a가 더 큼' # 조기 리턴
    return 'b가 더 큼'

In [ ]:
test(5,3)

'a가 더 큼'

In [ ]:
test(3,5)

'b가 더 큼'

In [ ]:
# func_reverse를 변경해주세요
# list가 아닌 값이 들어오면 'list 자료형을 입력하세요'를 return
# list가 들어오면 거꾸로 순서를 바꾸어서 리턴

def fun_reverse(list_):
    # 조건 - 자료형이 list인지 확인
    if type(list_) == list:
        return list_[::-1]
    else:
        return 'list 자료형을 입력하세요'

In [ ]:
fun_reverse('가나다라')

'list 자료형을 입력하세요'

In [ ]:
fun_reverse([1,2,3,4])

[4, 3, 2, 1]

In [ ]:
li = [1,2,3,4]

In [ ]:
isinstance(li,list) # isinstance(변수형, 자료형)

True

In [ ]:
fun_reverse(li)

[4, 3, 2, 1]


실습. 아래 코드의 결과를 예측하고 실행결과가 일치하는지 확인해보세요.

~~~
def func0(num) :
    return num * 2

def func1(num) :
    return func0(num + 2)

def func2(num) :
    num = num + 10
    return func1(num)

c = func2(2)
print(c)
~~~

In [ ]:
def func0(num) :
    return num * 2

def func1(num) :
    return func0(num + 2)

def func2(num) :
    num = num + 10
    return func1(num)

c = func2(2)
print(c)

28

In [ ]:
# 함수 안에서 함수를 실행하는 경우 Callback 함수
# 함수를 부르는 함수 - Caller, 함수 안에서 불리운 함수 - Callee

# 반환이 있는 함수
    - 실행결과를 돌려주는 경우
    - return을 사용합니다.
    - 누구한테 돌려주냐? Caller에게 Callee가 돌려주는 겁니다.
    - 함수 안에 함수가 있거나, 특정 클래스에서 클래스 바깥의 함수를 호출하거나 하면
    - 함수 안에서만 사용 가능합니다
    - return이 실행되면 함수는 바로 종료됩니다.

In [ ]:
def function():
    # return이 실행되면 함수는 바로 종료됩니다.
    return func2(1)  # return 될 때 다른 함수를 호출하건 어쩌건 return을 만나는 순간 이 함수는 종료
    return 2
    return 3
    return 4

In [ ]:
function()

26

In [ ]:
'''
이 안에 입력하시면 주석처리됩니다
'''

'\n이 안에 입력하시면 주석처리됩니다\n'

# 파이썬의 메모리 구조
![](https://velog.velcdn.com/images%2Fjinukix%2Fpost%2Ff71f41c8-d66e-4d45-af28-22766041c815%2F%EC%8A%A4%ED%81%AC%EB%A6%B0%EC%83%B7%202021-03-15%20%EC%98%A4%EC%A0%84%2011.53.19.png)
- Text 영역(코드영역) : 실행할 프로그램의 코드가 저장됨
- Data 영역: 전역 변수와 정적 변수를 저장. 프로그램 시작과 함께 할당/프로그램이 종료되면 소멸
- Stack 영역 : 지역 변수와 매개변수를 저장. 함수를 호출하면 생성되고, 실행이 완료되면 소멸됨
- Heap 영역 : 사용자의 동적 할당으로 생성되는 공간. 사용자가 공간 크기를 직접 관리

# 함수 호출 구조
- 함수는 언제 실행이 될까요?
    - 호출을 해야 실행이 됩니다 : 함수명()
    - 실행이 된다?
        - 메모리에 함수를 위한 공간이 따로 만들어진다 라는 것을 의미합니다.
        - 콜스택(호출스택)이라고 합니다.
        - 함수는 함수가 사용하는 고유의 메모리 공간을 가집니다.


- 함수는 언제 종료가 되나요?
    - 함수는 블록 내에서 더 실행할 명령어가 없으면 종료됩니다.
    - return을 만나면 종료됩니다.
    - 함수가 종료된다?
        - 함수가 사용했던 메모리가 존재하지 않게 된다는 뜻입니다.
        - 종료하면서 사용했던 메모리를 반납하고 퇴장합니다.

- 지역변수(Local Variable)
    - 변수를 메모리 주소 대신이 사용하는 이름??
    - 값을 저장하기 위해서 사용하는 메모리 위치가 두군데 있어요.
        - 글로벌 메모리
        - 로컬 메모리(함수가 사용하는 메모리)
            - 함수 안에서만 변수를 정의하면 로컬 메모리에 생성이 되고 그 변수는 지역변수 라고 부릅니다.
        - 함수가 실행되는 동안에만 유지
            - 함수가 종료되면 참조할 수 없습니다
            - 파라메터도 지역변수입니다.



- continue, break, return
    - continue break는 반복문 안에서 사용이 가능합니다.
    - return은 함수 내에서만 사용합니다.

In [ ]:
a = 'hello' # 전역변수 (Global Variable)
def function(str_):
    a = 'Hello' # 지역변수 (Local Variable)
    print(a,str_)

In [ ]:
function('신짱구')

Hello 신짱구

In [ ]:
a

'hello'

In [ ]:
a = 'hello' # 전역변수 (Global Variable)
def function(str_):
    hello = 'Hello' # 지역변수 (Local Variable)
    return (a,str_)

In [ ]:
function('신짱구')

('hello', '신짱구')

In [ ]:
hello

NameError: ignored

In [ ]:
a = 'hello' # 전역변수 (Global Variable)
def function(str_):
    global hello
    hello = 'Hello' # 지역변수 (Local Variable)
    return (a,str_)

In [ ]:
function('신짱구') # 한번은 코드를 실행해야 함

('hello', '신짱구')

In [ ]:
hello # 전역변수로 저장이 되어있는 것 확인

'Hello'

In [ ]:
# 고객 매출 담당 - price : 고객이 사는 가격
# def customer_buying():
    # price

# 매입 관련된 함수 담당 - price : 회사가 사는 가격
# def company_buying():
    # price
# 하나의 서버에서 두 함수를 쓴다면, 근데 전역변수/지역변수를 나누지 않는다면
# 헬게이트가 벌어집니다

# 코드를 동작 단위로 관리하기 위해서 - 각 동작이 꼬이지 않게 하기 위해
# 함수 안의 변수들은 지역변수로 관리하고
# 상위 들여쓰기 단위에서 사용하는 변수들은 전역변수로 관리합니다

### 전역변수 지역변수를 나누는 이유는
- 전역변수가 위험하기 때문

- 10만줄이 넘어가는 코드가 한 파일에 있다면, 그리고 여러 개발자가 작업하고 있다면?
- 변수명이 의도치 않게 겹치는 경우도 있을 것이고
- 대부분 자기가 맡은 api 안에서 지역변수를 사용하고 있을 거에요.
- 전역변수가 지역변수의 자리를 침범한다면 (지역변수가 전역변수의 자리를 침범한다면)
- 프로그램이 꼬이는 경우도 있겠죠

- 그래서 함수 안에서는 변수명이 같으면 지역변수가 우선하고요. 지역변수와 전역변수를 분리해 메모리에 저장합니다.

In [ ]:
locals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'def 함수명(*args, **kwargs): # 파라메터 갯수가 정해져있지 않은 함수\n    print(*args, **kwargs)',
  "함수(1,2,True, 111, hello='python', bye='p')",
  "함수(1,2,True, 111, hello='python', bye='p')",
  "함수명(1,2,True, 111, hello='python', bye='p')",
  "함수(1,2,True, 111, {hello='python', bye='p'})",
  "함수(1,2,True, 111, hello='python', bye='p')",
  "함수명(1,2,True, 111, hello='python', bye='p')",
  'a,b,*c = [1,2,3,4]',
  'a,b,c',
  'a,b,*c = [1,2,4,5]',
  "함수명(1,2,True, 111, hello='python', bye='python2')",
  'def 함수명(*args, **kwargs): # 파라메터 갯수가 정해져있지 않은 함수\n    return (*args, kwargs)',
  "함수명(1,2,True, 111, hello='python', bye='python2')",
  'def 함수명(*args, **kwargs): # 파라메터 갯수가 정해져있지 않은 함수\n    return (*args, kwargs)\n    return 1\n    return True',
  'def 함수명(*args, **kwargs): # 파라메터 갯수가 정해져있지 않은 함수\n    return (*args, kwargs)\n    return 1\n    return True',
  "함수명(1,2,True, 111, hello='python', bye='python2')",
  "def test(a,b):\n    if a>b:\n        return 'a가 더 큼'\n    else:\n        return 'b가 더 큼'",
  'test(2,3)',
  "def test(a,b):\n    if a>b:\n        return 'a가 더 큼'\n    return 'b가 더 큼'",
  'test(5,3)',
  "def test(a,b):\n    if a>b:\n        return 'a가 더 큼' # 조기 리턴\n    return 'b가 더 큼'",
  'test(5,3)',
  'test(3,5)',
  "# func_reverse를 변경해주세요\n# list가 아닌 값이 들어오면 'list 자료형을 입력하세요'를 return\n# list가 들어오면 거꾸로 순서를 바꾸어서 리턴\n\ndef fun_reverse(list_):\n    return list_[::-1]",
  "fun_reverse('가나다라')",
  "# func_reverse를 변경해주세요\n# list가 아닌 값이 들어오면 'list 자료형을 입력하세요'를 return\n# list가 들어오면 거꾸로 순서를 바꾸어서 리턴\n\ndef fun_reverse(list_):\n    # 조건 - 자료형이 list인지 확인\n    if type(lists_) == list:\n        return list_[::-1]\n    else:\n        return 'list 자료형을 입력하세요'",
  "fun_reverse('가나다라')",
  "# func_reverse를 변경해주세요\n# list가 아닌 값이 들어오면 'list 자료형을 입력하세요'를 return\n# list가 들어오면 거꾸로 순서를 바꾸어서 리턴\n\ndef fun_reverse(list_):\n    # 조건 - 자료형이 list인지 확인\n    if type(list_) == list:\n        return list_[::-1]\n    else:\n        return 'list 자료형을 입력하세요'",
  "fun_reverse('가나다라')",
  'fun_reverse([1,2,3,4])',
  'isinstance(li,list) # isinstance(변수형, 자료형)',
  'li = [1,2,3,4]',
  'isinstance(li,list) # isinstance(변수형, 자료형)',
  'fun_reverse(li)',
  'fun_reverse(li)',
  'def func0(num) :\n    return num * 2\n\ndef func1(num) :\n    return func0(num + 2)\n\ndef func2(num) :\n    num = num + 10\n    return func1(num)\n\nc = func2(2)\nprint(c)',
  'def function():\n    # return이 실행되면 함수는 바로 종료됩니다.\n    return 1  \n    return 2  \n    return 3\n    return 4',
  'function()',
  'def function():\n    # return이 실행되면 함수는 바로 종료됩니다.\n    return func2(1)  \n    return 2  \n    return 3\n    return 4',
  'function()',
  'def function():\n    # return이 실행되면 함수는 바로 종료됩니다.\n    return func2(1)  # return 될 때 다른 함수를 호출하건 어쩌건 return을 만나는 순간 이 함수는 종료\n    return 2  \n    return 3\n    return 4',
  'function()',
  "a = 'hello'\ndef function(str_):\n    a = 'Hello'\n    print(a,str_)",
  "function('신짱구')",
  'a',
  "a = 'hello' # 전역변수 (Global Variable)\ndef function(str_):\n    a = 'Hello' # 지역변수 (Local Variable)\n    print(a,str_)",
  "function('신짱구')",
  'a',
  "a = 'hello' # 전역변수 (Global Variable)\ndef function(str_):\n    hello = 'Hello' # 지역변수 (Local Variable)\n    return (a,str_)",
  "function('신짱구')",
  'hello',
  "a = 'hello' # 전역변수 (Global Variable)\ndef function(str_):\n    global hello # a 라는 전역변수를 선언\n    hello = 'Hello' # 지역변수 (Local Variable)\n    return (a,str_)",
  'hellp',
  'hello',
  "function('신짱구')",
  'hellp',
  'hello',
  "a = 'hello' # 전역변수 (Global Variable)\ndef function(str_):\n    global hello\n    hello = 'Hello' # 지역변수 (Local Variable)\n    return (a,str_)",
  "function('신짱구') # 한번은 코드를 실행해야 함",
  'hello # 전역변수로 저장이 되어있는 것 확인',
  '# 고객 매출 담당 - price : 고객이 사는 가격\n# def customer_buying():\n    # price\n\n# 매입 관련된 함수 담당 - price : 회사가 사는 가격 \n# def company_buying():\n    # price\n# 하나의 서버에서 두 함수를 쓴다면, 근데 전역변수/지역변수를 나누지 않는다면\n# 헬게이트가 벌어집니다 \n\n# 코드를 동작 단위로 관리하기 위해서 - 각 동작이 꼬이지 않게 하기 위해 \n# 함수 안의 변수들은 지역변수로 관리하고\n# 상위 들여쓰기 단위에서 사용하는 변수들은 전역변수로 관리합니다 ',
  'locals()'],
 '_oh': {9: (1, 2, [3, 4]),
  13: (1, 2, True, 111, {'hello': 'python', 'bye': 'python2'}),
  16: (1, 2, True, 111, {'hello': 'python', 'bye': 'python2'}),
  18: 'b가 더 큼',
  20: 'a가 더 큼',
  22: 'a가 더 큼',
  23: 'b가 더 큼',
  25: '라다나가',
  29: 'list 자료형을 입력하세요',
  30: [4, 3, 2, 1],
  33: True,
  34: [4, 3, 2, 1],
  35: [4, 3, 2, 1],
  38: 1,
  40: 26,
  42: 26,
  45: 'hello',
  48: 'hello',
  50: ('hello', '신짱구'),
  55: ('hello', '신짱구'),
  57: 'Hello',
  59: ('hello', '신짱구'),
  60: 'Hello'},
 '_dh': ['/content'],
 'In': ['',
  'def 함수명(*args, **kwargs): # 파라메터 갯수가 정해져있지 않은 함수\n    print(*args, **kwargs)',
  "함수(1,2,True, 111, hello='python', bye='p')",
  "함수(1,2,True, 111, hello='python', bye='p')",
  "함수명(1,2,True, 111, hello='python', bye='p')",
  "함수(1,2,True, 111, {hello='python', bye='p'})",
  "함수(1,2,True, 111, hello='python', bye='p')",
  "함수명(1,2,True, 111, hello='python', bye='p')",
  'a,b,*c = [1,2,3,4]',
  'a,b,c',
  'a,b,*c = [1,2,4,5]',
  "함수명(1,2,True, 111, hello='python', bye='python2')",
  'def 함수명(*args, **kwargs): # 파라메터 갯수가 정해져있지 않은 함수\n    return (*args, kwargs)',
  "함수명(1,2,True, 111, hello='python', bye='python2')",
  'def 함수명(*args, **kwargs): # 파라메터 갯수가 정해져있지 않은 함수\n    return (*args, kwargs)\n    return 1\n    return True',
  'def 함수명(*args, **kwargs): # 파라메터 갯수가 정해져있지 않은 함수\n    return (*args, kwargs)\n    return 1\n    return True',
  "함수명(1,2,True, 111, hello='python', bye='python2')",
  "def test(a,b):\n    if a>b:\n        return 'a가 더 큼'\n    else:\n        return 'b가 더 큼'",
  'test(2,3)',
  "def test(a,b):\n    if a>b:\n        return 'a가 더 큼'\n    return 'b가 더 큼'",
  'test(5,3)',
  "def test(a,b):\n    if a>b:\n        return 'a가 더 큼' # 조기 리턴\n    return 'b가 더 큼'",
  'test(5,3)',
  'test(3,5)',
  "# func_reverse를 변경해주세요\n# list가 아닌 값이 들어오면 'list 자료형을 입력하세요'를 return\n# list가 들어오면 거꾸로 순서를 바꾸어서 리턴\n\ndef fun_reverse(list_):\n    return list_[::-1]",
  "fun_reverse('가나다라')",
  "# func_reverse를 변경해주세요\n# list가 아닌 값이 들어오면 'list 자료형을 입력하세요'를 return\n# list가 들어오면 거꾸로 순서를 바꾸어서 리턴\n\ndef fun_reverse(list_):\n    # 조건 - 자료형이 list인지 확인\n    if type(lists_) == list:\n        return list_[::-1]\n    else:\n        return 'list 자료형을 입력하세요'",
  "fun_reverse('가나다라')",
  "# func_reverse를 변경해주세요\n# list가 아닌 값이 들어오면 'list 자료형을 입력하세요'를 return\n# list가 들어오면 거꾸로 순서를 바꾸어서 리턴\n\ndef fun_reverse(list_):\n    # 조건 - 자료형이 list인지 확인\n    if type(list_) == list:\n        return list_[::-1]\n    else:\n        return 'list 자료형을 입력하세요'",
  "fun_reverse('가나다라')",
  'fun_reverse([1,2,3,4])',
  'isinstance(li,list) # isinstance(변수형, 자료형)',
  'li = [1,2,3,4]',
  'isinstance(li,list) # isinstance(변수형, 자료형)',
  'fun_reverse(li)',
  'fun_reverse(li)',
  'def func0(num) :\n    return num * 2\n\ndef func1(num) :\n    return func0(num + 2)\n\ndef func2(num) :\n    num = num + 10\n    return func1(num)\n\nc = func2(2)\nprint(c)',
  'def function():\n    # return이 실행되면 함수는 바로 종료됩니다.\n    return 1  \n    return 2  \n    return 3\n    return 4',
  'function()',
  'def function():\n    # return이 실행되면 함수는 바로 종료됩니다.\n    return func2(1)  \n    return 2  \n    return 3\n    return 4',
  'function()',
  'def function():\n    # return이 실행되면 함수는 바로 종료됩니다.\n    return func2(1)  # return 될 때 다른 함수를 호출하건 어쩌건 return을 만나는 순간 이 함수는 종료\n    return 2  \n    return 3\n    return 4',
  'function()',
  "a = 'hello'\ndef function(str_):\n    a = 'Hello'\n    print(a,str_)",
  "function('신짱구')",
  'a',
  "a = 'hello' # 전역변수 (Global Variable)\ndef function(str_):\n    a = 'Hello' # 지역변수 (Local Variable)\n    print(a,str_)",
  "function('신짱구')",
  'a',
  "a = 'hello' # 전역변수 (Global Variable)\ndef function(str_):\n    hello = 'Hello' # 지역변수 (Local Variable)\n    return (a,str_)",
  "function('신짱구')",
  'hello',
  "a = 'hello' # 전역변수 (Global Variable)\ndef function(str_):\n    global hello # a 라는 전역변수를 선언\n    hello = 'Hello' # 지역변수 (Local Variable)\n    return (a,str_)",
  'hellp',
  'hello',
  "function('신짱구')",
  'hellp',
  'hello',
  "a = 'hello' # 전역변수 (Global Variable)\ndef function(str_):\n    global hello\n    hello = 'Hello' # 지역변수 (Local Variable)\n    return (a,str_)",
  "function('신짱구') # 한번은 코드를 실행해야 함",
  'hello # 전역변수로 저장이 되어있는 것 확인',
  '# 고객 매출 담당 - price : 고객이 사는 가격\n# def customer_buying():\n    # price\n\n# 매입 관련된 함수 담당 - price : 회사가 사는 가격 \n# def company_buying():\n    # price\n# 하나의 서버에서 두 함수를 쓴다면, 근데 전역변수/지역변수를 나누지 않는다면\n# 헬게이트가 벌어집니다 \n\n# 코드를 동작 단위로 관리하기 위해서 - 각 동작이 꼬이지 않게 하기 위해 \n# 함수 안의 변수들은 지역변수로 관리하고\n# 상위 들여쓰기 단위에서 사용하는 변수들은 전역변수로 관리합니다 ',
  'locals()'],
 'Out': {9: (1, 2, [3, 4]),
  13: (1, 2, True, 111, {'hello': 'python', 'bye': 'python2'}),
  16: (1, 2, True, 111, {'hello': 'python', 'bye': 'python2'}),
  18: 'b가 더 큼',
  20: 'a가 더 큼',
  22: 'a가 더 큼',
  23: 'b가 더 큼',
  25: '라다나가',
  29: 'list 자료형을 입력하세요',
  30: [4, 3, 2, 1],
  33: True,
  34: [4, 3, 2, 1],
  35: [4, 3, 2, 1],
  38: 1,
  40: 26,
  42: 26,
  45: 'hello',
  48: 'hello',
  50: ('hello', '신짱구'),
  55: ('hello', '신짱구'),
  57: 'Hello',
  59: ('hello', '신짱구'),
  60: 'Hello'},
 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x7f212e40a680>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x7f212e40ac20>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x7f212e40ac20>,
 '_': 'Hello',
 '__': ('hello', '신짱구'),
 '___': 'Hello',
 '_i': '# 고객 매출 담당 - price : 고객이 사는 가격\n# def customer_buying():\n    # price\n\n# 매입 관련된 함수 담당 - price : 회사가 사는 가격 \n# def company_buying():\n    # price\n# 하나의 서버에서 두 함수를 쓴다면, 근데 전역변수/지역변수를 나누지 않는다면\n# 헬게이트가 벌어집니다 \n\n# 코드를 동작 단위로 관리하기 위해서 - 각 동작이 꼬이지 않게 하기 위해 \n# 함수 안의 변수들은 지역변수로 관리하고\n# 상위 들여쓰기 단위에서 사용하는 변수들은 전역변수로 관리합니다 ',
 '_ii': 'hello # 전역변수로 저장이 되어있는 것 확인',
 '_iii': "function('신짱구') # 한번은 코드를 실행해야 함",
 '_i1': 'def 함수명(*args, **kwargs): # 파라메터 갯수가 정해져있지 않은 함수\n    print(*args, **kwargs)',
 '함수명': <function __main__.함수명(*args, **kwargs)>,
 '_i2': "함수(1,2,True, 111, hello='python', bye='p')",
 '_i3': "함수(1,2,True, 111, hello='python', bye='p')",
 '_i4': "함수명(1,2,True, 111, hello='python', bye='p')",
 '_i5': "함수(1,2,True, 111, {hello='python', bye='p'})",
 '_i6': "함수(1,2,True, 111, hello='python', bye='p')",
 '_i7': "함수명(1,2,True, 111, hello='python', bye='p')",
 '_i8': 'a,b,*c = [1,2,3,4]',
 'a': 'hello',
 'b': 2,
 'c': 28,
 '_i9': 'a,b,c',
 '_9': (1, 2, [3, 4]),
 '_i10': 'a,b,*c = [1,2,4,5]',
 '_i11': "함수명(1,2,True, 111, hello='python', bye='python2')",
 '_i12': 'def 함수명(*args, **kwargs): # 파라메터 갯수가 정해져있지 않은 함수\n    return (*args, kwargs)',
 '_i13': "함수명(1,2,True, 111, hello='python', bye='python2')",
 '_13': (1, 2, True, 111, {'hello': 'python', 'bye': 'python2'}),
 '_i14': 'def 함수명(*args, **kwargs): # 파라메터 갯수가 정해져있지 않은 함수\n    return (*args, kwargs)\n    return 1\n    return True',
 '_i15': 'def 함수명(*args, **kwargs): # 파라메터 갯수가 정해져있지 않은 함수\n    return (*args, kwargs)\n    return 1\n    return True',
 '_i16': "함수명(1,2,True, 111, hello='python', bye='python2')",
 '_16': (1, 2, True, 111, {'hello': 'python', 'bye': 'python2'}),
 '_i17': "def test(a,b):\n    if a>b:\n        return 'a가 더 큼'\n    else:\n        return 'b가 더 큼'",
 'test': <function __main__.test(a, b)>,
 '_i18': 'test(2,3)',
 '_18': 'b가 더 큼',
 '_i19': "def test(a,b):\n    if a>b:\n        return 'a가 더 큼'\n    return 'b가 더 큼'",
 '_i20': 'test(5,3)',
 '_20': 'a가 더 큼',
 '_i21': "def test(a,b):\n    if a>b:\n        return 'a가 더 큼' # 조기 리턴\n    return 'b가 더 큼'",
 '_i22': 'test(5,3)',
 '_22': 'a가 더 큼',
 '_i23': 'test(3,5)',
 '_23': 'b가 더 큼',
 '_i24': "# func_reverse를 변경해주세요\n# list가 아닌 값이 들어오면 'list 자료형을 입력하세요'를 return\n# list가 들어오면 거꾸로 순서를 바꾸어서 리턴\n\ndef fun_reverse(list_):\n    return list_[::-1]",
 'fun_reverse': <function __main__.fun_reverse(list_)>,
 '_i25': "fun_reverse('가나다라')",
 '_25': '라다나가',
 '_i26': "# func_reverse를 변경해주세요\n# list가 아닌 값이 들어오면 'list 자료형을 입력하세요'를 return\n# list가 들어오면 거꾸로 순서를 바꾸어서 리턴\n\ndef fun_reverse(list_):\n    # 조건 - 자료형이 list인지 확인\n    if type(lists_) == list:\n        return list_[::-1]\n    else:\n        return 'list 자료형을 입력하세요'",
 '_i27': "fun_reverse('가나다라')",
 '_i28': "# func_reverse를 변경해주세요\n# list가 아닌 값이 들어오면 'list 자료형을 입력하세요'를 return\n# list가 들어오면 거꾸로 순서를 바꾸어서 리턴\n\ndef fun_reverse(list_):\n    # 조건 - 자료형이 list인지 확인\n    if type(list_) == list:\n        return list_[::-1]\n    else:\n        return 'list 자료형을 입력하세요'",
 '_i29': "fun_reverse('가나다라')",
 '_29': 'list 자료형을 입력하세요',
 '_i30': 'fun_reverse([1,2,3,4])',
 '_30': [4, 3, 2, 1],
 '_i31': 'isinstance(li,list) # isinstance(변수형, 자료형)',
 '_i32': 'li = [1,2,3,4]',
 'li': [1, 2, 3, 4],
 '_i33': 'isinstance(li,list) # isinstance(변수형, 자료형)',
 '_33': True,
 '_i34': 'fun_reverse(li)',
 '_34': [4, 3, 2, 1],
 '_i35': 'fun_reverse(li)',
 '_35': [4, 3, 2, 1],
 '_i36': 'def func0(num) :\n    return num * 2\n\ndef func1(num) :\n    return func0(num + 2)\n\ndef func2(num) :\n    num = num + 10\n    return func1(num)\n\nc = func2(2)\nprint(c)',
 'func0': <function __main__.func0(num)>,
 'func1': <function __main__.func1(num)>,
 'func2': <function __main__.func2(num)>,
 '_i37': 'def function():\n    # return이 실행되면 함수는 바로 종료됩니다.\n    return 1  \n    return 2  \n    return 3\n    return 4',
 'function': <function __main__.function(str_)>,
 '_i38': 'function()',
 '_38': 1,
 '_i39': 'def function():\n    # return이 실행되면 함수는 바로 종료됩니다.\n    return func2(1)  \n    return 2  \n    return 3\n    return 4',
 '_i40': 'function()',
 '_40': 26,
 '_i41': 'def function():\n    # return이 실행되면 함수는 바로 종료됩니다.\n    return func2(1)  # return 될 때 다른 함수를 호출하건 어쩌건 return을 만나는 순간 이 함수는 종료\n    return 2  \n    return 3\n    return 4',
 '_i42': 'function()',
 '_42': 26,
 '_i43': "a = 'hello'\ndef function(str_):\n    a = 'Hello'\n    print(a,str_)",
 '_i44': "function('신짱구')",
 '_i45': 'a',
 '_45': 'hello',
 '_i46': "a = 'hello' # 전역변수 (Global Variable)\ndef function(str_):\n    a = 'Hello' # 지역변수 (Local Variable)\n    print(a,str_)",
 '_i47': "function('신짱구')",
 '_i48': 'a',
 '_48': 'hello',
 '_i49': "a = 'hello' # 전역변수 (Global Variable)\ndef function(str_):\n    hello = 'Hello' # 지역변수 (Local Variable)\n    return (a,str_)",
 '_i50': "function('신짱구')",
 '_50': ('hello', '신짱구'),
 '_i51': 'hello',
 '_i52': "a = 'hello' # 전역변수 (Global Variable)\ndef function(str_):\n    global hello # a 라는 전역변수를 선언\n    hello = 'Hello' # 지역변수 (Local Variable)\n    return (a,str_)",
 '_i53': 'hellp',
 '_i54': 'hello',
 '_i55': "function('신짱구')",
 'hello': 'Hello',
 '_55': ('hello', '신짱구'),
 '_i56': 'hellp',
 '_i57': 'hello',
 '_57': 'Hello',
 '_i58': "a = 'hello' # 전역변수 (Global Variable)\ndef function(str_):\n    global hello\n    hello = 'Hello' # 지역변수 (Local Variable)\n    return (a,str_)",
 '_i59': "function('신짱구') # 한번은 코드를 실행해야 함",
 '_59': ('hello', '신짱구'),
 '_i60': 'hello # 전역변수로 저장이 되어있는 것 확인',
 '_60': 'Hello',
 '_i61': '# 고객 매출 담당 - price : 고객이 사는 가격\n# def customer_buying():\n    # price\n\n# 매입 관련된 함수 담당 - price : 회사가 사는 가격 \n# def company_buying():\n    # price\n# 하나의 서버에서 두 함수를 쓴다면, 근데 전역변수/지역변수를 나누지 않는다면\n# 헬게이트가 벌어집니다 \n\n# 코드를 동작 단위로 관리하기 위해서 - 각 동작이 꼬이지 않게 하기 위해 \n# 함수 안의 변수들은 지역변수로 관리하고\n# 상위 들여쓰기 단위에서 사용하는 변수들은 전역변수로 관리합니다 ',
 '_i62': 'locals()'}

실습. 세 개의 숫자를 입력받아 if문을 활용하여 숫자들을 비교하고 가장 작은 수를 리턴하는 minimum 함수를 정의해보세요. 만약에 사용자가 값을 2개만 입력하면 나머지값은 0이 자동으로 들어갑니다.

## 양수만 넣는 걸로 가정하죠

In [ ]:
def minimum(a,b,c=0):
    m = 0
    if c == 0:
        return min(a,b)
    else:
        return min(a,b,c)

In [ ]:
minimum(1,2,3)

1

In [ ]:
minimum(1,2)

1

In [ ]:
del a,b,c

In [ ]:
# a, b, c를 전역변수로 사용하고 싶어요

def minimum(a1,b1,c1=0):
    global a,b,c
    a = a1
    b = b1
    c = c1
    return min(a1,b1,c1)

In [ ]:
minimum(3, 5, 6)

3

In [ ]:
a, b, c

(3, 5, 6)

# 함수의 다양한 종류

- 재귀함수
- 익명함수
- 함수형 문법


## 재귀함수
- 정의 단계에서 자신을 재참조하는 함수를 뜻한다. 어떤 사건이 자기 자신을 포함하고 다시 자기 자신을 사용하여 정의될 때 재귀적(recursive)이라고 한다


- 자기 자신을 호출하는 함수를 `재귀함수` 혹은 `재귀호출` 이라고 합니다.

- 재귀함수의 예시

```
어느 한 컴퓨터공학과 학생이 유명한 교수님을 찾아가 물었다.
-- "재귀함수가 뭔가요?"
-- "잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
-- 마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지. 그의 답은 대부분 옳았다고 하네.
-- 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어.
-- "재귀함수가 뭔가요?"
------ "잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
------ 마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지. 그의 답은 대부분 옳았다고 하네.
------ 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어.
------ "재귀함수가 뭔가요?"
---------- "잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
---------- 마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지. 그의 답은 대부분 옳았다고 하네.
---------- 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어.
---------- "재귀함수가 뭔가요?"
```

- 잘못쓰면 끝없이 반복되기 때문에 과거에는 만들지 말라 권장
- 요즘에는 잘 쓰면 좋다 라는 쪽으로 이해되고 있음
- 알고리즘 문제에서 완전 탐색 등에 자주 사용되기 때문에
- 입사전에 한번쯤 거치게 되실 거에요

- 최근 언어들은 최대 '재귀호출' 개수를 정해놓고 그 이상 호출되지 않도록 처음부터 방지시키는 경우도 있습니다. (파이썬은 1000개)

In [ ]:
def recursive(n):
    if n > 0:
        print('무한히 반복하는 형태')
        recursive(n-1)

recursive(8) # 기왕이면 아규먼트가 몇 번 해당 함수를 반복시킬 지 직관적으로 확인할 수 있도록 구현하는 것이 좋다.

무한히 반복하는 형태
무한히 반복하는 형태
무한히 반복하는 형태
무한히 반복하는 형태
무한히 반복하는 형태
무한히 반복하는 형태
무한히 반복하는 형태
무한히 반복하는 형태

In [ ]:
def recursive(n):
    if n < 10:
        print('무한히 반복하는 형태')
        recursive(n+1)

recursive(0)

무한히 반복하는 형태
무한히 반복하는 형태
무한히 반복하는 형태
무한히 반복하는 형태
무한히 반복하는 형태
무한히 반복하는 형태
무한히 반복하는 형태
무한히 반복하는 형태
무한히 반복하는 형태
무한히 반복하는 형태

In [ ]:
{'이름':'김연지', '나이':'20세', '취미':['자전거타기', '책보기'], '가족관계': {'형제':'김연재'}}
# str이 아니면 계속 depth 하나 떼어내기

In [ ]:
# 무한 반복으 끝낼 실마리
n = 0
while True:
    print('무한히 반복하는 형태')
    n+=1
    if n == 8:
        break

무한히 반복하는 형태
무한히 반복하는 형태
무한히 반복하는 형태
무한히 반복하는 형태
무한히 반복하는 형태
무한히 반복하는 형태
무한히 반복하는 형태
무한히 반복하는 형태

실습. 얘를 재귀함수로 만들어주세요.

```
-- "재귀함수가 뭔가요?"
-- "잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
-- 마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지. 그의 답은 대부분 옳았다고 하네.
-- 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어.
------ "재귀함수가 뭔가요?"
------ "잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
------ 마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지. 그의 답은 대부분 옳았다고 하네.
------ 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어.
---------- "재귀함수가 뭔가요?"
---------- "잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
---------- 마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지. 그의 답은 대부분 옳았다고 하네.
---------- 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어.
```

In [ ]:
def ask(n):
    s = '--'
    if n < 3:
        print(s*(2*n+1)+"재귀함수가 뭔가요?")
        print(s*(2*n+1)+ "잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.")
        print(s*(2*n+1)+"마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지. 그의 답은 대부분 옳았다고 하네.")
        print(s*(2*n+1)+"그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어.")
        ask(n+1)
ask(0)

--재귀함수가 뭔가요?
--잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
--마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지. 그의 답은 대부분 옳았다고 하네.
--그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어.
------재귀함수가 뭔가요?
------잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
------마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지. 그의 답은 대부분 옳았다고 하네.
------그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어.
----------재귀함수가 뭔가요?
----------잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
----------마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지. 그의 답은 대부분 옳았다고 하네.
----------그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어.

# 1부터 n까지 합을 구할 때

In [ ]:
sum_ = 0

for i in range(int(input('값 입력'))+1):
    sum_ += i
    print(i, sum_)

값 입력10
0 0
1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55

## 얘를 재귀함수로 바꿔볼게요

In [ ]:
def recursive_sum(n):
    if n == 1:
        return 1

    return n + recursive_sum(n-1)

In [ ]:
recursive_sum(10)

55

# 1에서 n까지 곱한 값을 구할 떄
```
5! = 5*4*3*2*1

In [ ]:
def recursive_multiply(n):

    if n == 1:
        return 1
    elif n == 0:
        return 0

    return n * recursive_multiply(n-1)

In [ ]:
recursive_multiply(5)

120

재귀함수 도전 - 할 사람만 하세요
```
example = [[1,2,3], [4,[5,6]],7,[8,[9]]]

output = [1,2,3,4,5,6,7,8,9]
```

# 익명함수

- 파이썬에는 람다(Lambda)를 활용해서 익명함수를 만들 수 있습니다.
- 함수 이름이 없기 때문에 '익명함수' 라고 부르는 거에요.
- 지금까지 우리가 함수를 만든 이유는 다시 호출하려고 였잖아요.
- 한번 사용하고 버리는 (변수명 없어도 되는) 함수를 정의할 때 사용합니다.

```
lambda 파라메터 : 명령어
```


활용
```
방법 1.
-   (lambda 매개변수들 : 식)(인수들)
방법 2.
-   객체명 = lambda 매개변수들 : 식
-   객체명(인수들)
```
- 여러줄에 걸친 복잡한 명령은 사용할 수 없습니다.
  - 한 라인에 정의 가능한(간단한)형태를 사용할 때, 유용하게 쓰입니다.

In [ ]:
 (lambda a, b : a+b)(1, 3)

4

In [ ]:
add = lambda a, b : a+b

In [ ]:
add(1, 3)

4

In [ ]:
dir(li)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
dir(add)

['__annotations__',
 '__builtins__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [ ]:
add = lambda a=1, b=1 : a+b

In [ ]:
add()

2

In [ ]:
add(3,5)

8

## 실습. plus, minus, multiply, divide라는 네 개의 함수명으로 더하기, 빼기, 곱하기, 나누기 람다식 만들기

In [ ]:
plus = lambda a,b : a+b

In [ ]:
minus = lambda a, b : a-b

In [ ]:
multiply = lambda a,b : a*b

In [ ]:
divide = lambda a, b : a/b

In [ ]:
plus(3,5)

8

In [ ]:
minus(2,5)

-3

In [ ]:
multiply(4,2)

8

In [ ]:
divide(8,3)

2.6666666666666665

# 함수형 문법

- 파이썬은 언어일 뿐, 그 언어를 어떤 스타일로 구현하는지 개발자 몫입니다.
- 프로그래밍에도 다양한 스타일이 있는데요


### 1. 절차형(Procedure) 프로그래밍
    - 내가 원하는 결과를 도출하기 위한 순서(절차) 중심으로 프로그래밍하는 방법
    - 소스코드를 함수 단위로 관리합니다
        - 언제든 호출할 수 있죠 -> 재사용성이 증가합니다
        - 소스코드의 양도 줄어듭니다
        - 관리도 편해집니다
    - 파이썬은 함수만 이용해서 코딩을 할 수도 있습니다.



### 2. 객체지향 프로그래밍
    - 함수 단위로 소스코드를 작성해서 해결이 안되는 문제들이 있습니다.
    - 함수보다 더 큰 바구니, 비슷한 주제 중심으로 변수나 함수를 묶어서 관리하는 객체지향 프로그래밍이 두각을 나타냈습니다.

```
TV를 보는 사람
  TV - 켜다
  사람 - 보다
  소파 -  기대게 해줌

TV를 옮기는 사람
 TV - 50KG
 사람 - 들다
 소파 - 필요없음

- TV (객체)
   - 켜다
   - 끄다
   - 소리를 키우다
   - 채널을 돌리다
   - LED
   - 50KG
   - 검은색

- 사람
  - 먹다
  - 보다
  - 듣다
  - 프로그래밍하다
  - 성별
  - 몸무게 NKG

- 소파
   - 흰색
   - 100KG
```
    - 해당 객체의 속성, 동작(메소드)를 주제 단위로 묶어놓고 속성/동작을 관리하기 위해서 클래스 라는 개념이 도입됐습니다.

### 3. 함수형 프로그래밍

 <img src="http://www.tcpschool.com/lectures/img_codingmath_16.png">

    - 코드를 작성하는 새로운 방법
    - 함수형 언어들은 반복문이 없습니다
    - 반복이 필요하다면 - 재귀를 이용해서 표현

- 기존 문법:
  어떤 집합 X에 대해서 Y를 정의할 때 관계를 나타내는 것이 함수
  - 프로그래밍 언어로는 완벽하게 표현할 수 없어서 버그가 발생합니다

- 기존의 프로그래밍 방법에는 반복문이 반드시 사용되어야 하는데 -> out of range 에러부터....
- 불필요한 코드도 생기고
- 통계적으로 10줄당 1개의 버그가 있대요

- 그래서 파이썬은 함수형 언어의 일부 기능을 제공합니다.
- 람다 대표적인 함수형 언어의 기능을 제공하는 방법입니다

## List Comprehension
Comprehension  - 이해력, 포함, 내포

- 기존 List를 사용해서 간단히 다른 리스트를 만드는 기법
- for + append 보다 속도가 빠릅니다.
    - for문은 실행할때마다 메모리 재할당이 발생
    - 대부분 프로그램이 느려지는 이유는 재할당 때문입니다.


```
[(변수에 적용할 수식) for (변수) in (for문이 돌아가는 범위)]
```

## for 문을 활용해서 0~11 사이에 2의 배수만 들어있는 리스트 result를 만들어주세요.

## 위의 for문을 List Comprehension으로 만들어주세요

## 실습. 얘를 리스트컴프리헨션 내의 이중 for문으로 바꿔주세요.

- 초기화된 리스트가 필요한 경우

In [ ]:
result = [ 0 for _ in range(10)]

In [ ]:
result

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
[0] * 10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

# Map
- 시퀀스 자료형 각 요소에 동일한 함수를 적용할 때
- 실행시점에 값을 생성하기 때문에 메모리 효율적

```
map(function_name, list_data)
```

## 실습. plus, minus, multiply, divide 함수를 ex라는 List에 각각 적용하기

# Map
- 시퀀스 자료형 각 원소에 동일한 function을 적용하는
- 실행시점에 값을 생성하므로 메모리 효율적

In [ ]:
ex = [1,2,3,4,5]
ex1 = [1,3,5,7,9]

## 실습. plus, minus, multiply, divide 함수를 ex라는 List에 각각 적용하기

#  filter
- 이터러블의 각 요소에 대해 function이 참인 것만 반환하는 요소의 이터레이터

```
filter(function, iterable)
```

## 리스트 컴프리헨션으로 30까지 리스트 만들어주시고
## 3의배수만 필터로 걸러내주세요.

# Enumerate & Zip
- Enumerate(열거하다)
    - 리스트의 요소를 추출할 때 번호를 붙여서 추출해 줍니다
```
enumerate(변수명)
```

- Zip (잠그다)
    - 두개의 리스트를 병렬적으로 추출함
```
zip(list, list)
```

In [ ]:
list1 = ['사과', '바나나', '딸기', '포도', '키위']

- Zip (잠그다)
    - 두개 이상의 리스트를 병렬적으로 추출함
```
zip(list, list)
```

In [ ]:
alist = ['사과', '바나나', '딸기']
blist = ['Apple', 'Banana', 'Strawberry']

Output:
```
0 사과 Apple
1 바나나 Banana
2 딸기 Strawberry
```

실습. 아래의 Input이 Output처럼 출력되도록 해 주세요.

Input:
```
subjects = ['math', 'history', 'english', 'computer engineering']
scores = [90, 80, 95, 100]
```

### Output:
```
 {'math': 90, 'history': 80, 'english': 95, 'computer engineering': 100}
 ```

실습2. 아래의 Input이 Output처럼 출력되도록 해 주세요.

Input:
```
score_tuples = [('math', 90), ('history', 80), ('english', 95), ('computer engineering', 100)]
```

### Output:
```
 {'math': 90, 'history': 80, 'english': 95, 'computer engineering': 100}
 ```

# Reduce

- reduce는 반복 가능한 객체의 각 요소를 지정된 함수로 처리한 뒤 이전 결과와 **누적해서 반환**
- reduce는 파이썬 3부터 내장 함수가 아님
- functools 모듈에서 reduce 함수를 가져와야 함
```
reduce(function, iterable, initializer=None)
```

## 0에서 10까지를 더하는 for 반복문을 만들어주세요.

In [ ]:
test2 = [{'name' : 'a', 'age' : 1}, {'name' : 'b', 'age' : 2}, {'name' : 'c', 'age' : 3}]

- 파이썬은 함수형 언어가 아닙니다
- 함수형 프로그래밍을 파이썬으로 하는 법을 한 번 살펴봤을 뿐이고요

# 모듈
- 이미 만들어진 파이썬 소스파일(라이브러리)
    - 파이썬은 모듈을 만들기 위한 추가 과정은 필요하지 않습니다.
    - 파이썬 소스파일은 모듈로 사용할 수 있습니다.
    - 재사용성을 위해서 그렇게 쓰고요

    - ipynb파일로 저장되는 코랩, 주피터 파일들은 모듈이 될 수 없습니다.
    - 모듈은 파이썬 언어로 쓰여진 py 확장자인 소스파일만 가능합니다.

# 모듈은 어디서 가져오는지??
    - 파이썬 소스파일에서 가져옵니다
    - 근데 어디있다고 알려는 줘야 합니다.
    - 그래서 모듈은 위치를 미리 지정해놓습니다.
    - 모듈은 항상 그 위치에서 가져오도록 만들어 놓습니다.

새로운 경로를 path 에 추가
- colab에서 사용할 수 있는 모듈, 패키지를 가져오는 방법
- 가져오고 싶은 모듈이 들어있는 폴더 경로를 추가해주면 됩니다
    - 파일 경로가 아닙니다
    - 파일이 들어있는 폴더의 경로입니다

# 패키지

    - 모듈(여러개 파일)을 하나로 묶어서 관리하는 것
    - 파이썬 패키지는 폴더로 관리
    - 같은 폴더에 있으면 패키지가 됩니다
    - 패키지의 이름은 폴더의 이름이 됩니다.

- 버전에 따라서 폴더를 패키지로 인식할 수도 있고 인식하지 않을 수도 있습니다. (3 이하 버전)
    - 혹시 몰라서 호환용으로
    - __init__.py 가 들어있으면 패키지로 파이썬이 인식을 합니다.
    - 파일의 내용은 없어도 됩니다.

# 여차저차 모듈을 만들어 쓰지만 이름이 너무 긴 경우

# 파이썬 소스파일의 실행

- 파이썬 인터프리터는 모듈도 따로 뭔가 할필요 없이 py이기만 하면 되고, 일반 실행파일도 py이기만 하면 됩니다.
- 그럼 이 둘을 구분할 필요가 있지 않을까요??

- 그래서 파이썬소스파일을 직접 실행하면
- 참조해서 실행할 때랑 자신을 직접 실행할 때랑 구분하는 방법이 있습니다.

    1. 자신이 직접 실행할때
        __name__ == "__main__"

    2. 모듈로 쓰여서 실행할때
        __name__ == 모듈명

출력됩니다

## 실습. modules 패키지 안에 만들어 주시고   my_area2라는 모듈을 새로 만들어주세요.

그 안에는

 triangle_area() (삼각형 넓이)
 squre_area2() (직사각형 넓이)

 를 구하는 함수를 넣어주세요.