<a href="https://colab.research.google.com/github/soiejung/PythonStudy/blob/main/%ED%95%A8%EC%88%98_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0501 복습

1. 아래 코드의 실행결과를 예측하고 혹 에러가 발생한다면 발생하는 이유에 대해 생각해보세요.

1-1.
~~~
hello()
def hello():
    print("Good Morning!")
~~~

In [ ]:
hello() # 함수를 정의하기도 전에 호출했기 때문에 에러 발생
def hello():
    print("Good Morning!")

NameError: ignored

1-2.
```
def func(a) :
    print(a)
func()
```

In [ ]:
def func(a) :
    print(a)
func() # 아규먼트를 입력하지 않았기 때문에 에러 발생

TypeError: ignored

1-3.
~~~
def func(a, b) :
    print(a * b / 2)

함수("a", 3)
~~~

In [ ]:
def func(a, b) :
    print(a * b / 2)

함수("a", 3) # 문자열에서 나눗셈 연산을 할 수 없기 때문에 에러 발생

NameError: ignored

2. if문을 활용하여 사용자로부터 시간을 입력받고 해당 시각이 정각인지를 판별하여 리턴하는 함수 on_time()을 프로그래밍해주세요.
```
>> 현재시간:02:00
정각입니다.
>> 현재시간:03:10
정각이 아닙니다
```

In [ ]:
def on_time():
    time = input('현재시간:')
    if ':00' in time:
        print('정각입니다.')
    else:
        print('정각이 아닙니다.')

In [ ]:
on_time()

현재시간:03:10
정각이 아닙니다.

3. 다음과 같이 8개의 값이 저장된 myPlaylist 리스트가 있을 때, 언패킹 방식을 사용하여 처음 2개를 제외한 나머지 값을 extra_song 변수에 바인딩해주세요.

~~~
myPlaylist = ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼', '세븐틴', 'EXO', 'NCT']
~~~

In [ ]:
myPlaylist = ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼', '세븐틴', 'EXO', 'NCT']

In [ ]:
def play(list_):
    extra_song = list_[2::]
    print(extra_song)

In [ ]:
play(myPlaylist)

['제이콜', '나스', '찬스더래퍼', '세븐틴', 'EXO', 'NCT']

4. 아래 코드의 실행 결과를 예측해보시고 생각했던 것과 결과값이 같은지 확인해보세요.

~~~
def hello() :
    print("Good Morning!")
    print("Hello")
hello()
print("Hi")
hello()

~~~

In [ ]:
def hello() :
    print("Good Morning!")
    print("Hello")
hello()
print("Hi")
hello()

Good Morning!
Hello
Hi
Good Morning!
Hello

5. 하나의 리스트를 입력받아 짝수만 화면에 출력하는 even 함수를 정의하고 출력해보세요.

```
예시리스트 : [2,3,4,5,6,7,8,111]
```

In [ ]:
def even(list_):

    for l in list_:
        if l % 2 == 0:
            print(l)

In [ ]:
even([2,3,4,5,6,7,8,111])

2
4
6
8

6. 입력 문자열을 한 줄에 세글자씩 출력하는 letters(string) 함수를 작성하고 아래 문자열을 넣어 실행해보세요.

~~~
'신짱구신짱아이센스'
~~~

In [ ]:
def letters(str_):

    row = int(len(str_)/3)
    for k in range(3):
        print(str_[k*3:k*3+3])

In [ ]:
letters('신짱구신짱아이센스')

신짱구
신짱아
이센스

7. 입력 문자열과 한 줄에 출력할 글자수를 인자로 받는 letters(string, int) 함수를 작성하고 아래 문자열을 넣어 두글자씩 실행해보세요.
- 음수는 제외, 0도 제외

~~~
윈터이즈커밍
~~~

In [ ]:
def letters(str_,int_):
    for i in range(int_+1):
        print(str_[i*int_:i*int_+int_])

In [ ]:
letters('윈터이즈커밍', 2)

윈터
이즈
커밍

8. 이름과 나이를 입력받아서 딕셔너리 형식으로 반환하는 함수 person_info()를 만들어주세요.

person_info()
- input()

In [ ]:
def person_info():
    name = input('이름을 입력해주세요: ')
    age = input('나이를 입력해주세요: ')

    return {name:age}

In [ ]:
dic = person_info()
print(dic)

이름을 입력해주세요: 정소이
나이를 입력해주세요: 23
{'정소이': '23'}

9. 좋아하는 숫자 (개수제한 없음)와 name, age를 파라메터로 입력받고 딕셔너리 형태로  함수 person_info1()을 만들어주세요.

Input:
```
person_info11(3,7,9, name='kim', age='22')
```

Output:
```
{'age': '22', 'favorNums': (3, 7, 9), 'name': 'kim'}
```

In [ ]:
def person_info1(*num, name, age):

    return {'age':age, 'favorNums': num, 'name': name}

In [ ]:
dic1 = person_info1(3,7,9, name='kim', age = '22')
print(dic1)

{'age': '22', 'favorNums': (3, 7, 9), 'name': 'kim'}